.service_how_to {
    display: flex;
    gap: 145px;

    .service_how_item {
        div {
            display: none;
        }
    }

    .service_how_item__two {
        p {
            display: none;
        }
    }
}