.facts {
    .facts__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .title {
            width: 375px;
            font-family: 'Acrom';
            font-size: 62px;
            font-style: normal;
            font-weight: 500;
            line-height: 105%; /* 65.1px */
            text-transform: capitalize;
        }

        .description {
            width: 730px;

            p {
                color: #5C5C5C;
                font-family: 'Acrom';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
                padding-left: 13px;
            }
        }
    }

    .facts__title.no-flex {
        display: block;
        margin-bottom: 70px;

        .title {
            width: 1081px;
            font-family: 'Acrom';
            font-size: 62px;
            font-style: normal;
            font-weight: 500;
            line-height: 105%; /* 65.1px */
            text-transform: capitalize;
            margin-bottom: 40px;
        }

        .description {
            width: 730px;

            p {
                color: #5C5C5C;
                font-family: 'Acrom';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
                padding-left: 13px;
            }
        }
    }



    .facts__cards {
        .cards-list {
            display: flex;
            gap: 20px;
            .fact-item {
                width: 355px;
                height: 453px;
                background-color: #1A1B1F;
                padding: 30px;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .item__info {
                    &-title {
                        max-width: 220px;
                        color: #fff;
                        font-family: 'Acrom';
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                    }

                    &-content {
                        color: #fff;
                        margin-top: 20px;
                        width: 295px;
                        font-family: 'Acrom';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

                .fact-item__circle.two {
                    display: flex;
                    height: 60px;
                    width: 150px;
                    .circle-one {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        background: #9C7CF1;
                        filter: blur(12.5px);
                        z-index: 2;
                    }

                    .circle-two {
                        position: relative;
                        margin-left: -23px;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        background: #FFBBD5;
                        filter: blur(12.5px);
                        z-index: 1;
                    }

                    .circle-three {
                        display: none;
                    }
                }

                .fact-item__circle.three {
                    display: flex;
                    height: 40px;
                    width: 150px;
                    .circle-one {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background: #9C7CF1;
                        filter: blur(12.5px);
                        z-index: 2;
                    }

                    .circle-two {
                        position: relative;
                        margin-left: -11px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background: #B1D2E0;
                        filter: blur(12.5px);
                        z-index: 3;
                    }

                    .circle-three {
                        position: relative;
                        margin-left: -51px;
                        margin-top: -21px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background: #FFBBD5;
                        filter: blur(12.5px);
                        z-index: 1;
                    }
                }
            }

            .fact-item .three {
                width: 355px;
                height: 487px;
            }

            .fact-item:nth-child(2) {
                .fact-item__circle.two {

                    .circle-one {
                        background: #FFD771;
                    }

                    .circle-two {
                        background: #9C7CF1;
                    }
                }

                .fact-item__circle.three {

                    .circle-one {
                        background: #9C7CF1;
                    }

                    .circle-two {
                        background: #B1D2E0;
                    }

                    .circle-three  {
                        background: #FFD771;
                    }
                }
            }

            .fact-item:nth-child(3) {
                .fact-item__circle.two {

                    .circle-one {
                        background: #FFBBD5;
                    }

                    .circle-two {
                        background: #FFD771;
                    }
                }

                .fact-item__circle.three {

                    .circle-one {
                        background: #9C7CF1;
                    }

                    .circle-two {
                        background: #FFD771;
                    }

                    .circle-three  {
                        background: #FFBBD5;
                    }
                }
            }

            .fact-item:nth-child(4) {
                .fact-item__circle.two {

                    .circle-one {
                        background: #B1D2E0;
                    }

                    .circle-two {
                        background: #9C7CF1;
                    }
                }

                .fact-item__circle.three {

                    .circle-one {
                        background: #FFBBD5;
                    }

                    .circle-two {
                        background: #B1D2E0;
                    }

                    .circle-three  {
                        background: #FFD771;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1650px){
    .facts {
        .facts__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 28px;

            .title {
                width: 266px;
                font-size: 44.11px;
            }

            .description {
                width: 519px;

                p {
                    font-size: 12.806px;
                    padding-left: 0px;
                }
            }
        }

        .facts__cards {
            .cards-list {
                display: flex;
                gap: 14px;
                .fact-item {
                    width: 252px;
                    height: 324px;
                    background-color: #1A1B1F;
                    padding: 21px;
                    border-radius: 17px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .item__info {
                        &-title {
                            max-width: 171px;
                            font-size: 17.075px;
                        }

                        &-content {
                            font-size: 12.806px;
                            margin-top: 14px;
                            width: 209px;
                        }
                    }

                    .fact-item__circle.two {
                        display: flex;
                        height: 42px;
                        .circle-one {
                            width: 42px;
                            height: 42px;
                        }

                        .circle-two {
                            margin-left: -23px;
                            width: 42px;
                            height: 42px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .facts {
        .facts__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .title {
                width: 507px;
                font-size: 46px;
            }

            .description {
                width: 687px;

                p {
                    font-size: 15px;
                    padding-left: 0px;
                }
            }
        }

        .facts__cards {
            .cards-list {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                .fact-item {
                    width: 274px;
                    height: 360px;
                    background-color: #1A1B1F;
                    padding: 30px;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .item__info {
                        &-title {
                            max-width: 181px;
                            font-size: 20px;
                        }

                        &-content {
                            font-size: 15px;
                            margin-top: 20px;
                            width: 274px;
                        }
                    }

                    .fact-item__circle.two {
                        display: flex;
                        height: 60px;
                        .circle-one {
                            width: 60px;
                            height: 60px;
                        }

                        .circle-two {
                            margin-left: -23px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .facts {
        .facts__title {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 30px;

            .title {
                width: 267px;
                font-size: 42px;
                margin-bottom: 20px;
            }

            .description {
                width: 343px;

                p {
                    font-size: 15px;
                    padding-left: 0px;
                }
            }
        }

        .facts__cards {
            .cards-list {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                .fact-item {
                    width: 343px;
                    height: 360px;
                    background-color: #1A1B1F;
                    padding: 30px;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .item__info {
                        &-title {
                            max-width: 181px;
                            font-size: 20px;
                        }

                        &-content {
                            font-size: 15px;
                            margin-top: 20px;
                            width: 283px;
                        }
                    }

                    .fact-item__circle.two {
                        display: flex;
                        height: 60px;
                        .circle-one {
                            width: 60px;
                            height: 60px;
                        }

                        .circle-two {
                            margin-left: -23px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}