.fqa {
    margin-top: 70px;  
    .accordion {
      width: 100%;
      list-style-type: none;
      border-top: 1px solid #E1DAF4;
      padding: 0;
    }
  
    .accordion-item {
      width: 100%;
      padding: 30px 0;
      cursor: pointer;
      border-bottom: 1px solid #E1DAF4;
    }
  
    .accordion-item:hover {
      .accordion-header {
        h2 {
          color: #935CFF;
        }
  
        .accordion-arrow {
          background-color:#935CFF;
        }
      }
    }
  
    .label-icon.label_icon_hover {
      display: inline-block;
      position: relative;
      z-index: 2;
      transform: rotate(0deg);
      background: url(../../images/plus.svg) no-repeat;
      transition: all .5s ease;
    }
  
    .accordion-header {
      display: flex;
      position: relative;
      width: 100%;
      background-color: transparent;
      cursor: pointer;
      border: none;
      align-items: center;
  
      h2 {
        width: 65%;
        font-family: 'Acrom';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        color: #1A1B1F;
        margin: 0;
        text-align: left;
      }
    }
  
    .accordion-header.active {
      color: #935CFF;
    }
    .number {
      min-width: 41px;
      margin: 0 50px 0 0;
      margin-right: 50px;
      height: min-content;
      font-family: 'Acrom';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      color: #935CFF;
    }
  
    .accordion-collapse {
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
    }
  
    .accordion-collapse.open {
      height: auto;
    }
  
    .accordion-body {
      width: 820px;
      padding: 30px 10px 0 90px;
      font-family: 'Acrom';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #5C5C5C;
      font-size: 20px;
      color: #5C5C5C;
  
      p {
        padding-top: 20px;
        margin: 0;
        word-wrap: break-word;

        a {
          color: #935cff;
        }

        a:visited {
          color: #935cff;
        }

        b{
          color:#1A1B1F;
        }
      }
  
      p:first-child {
        padding-top: 0;
      }
    }
  
    ul.answer {
      margin: 0;
      margin-top: 20px;
      list-style-type: none;
  
      li {
        margin-top: 10px;
        font-family: 'Acrom';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #5C5C5C;
  
        strong {
          color: #1A1B1F;
        }
  
        a {
          font-family: 'Acrom';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          text-decoration-line: underline;
          color: #935cff;
        }
      }
  
      li::before {
        content: '—';
        color: #5C5C5C;
        padding: 0;
        margin: 0 9px 0 0;
        display: inline-block;
        position: relative;
      }
  
      li:first-child {
        margin-top: 0;
      }
    }
  
    .accordion-arrow {
      padding: 12px 12px;
      border: 1px solid #935CFF;
      border-radius: 100%;
      margin-left: auto;
      display: block;
      width: 20px;
      height: 19px;
      transition: all .5s ease;
      z-index: -1;
    }
  
    .label-icon_white {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 21px;
      height: 21px;
      transform: rotate(45deg);
      background: url(../../images/plus.svg) no-repeat;
      transition: all .5s ease;
    }
  
    .label-icon_hover {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 21px;
      height: 21px;
      transform: rotate(0deg);
      background: url(../../images/plus.svg) no-repeat;
      transition: all .5s ease;
    }
  
    .label-icon {
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 21px;
      height: 21px;
      background: url(../../images/plus-vio.svg) no-repeat;
      transform: rotate(0deg);
    }
  
    .accordion-arrow.active {
      background-color:#935CFF;
    }
  }

@media screen and (max-width: 1366px) {
.fqa {
    margin-top: 70px;
    .accordion {
        width: 100%;
        list-style-type: none;
        border-top: 1px solid #E1DAF4;
        padding: 0;
    }
    
    .accordion-item {
    width: 100%;
        padding: 30px 0;
        cursor: pointer;
        border-bottom: 1px solid #E1DAF4;
    }
    
    .accordion-item:hover {
        .accordion-header {
        color: #935CFF;
        }
    
        .accordion-arrow {
        background-color:#935CFF;
        }
    
        .label_icon {
        background: url(../../images/plus.png) no-repeat;
        transition: all .5s ease;
        }
    }
    
    .accordion-header {
        display: flex;
        position: relative;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        border: none;
    
        h2 {
        width: 65%;
        font-family: 'Acrom';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        color: #1A1B1F;
        margin: 0;
        text-align: left;
        }
    }
    
    .accordion-header.active {
        color: #935CFF;
    }
    .number {
        min-width: 41px;
        margin: 0 50px 0 0;
        margin-right: 50px;
        height: min-content;
        font-family: 'Acrom';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        color: #935CFF;
    }
    
    .accordion-collapse {
    height: 0;
        overflow: hidden;
        transition: height 0.3s;
    }
    
    .accordion-collapse.open {
    height: auto;
    }
    
    .accordion-body {
    width: 820px;
        padding: 30px 10px 0 90px;
        font-family: 'Acrom';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #5C5C5C;
        font-size: 20px;
        color: #5C5C5C;
    
        p {
        padding-top: 20px;
        margin: 0;
        word-wrap: break-word;
        }
    
        p:first-child {
        padding-top: 0;
        }
    }
    
    ul.answer {
        margin: 0;
        margin-top: 20px;
        list-style-type: none;
    
        li {
        margin-top: 10px;
        font-family: 'Acrom';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #5C5C5C;
    
        strong {
            color: #1A1B1F;
        }
    
        a {
            font-family: 'Acrom';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            text-decoration-line: underline;
            color: #935cff;
        }
        }
    
        li::before {
        content: '—';
        color: #5C5C5C;
        padding: 0;
        margin: 0 9px 0 0;
        display: inline-block;
        position: relative;
        }
    
        li:first-child {
        margin-top: 0;
        }
    }
    
    .accordion-arrow {
        padding: 10px 10px;
        border: 1px solid #935CFF;
        border-radius: 100%;
        display: block;
        width: 18px;
        height: 18px;
        transition: all .5s ease;
    }
    
    .label-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../../images/plus-vio.svg) no-repeat;
        background-size: 18px 18px;
        transform: rotate(0deg);
    }
    
    .accordion-arrow.active {
        background-color:#935CFF;
    }
    
    .label-icon_white{
        transform: rotate(45deg);
        width: 18px;
        height: 18px;
        background: url(../../images/plus.png) no-repeat;
        background-size: 18px 18px;
        transition: all .5s ease;
    }

    .label-icon_hover {
      width: 18px;
      height: 18px;
      background: url(../../images/plus.png) no-repeat;
      background-size: 18px 18px;
    }
  }
}
      


            
    @media screen and (max-width: 1600px) {
    .accor__title {
        max-width: 556px;
    }
    
    .accor__description {
        display: flex;
        gap: 14px;
    
        p {
        margin: 0;
        min-width: 50%;
        font-family: 'Acrom';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        }
    }
}

@media screen and (max-width: 768px){
    .fqa {
        margin-top: 50px;
        .accordion {
          width: 100%;
          list-style-type: none;
          border-top: 1px solid #E1DAF4;
          padding: 0;
        }
    
        .accordion-item {
          width: 100%;
          padding: 35px 0 35px;
          cursor: pointer;
          border-bottom: 1px solid #E1DAF4;
        }
      
        .accordion-item:hover {
          .accordion-header {
            color: #935CFF;
          }
    
          .accordion-arrow {
            background-color:#935CFF;
          }
    
          .label_icon {
            background: url(../../images/plus.png) no-repeat;
            transition: all .5s ease;
          }
        }
    
        .accordion-header {
          display: flex;
          position: relative;
          width: 100%;
          background-color: transparent;
          cursor: pointer;
          border: none;
    
          h2 {
            width: 65%;
            font-family: 'Acrom';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            color: #1A1B1F;
            margin: 0;
            text-align: left;
          }
        }
    
        .accordion-header.active {
          color: #935CFF;
        }
        .number {
          min-width: 41px;
          margin: 0;
          margin-right: 15px;
          height: min-content;
          font-family: 'Acrom';
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          color: #935CFF;
          margin-right: 11px;
        }
    
        .accordion-collapse {
          height: 0;
          overflow: hidden;
          transition: height 0.3s;
        }
    
        .accordion-collapse.open {
          height: auto;
        }
    
        .accordion-body {
          width: 643px;
          padding: 30px 0 0 47px;
          font-family: 'Acrom';
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          color: #5C5C5C;
    
          p {
            padding-top: 20px;
            margin: 0;
            word-wrap: break-word;

            a {
              color: #935cff;
            }

            b{
              color:#1A1B1F;
            }
          }
    
          p:first-child {
            padding-top: 0;
          }
        }
    
        ul.answer {
          margin: 0;
          margin-top: 20px;
          list-style-type: none;
    
          li {
            margin-top: 10px;
            font-family: 'Acrom';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #5C5C5C;
      
            strong {
              color: #1A1B1F;
            }
      
            a {
              font-family: 'Acrom';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              text-decoration-line: underline;
              color: #935cff;
            }
          }
    
          li::before {
            content: '—';
            color: #5C5C5C;
            padding: 0;
            margin: 0 9px 0 0;
            display: inline-block;
            position: relative;
          }
    
          li:first-child {
            margin-top: 0;
          }
        }
    
        .accordion-arrow {
          padding: 9px 9px 10px 10px;
          border: 1px solid #935CFF;
          border-radius: 100%;
          display: block;
          width: 16px;
          height: 16px;
          transition: all .5s ease;
        }
    
        .label-icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../../images/plus-vio.svg) no-repeat;
          background-size: 16px 16px;
          transform: rotate(0deg);
        }
    
        .accordion-arrow.active {
          background-color:#935CFF;
        }
    
        .label-icon_white {
          transform: rotate(45deg);
          width: 16px;
          height: 16px;
          background: url(../../images/plus.png) no-repeat;
          background-size: 16px 16px;
          transition: all .5s ease;
        }
    
        .label-icon_hover {
          transform: rotate(0deg);
          width: 16px;
          height: 16px;
          background: url(../../images/plus.png) no-repeat;
          background-size: 16px 16px;
          transition: all .5s ease;
        }
      }
}

@media screen and (max-width: 530px){
    .fqa {
        margin-top: 50px;    
        .accordion {
          width: 100%;
          list-style-type: none;
          border-top: 1px solid #E1DAF4;
          padding: 0;
        }
    
        .accordion-item {
          width: 100%;
          padding: 35px 0 35px;
          cursor: pointer;
          border-bottom: 1px solid #E1DAF4;
        }
    
        .accordion-item:hover {
          .accordion-header {
            color: #935CFF;
          }
    
          .accordion-arrow {
            background-color:#935CFF;
          }
    
          .label_icon {
            background: url(../../images/plus.png) no-repeat;
            transition: all .5s ease;
          }
        }
    
        .accordion-header {
          display: flex;
          position: relative;
          width: 100%;
          background-color: transparent;
          cursor: pointer;
          border: none;
    
          h2 {
            width: 55%;
            font-family: 'Acrom';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            color: #1A1B1F;
            margin: 0;
            text-align: left;
          }
        }
    
        .accordion-header.active {
          color: #935CFF;
        }
        .number {
          min-width: 41px;
          margin: 0;
          margin-right: 50px;
          height: min-content;
          font-family: 'Acrom';
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          color: #935CFF;
          margin-right: 11px;
        }
    
        .accordion-collapse {
          height: 0;
          overflow: hidden;
          transition: height 0.3s;
        }
    
        .accordion-collapse.open {
          height: auto;
        }
    
        .accordion-body {
          width: 281px;
          padding: 30px 0 0 56px;
          font-family: 'Acrom';
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          color: #5C5C5C;
    
          p {
            padding-top: 20px;
            margin: 0;
            word-wrap: break-word;
          }
    
          p:first-child {
            padding-top: 0;
          }
        }
    
        ul.answer {
          margin: 0;
          margin-top: 20px;
          list-style-type: none;
    
          li {
            margin-top: 10px;
            font-family: 'Acrom';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #5C5C5C;
    
            strong {
              color: #1A1B1F;
            }
    
            a {
              font-family: 'Acrom';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              text-decoration-line: underline;
              color: #935cff;
            }
          }
    
          li::before {
            content: '—';
            color: #5C5C5C;
            padding: 0;
            margin: 0 9px 0 0;
            display: inline-block;
            position: relative;
          }
    
          li:first-child {
            margin-top: 0;
          }
        }
      }
}

@media screen and (max-width: 320px) {
    .fqa {
        margin: 50px 0 80px;
        .fqa__list {
          max-width: 310px;
          &-item {
            padding: 35px 0 75px;
    
            .fqa_label {
              max-width: 343px;
    
              .fqa_number {
                p {
                  font-size: 20px;
                }
              }
    
              .fqa_question {
                width: 238px;
                margin-left: -35px;
    
                p, p.question {
                  font-size: 20px;
                }
    
                .fqa_answer {
                  width: 298px;
                  p.answer {
                    font-size: 15px;
                  }
    
                  ul.answer {
                    padding-left: 0;
                    li {
                      font-size: 15px;
                      strong {
                        color: #1A1B1F;
                      }
    
                      a {
                        font-size: 15px;
                      }
                    }
                  }
                }
              }
    
    
    
              .fqa_icon {
                padding: 10px 12px 3px 7px;
              }
            }
    
            .accordion_toggle:checked ~ .fqa_question> p.question {
                color:#935CFF;
            }
    
            .accordion_toggle:checked ~ .fqa_question>.fqa_answer {
                padding: 30px 0 0;
                max-height: max-content;
                opacity: 1;
            }
    
            .accordion_toggle:checked ~ .fqa_icon {
              padding: 10px  9px 3px 10px;
              max-height: 27px;
              background-color:#935CFF;
            }
    
            .accordion_toggle:checked ~ .fqa_icon>span {
              transform: rotate(90deg);
              background: url(../../images/plus.png) no-repeat;
              background-size: 16px 16px;
              transition: all .5s ease;
            }
          }
    
          &-item:hover {
            .fqa_question {
              p, p.question {
                font-family: 'Acrom';
                font-size: 20px;
              }
            }
    
            .fqa_icon {
              padding: 10px 12px 3px 7px;
              max-height: 27px;
              background-color:#935CFF;
            }
    
            .fqa_icon>span {
              transform: rotate(0deg);
              background: url(../../images/plus.png) no-repeat;
              background-size: 16px 16px;
              transition: all .5s ease;
            }
          }
        }
      }
}