.logo {
  display: inline-block;
  background: url(../../images/logo.svg);
  width: 142px;
  height: 46px;
}

.arrow_black {
  display: inline-block;
  background: url(../../images/arrow_black.svg) no-repeat;
  width: 19px;
  height: 9px;
}

.arrow_white {
  display: inline-block;
  background: url(../../images/arrow_white.svg) no-repeat;
  width: 19px;
  height: 9px;
}

.react {
  display: inline-block;
  background: url(../../images/react.svg) no-repeat;
  width: 86px;
  height: 80px;
  background-size: contain;
}

.java {
  display: inline-block;
  background: url(../../images/java.svg) no-repeat;
  width: 118px;
  height: 80px;
  background-size: contain;
}

.python {
  display: inline-block;
  background: url(../../images/python.svg) no-repeat;
  width: 75px;
  height: 80px;
  background-size: contain;
}

.php {
  display: inline-block;
  background: url(../../images/php.svg) no-repeat;
  width: 155px;
  height: 80px;
  background-size: contain;
}

.golang {
  display: inline-block;
  background: url(../../images/golang.svg) no-repeat;
  width: 148px;
  height: 80px;
  background-size: contain;
}

.c_plus {
  display: inline-block;
  background: url(../../images/c++.svg) no-repeat;
  width: 69px;
  height: 80px;
  background-size: contain;
}

.node {
  display: inline-block;
  background: url(../../images/node.svg) no-repeat;
  width: 123px;
  height: 80px;
  background-size: contain;
}

.js {
  display: inline-block;
  background: url(../../images/js.svg) no-repeat;
  width: 67px;
  height: 80px;
  background-size: contain;
}

.ts {
  display: inline-block;
  background: url(../../images/ts.svg) no-repeat;
  width: 69px;
  height: 80px;
  background-size: contain;
}

.vue {
  display: inline-block;
  background: url(../../images/vue.svg) no-repeat;
  width: 78px;
  height: 80px;
  background-size: contain;
}

.net {
  display: inline-block;
  background: url(../../images/net.svg) no-repeat;
  width: 76px;
  height: 80px;
  background-size: contain;
}

.symfony {
  display: inline-block;
  background: url(../../images/symfony.svg) no-repeat;
  width: 75px;
  height: 80px;
  background-size: contain;
}

.laravel {
  display: inline-block;
  background: url(../../images/laravel.svg) no-repeat;
  width: 71px;
  height: 80px;
  background-size: contain;
}

.yii {
  display: inline-block;
  background: url(../../images/yii.svg) no-repeat;
  width: 73px;
  height: 80px;
  background-size: contain;
}

.next {
  display: inline-block;
  background: url(../../images/next.svg) no-repeat;
  width: 117px;
  height: 80px;
  background-size: contain;
}

.gatsby {
  display: inline-block;
  background: url(../../images/gatsby.svg) no-repeat;
  width: 74px;
  height: 80px;
  background-size: contain;
}

.kotlin {
  display: inline-block;
  background: url(../../images/kotlin.svg) no-repeat;
  width: 68px;
  height: 80px;
  background-size: contain;
}

.swift {
  display: inline-block;
  background: url(../../images/swift.svg) no-repeat;
  width: 68px;
  height: 80px;
  background-size: contain;
}

.puzzle {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/puzzle.svg) no-repeat;
}

.pen {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/pen.svg) no-repeat;
}

.dye {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/dye.svg) no-repeat;
}

.front {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/front.svg) no-repeat;
}

.back {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/back.svg) no-repeat;
}

.testing {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/testing.svg) no-repeat;
}

.star {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/star.svg) no-repeat;
}

.insta {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/insta.svg) no-repeat;
}
.insta:hover {
  background: url(../../images/insta_hover.svg) no-repeat;
}

.facebook {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/facebook.svg) no-repeat;
}
.facebook:hover {
  background: url(../../images/facebook_hover.svg) no-repeat;
}

.vk {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/vk.svg) no-repeat;
}
.vk:hover {
  background: url(../../images/vk_hover.svg) no-repeat;
}

.link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/link.svg) no-repeat;
}
.link:hover {
  background: url(../../images/link_hover.svg) no-repeat;
}

.behance {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/behance.svg) no-repeat;
}
.behance:hover {
  background: url(../../images/behance_hover.svg) no-repeat;
}