.logo {
  display: inline-block;
  background: url(../../images/logo.svg);
  width: 142px;
  height: 46px;
}

.logo-bpm {
  display: inline-block;
  background: url(../../images/logoBpm.svg);
  width: 46px;
  height: 46px;
}

.yellow_hand {
  display: inline-block;
  background: url(../../images/yellow_hand.svg) no-repeat;
  width: 47px;
  height: 47px;
  margin-left: 10px;
}

@media (max-width: 375px) {
  .yellow_hand {
    display: inline-block;
    background: url(../../images/yellow_hand_33.svg) no-repeat;
    width: 33px;
    height: 33px;
    margin-left: 10px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .yellow_hand {
    display: inline-block;
    background: url(../../images/yellow_hand_40.svg) no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .yellow_hand {
    display: inline-block;
    background: url(../../images/yellow_hand_40.svg) no-repeat;
    width: 33px;
    height: 33px;
    background-size: contain;
    margin-left: 5px;
  }
}

.yellow_hand_mini {
  display: inline-block;
  background: url(../../images/yellow_hand_mini.svg) no-repeat;
  width: 23px;
  height: 23px;
  margin-left: 10px;
}

.puzzle {
  display: inline-block;
  background: url(../../images/puzzle.svg) no-repeat;
  width: 47px;
  height: 47px;
  margin-left: 10px;
}

.smallpuzzle {
  display: inline-block;
  background: url(../../images/smallpuzzle.svg) no-repeat;
  width: 23px;
  height: 23px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .smallpuzzle {
    display: inline-block;
    background: url(../../images/minipuzzle.svg) no-repeat !important;
    width: 16px !important;
    height: 16px !important;
  }
  .pen {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/minipen.svg) no-repeat !important;
  }
  .dye {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/minidye.svg) no-repeat !important;
  }
  .front {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/minifront.svg) no-repeat !important;
  }
  .back {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/miniback.svg) no-repeat !important;
  }
  .testing {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/minitesting.svg) no-repeat !important;
  }
  .smallstar {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    background: url(../../images/ministar.svg) no-repeat !important;
  }
}
.minitesting {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/minitesting.svg) no-repeat;
}
.minifront {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/minifront.svg) no-repeat;
}
.minipen {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/minipen.svg) no-repeat;
}
.minipuzzle {
  display: inline-block;
  background: url(../../images/minipuzzle.svg) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.minidye {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/minidye.svg) no-repeat;
}
.miniback {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/miniback.svg) no-repeat;
}
.ministar {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background: url(../../images/ministar.svg) no-repeat;
}

.arrow_black {
  display: inline-block;
  background: url(../../images/arrow_black.svg) no-repeat;
  width: 19px;
  height: 9px;
}

.arrow_white {
  display: inline-block;
  background: url(../../images/arrow_white.svg) no-repeat;
  width: 19px;
  height: 9px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .arrow_black,
  .arrow_white {
    display: inline-block;
    width: 12px;
    height: 6px;
  }
  .arrow {
    &_black {
      background: url(../../images/arrow_black.svg) no-repeat;
      background-size: contain;
    }
    &_white {
      background: url(../../images/arrow_white.svg) no-repeat;
      background-size: contain;
    }
  }
}

.react {
  display: inline-block;
  background: url(../../images/react.svg) no-repeat;
  width: 86px;
  height: 80px;
  background-size: contain;
}

.java {
  display: inline-block;
  background: url(../../images/java.svg) no-repeat;
  width: 118px;
  height: 80px;
  background-size: contain;
}

.python {
  display: inline-block;
  background: url(../../images/python.svg) no-repeat;
  width: 75px;
  height: 80px;
  background-size: contain;
}

.php {
  display: inline-block;
  background: url(../../images/php.svg) no-repeat;
  width: 155px;
  height: 80px;
  background-size: contain;
}

.golang {
  display: inline-block;
  background: url(../../images/golang.svg) no-repeat;
  width: 148px;
  height: 55px;
  background-size: contain;
}

.c_plus {
  display: inline-block;
  background: url(../../images/c++.svg) no-repeat;
  width: 69px;
  height: 80px;
  background-size: contain;
}

.node {
  display: inline-block;
  background: url(../../images/node.svg) no-repeat;
  width: 123px;
  height: 80px;
  background-size: contain;
}

.js {
  display: inline-block;
  background: url(../../images/js.svg) no-repeat;
  width: 67px;
  height: 80px;
  background-size: contain;
}

.ts {
  display: inline-block;
  background: url(../../images/ts.svg) no-repeat;
  width: 69px;
  height: 80px;
  background-size: contain;
}

.vue {
  display: inline-block;
  background: url(../../images/vue.svg) no-repeat;
  width: 78px;
  height: 80px;
  background-size: contain;
}

.net {
  display: inline-block;
  background: url(../../images/net.svg) no-repeat;
  width: 76px;
  height: 80px;
  background-size: contain;
}

.symfony {
  display: inline-block;
  background: url(../../images/symfony.svg) no-repeat;
  width: 75px;
  height: 80px;
  background-size: contain;
}

.laravel {
  display: inline-block;
  background: url(../../images/laravel.svg) no-repeat;
  width: 71px;
  height: 80px;
  background-size: contain;
}

.yii {
  display: inline-block;
  background: url(../../images/yii.svg) no-repeat;
  width: 73px;
  height: 80px;
  background-size: contain;
}

.next {
  display: inline-block;
  background: url(../../images/next.svg) no-repeat;
  width: 117px;
  height: 80px;
  background-size: contain;
}

.gatsby {
  display: inline-block;
  background: url(../../images/gatsby.svg) no-repeat;
  width: 74px;
  height: 80px;
  background-size: contain;
}

.kotlin {
  display: inline-block;
  background: url(../../images/kotlin.svg) no-repeat;
  width: 68px;
  height: 80px;
  background-size: contain;
}

.swift {
  display: inline-block;
  background: url(../../images/swift.svg) no-repeat;
  width: 68px;
  height: 80px;
  background-size: contain;
}

.pen {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/pen.svg) no-repeat;
}

.dye {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/dye.svg) no-repeat;
}

.front {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/front.svg) no-repeat;
}

.back {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/back.svg) no-repeat;
}

.testing {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/testing.svg) no-repeat;
}

.star {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-left: 10px;
  background: url(../../images/star.svg) no-repeat;
}

.smallstar {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/smallstar.svg) no-repeat;
}

.insta {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/insta.svg) no-repeat;

  &:hover {
    background: url(../../images/insta_hover.svg) no-repeat;
  }
}

.facebook {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/facebook.svg) no-repeat;

  &:hover {
    background: url(../../images/facebook_hover.svg) no-repeat;
  }
}

.facebook_white {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/fb_white.svg) no-repeat;
}

.vk {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/vk.svg) no-repeat;

  &:hover {
    background: url(../../images/vk_hover.svg) no-repeat;
  }
}

.vk_white {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/vk_white.svg) no-repeat;
}

.link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/link.svg) no-repeat;

  &:hover {
    background: url(../../images/link_hover.svg) no-repeat;
  }
}

.link_white {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/link_white.svg) no-repeat;
}

.behance {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../images/behance.svg) no-repeat;
  &:hover {
    background: url(../../images/behance_hover.svg) no-repeat;
  }
}

.phone_icon {
  display: inline-block;
  transform: scale(-1, 1);
  width: 53px;
  height: 53px;
  margin-left: 20px;
  background: url(../../images/phone_icon.svg) no-repeat;
}

.not-found {
  display: inline-block;
  width: 669px;
  height: 238px;
  background: url(../../images/notFound.svg) no-repeat;
}

.newspaper {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url(../../images/newspaper.svg) no-repeat;
}

.notes_of_reviewes {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url(../../images/notes_of_reviewes.svg) no-repeat;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.faq {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url(../../images/fqa.svg) no-repeat;
}

.about_company {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-left: 20px;
  background: url(../../images/about_company.svg) no-repeat;
}

.plus {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../../images/close.svg) no-repeat;
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.plus.active {
  filter: invert(1);
  transition:  all 0.3s linear;;
}

.circle {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  background: url(../../images/circle.svg) no-repeat;
}

.cup {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../images/cup.svg) no-repeat;
}

.heart {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  background: url(../../images/heart.svg) no-repeat;
}

.develop {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../images/develop.svg) no-repeat;
  position: relative;
  top: -22px;
  left: 6px;
}

.computer {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  background: url(../../images/pc.svg) no-repeat;
}

.laptop {
  display: inline-block;
  min-width: 37px;
  height: 37px;
  background: url(../../images/laptop-icon.svg) no-repeat;
  margin-top: 27px;
  margin-left: 27px;
}

.light {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../../images/light.svg) no-repeat;
}

.service {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 20px;
  background: url(../../images/service-icon.svg) no-repeat;
}

.support {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/support.svg) no-repeat;
}

.health {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/health.svg) no-repeat;
}
.tele {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/tele.svg) no-repeat;
}
.enter {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/enter.svg) no-repeat;
}
.retail {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/retail.svg) no-repeat;
}
.fin {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/fin.svg) no-repeat;
}
.marketing {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/marketing.svg) no-repeat;
}
.log {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/log.svg) no-repeat;
}
.edu {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(../../images/edu.svg) no-repeat;
}

.clapp-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../../images/clapp-icon.svg) no-repeat;
}

.power-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../../images/power-icon.svg) no-repeat;
}

@media screen and (max-width: 1920px) {
  .phone_icon {
    background-size: 47px 47px;
  }
}


@media screen and (max-width: 1650px) {
  .notes_of_reviewes {
    display: inline-block;
    background: url(../../images/notes_of_reviewes.svg) no-repeat;
    margin-left: 13px;
    top: 20px;
    background-size: 33px 33px;
  }

  .faq {
    display: inline-block;
    background-size: 33px 33px;
    background: url(../../images/fqa.svg) no-repeat;
  }

  .label_icon {
    display: inline-block;
    background: url(../../images/plus-vio.svg) no-repeat;
    background-size: 15px 15px;
    transform: rotate(0deg);
  }

  .plus {
    display: inline-block;
    background-size: 10px 10px;
    background: url(../../images/close.svg) no-repeat;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }

  .phone_icon {
    position: relative;
    display: inline-block;
    transform: scale(-1, 1);
    margin-left: -6px;
    top: 17px;
    background: url(../../images/phone_icon.svg) no-repeat;
    background-size: 33px 33px;
  }

  .cup {
    display: inline-block;
    background: url(../../images/cup.svg) no-repeat;
    background-size: 28px 28px;
  }
  .heart {
    display: inline-block;
    background: url(../../images/heart.svg) no-repeat;
    background-size: 35px 35px;
  }

  .develop {
    display: inline-block;
    background: url(../../images/develop.svg) no-repeat;
    background-size: 17px 17px;
    position: relative;
    top: -15px;
    left: 0px;
  }

  .computer {
    display: inline-block;
    background: url(../../images/pc.svg) no-repeat;
    background-size: 24px 24px;
  }

  .light {
    display: inline-block;
    background: url(../../images/light.svg) no-repeat;
    background-size: 30px 30px;
  }

  .circle {
    display: inline-block;
    background: url(../../images/circle.svg) no-repeat;
    background-size: 18px 18px;
  }
}

@media screen and (max-width: 768px) {
  .notes_of_reviewes {
    display: inline-block;
    background: url(../../images/notes_of_reviewes.svg) no-repeat;
    margin-left: 10px;
    top: 17px;
    background-size: 34px 34px;
  }

  .faq {
    display: inline-block;
    background-size: 34px 34px;
    background: url(../../images/fqa.svg) no-repeat;
  }

  .label_icon {
    display: inline-block;
    background: url(../../images/plus-vio.svg) no-repeat;
    background-size: 16px 16px;
    transform: rotate(0deg);
  }

  .circle {
    display: inline-block;
    background: url(../../images/circle.svg) no-repeat;
    background-size: 16px 16px;
    margin: 0 27px 0 15px;
  }
}

@media screen and (max-width: 450px) {
  .notes_of_reviewes {
    display: inline-block;
    background: url(../../images/notes_of_reviewes.svg) no-repeat;
    margin-left: 10px;
    top: 17px;
    background-size: 34px 34px;
  }

  .faq {
    display: inline-block;
    background-size: 34px 34px;
    top: 80px;
    position: absolute;
    margin-left: 10px;
    background: url(../../images/fqa.svg) no-repeat;
  }

  .about_company {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    background: url(../../images/about_company.svg) no-repeat;
    background-size: 34px 34px;
  }

  .circle {
    display: inline-block;
    background: url(../../images/circle.svg) no-repeat;
    background-size: 16px 16px;
    margin: 6px 12px 0 12px;
  }
}
