.leaders_choice {
    .leaders_choice__block_title {
      color: #5c5c5c;
      margin-bottom: 16px;
    }
  
    .leaders_choice__block {
      color: #5c5c5c;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
  
      .leaders_choice_block_list {
        ul {
          margin: 0;
          padding: 0;
  
          li {
            display: flex;
            list-style: none;
            margin-bottom: 14px;
  
            &:last-child {
              margin-bottom: 0;
            }
  
            &::before {
              display: block;
              content: url("../../images/list_line.svg");
              position: relative;
              bottom: 5px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
  
  .leaders_choice_tagline {
    margin: 271px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    .leaders_choice_tagline__block {
      display: flex;
      margin-bottom: 59px;
  
      .leaders_choice_tagline_block_title {
        font-weight: 500;
        font-size: 62px;
        line-height: 105%;
        color: #1a1b1f;
      }
  
      .leaders_choice_tagline_block_gif {
        display: flex;
        .circle-video, video {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: -20px;
  
          &:first-child {
            margin-left: 26px;
          }
        }
      }
    }
  
    .leaders_choice_tagline__butn {
      margin-right: 20px;
      button {
        padding: 22px 40px;
        font-family: "Acrom", sans-serif;
        font-weight: 500;
  
        span {
          margin-left: 14px;
        }
      }
      .button_white {
        padding: 22px 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #1a1b1f;
        font-family: "Acrom", sans-serif;
        transition: all 0.3s linear;
        span {
          margin-left: 14px;
        }
        :hover {
          color: #ffffff;
          background: #1a1b1f;
          transition: all 0.3s linear;
          cursor: pointer;
        }
      }
    }
}

@media screen and (max-width: 1600px) {
    .leaders_choice_tagline {
        margin: 230px 0;
    
        .leaders_choice_tagline__block {
    
          .leaders_choice_tagline_block_title {
            font-size: 44px;
          }
    
          .leaders_choice_tagline_block_gif {
            img {
              width: 52px;
              height: 52px;
              margin-left: -10px;
    
              &:first-child {
                margin-left: 20px;
              }
            }
          }
        }
    
        .leaders_choice_tagline__butn {
          button {
            padding: 16px 29px;
    
            span {
              margin-left: 9px;
            }
          }
        }
      }
}


@media screen and (max-width: 768px) {
    .leaders_choice {
        .leaders_choice__block_title {
          margin-bottom: 14px;
        }
    
        .leaders_choice__block {
          grid-template-columns: 1fr;
          grid-column-gap: 0;
    
          .leaders_choice_block_list {
            ul {
              li {
                margin-bottom: 14px;
              }
    
              .font_18 {
                font-size: 16px;
              }
            }
          }
        }
      }
    
      .leaders_choice_tagline {
        margin: 184px 0 207px 0;
    
        .leaders_choice_tagline__block {
          .leaders_choice_tagline_block_title {
            font-size: 46px;
          }
    
          .leaders_choice_tagline_block_gif {
            img {
              width: 64px;
              height: 64px;
              margin-left: -20px;
    
              &:first-child {
                margin-left: 26px;
              }
            }
          }
        }
    
        .leaders_choice_tagline__butn {
          button {
            padding: 22px 40px;
    
            span {
              margin-left: 14px;
            }
          }
        }
    }
}

@media screen and (max-width: 530px){
    .leaders_choice_tagline {
        margin: 80px 0 84px 0;
    
        .leaders_choice_tagline__block {
          flex-direction: column;
          align-items: center;
    
          .leaders_choice_tagline_block_title {
            font-size: 42px;
            text-align: center;
          }
    
          .leaders_choice_tagline_block_gif {
            margin-left: -85px;
            img {
              width: 48px;
              height: 48px;
              margin-left: -10px;
    
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
    }
}