@import url("./stylesheet.css");
body {
  font-family: "Acrom", sans-serif;
  line-height: 150%;
  margin: 0px;
  font-family: "Acrom";
}

.container {
  margin: 0px auto;
  padding: 0px 210px;
}

.header {
  border-bottom: 2px solid #F0EFF1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
.header__nav {
  padding: 24px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header_nav_list ul {
  margin: 0px;
  padding: 0px;
}
.header__nav .header_nav_list ul li {
  display: inline-block;
}
.header__nav .header_nav_list ul li:last-child a {
  margin-right: 0px;
}
.header__nav .header_nav_list ul li a {
  text-decoration: none;
  margin-right: 60px;
  color: #1A1B1F;
  font-weight: 500;
}
.header__nav .header_nav_list ul li a:hover {
  color: #935CFF;
  cursor: pointer;
}

.burger {
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -3px;
}
.burger:after {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -51px;
}
.burger:before {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -5px;
}

.active_link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
}
.active_link::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  z-index: -1;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #935CFF;
  color: #935CFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.active_link:hover {
  color: #935CFF;
}
.active_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown_services_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.dropdown_services_sticky .dropdown_services {
  display: flex;
  position: absolute;
  left: 16.5%;
}
.dropdown_services_sticky .dropdown_services__title {
  font-family: "Acrom";
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #FFFFFF;
  background: #9C7CF1;
  padding: 60px 170px 0px 60px;
  border-radius: 20px 0px 0px 20px;
}
.dropdown_services_sticky .dropdown_services__info {
  background: #fff;
  padding: 60px 219px 125px 100px;
  border-radius: 0px 20px 20px 0px;
}
.dropdown_services_sticky .dropdown_services__info ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 57px;
  margin: 0px;
  padding: 0px;
}
.dropdown_services_sticky .dropdown_services__info ul li:not(:last-child) {
  margin-bottom: 16px;
}
.dropdown_services_sticky .dropdown_services__info ul li a {
  font-family: "Acrom";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1A1B1F;
  text-decoration: none;
}
.dropdown_services_sticky .dropdown_services__info ul li a:hover {
  color: #9C7CF1;
}

.phone_butn {
  float: right;
  padding-right: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 734px;
  z-index: 3;
}
.phone_butn .phone {
  background: #9C7CF1 url(../../images/phone_butn_text.svg) no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
  position: relative;
}
.phone_butn .phone:hover {
  cursor: pointer;
  background: #935CFF url(../../images/phone_butn_text.svg) no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: relative;
  background-size: contain;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.phone_butn span {
  position: absolute;
  top: 30%;
  right: 51%;
}
.phone_butn span:hover {
  cursor: pointer;
}

.modal {
  height: 100%;
  width: 100vw;
  background-color: rgba(26, 27, 31, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.modal__content {
  background: #1A1B1F;
  border-radius: 40px;
}
.modal__content .form {
  grid-template-columns: 605px 455px;
  padding: 40px 40px 100px 80px;
}
.modal__content .form__block .form_block_text {
  font-size: 16px;
}
.modal__content .form__block .form_block_text .form_block_gif {
  margin-left: 12px;
}
.modal__content .form__block .form_block_modal_button {
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 100px;
  transform: rotate(45deg);
  margin-top: 12px;
}
.modal__content .form__block .form_block_modal_button:hover {
  cursor: pointer;
}
.modal__content .form__block .form_block_modal_button::after {
  content: "";
  display: inline-block;
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 100px;
  transform: rotate(90deg);
  position: relative;
  top: -15px;
}
.modal__content .form__block:first-child {
  margin-top: 40px;
}
.modal__content .form__block:last-child {
  display: flex;
  justify-content: end;
}

.thanks_modal {
  display: none;
}
.thanks_modal .thanks_modal_content .form {
  grid-template-columns: 635px 425px;
  padding: 40px 40px 330px 80px;
  background: url(../../images/purple_ball.svg) 90% 15% no-repeat, url(../../images/yellow_ball.svg) 50% 105% no-repeat;
}
.thanks_modal .thanks_modal_content .form__block .form_block_wrapper form {
  padding-top: 0px;
}
.thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif {
  margin-left: 16px;
}

.photo {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  width: 80%;
}
.photo .photo_block {
  display: block;
  width: 100%;
  height: 360px;
  border-radius: 25px;
}
.photo .photo_description {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
.photo .photo_description .photo_tags {
  width: 60%;
}
.photo .photo_description .photo_tags ul li {
  margin-right: 20px;
}
.photo .photo_description .photo_duration {
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  width: 25%;
}
.photo .photo_description .photo_date {
  width: 15%;
  text-align: end;
}

.post_title {
  margin-top: 72px;
}
.post_title__title {
  line-height: 100%;
  max-width: 65%;
  font-size: 80px;
  margin-bottom: 20px;
  color: #1A1B1F;
  font-weight: 500;
}

.content_post {
  width: 80%;
  background: #E1DAF4;
  border-radius: 25px;
  margin-bottom: 60px;
}
.content_post__block {
  padding-top: 40px;
  padding-bottom: 48px;
}
.content_post__block .content_title {
  margin-left: 40px;
  padding-bottom: 8px;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #1A1B1F;
}
.content_post__block .content_item {
  margin-left: 40px;
  padding-top: 24px;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #1A1B1F;
}
.content_post__block .content_item :hover {
  cursor: pointer;
  color: #935CFF;
}

.content_text {
  width: 80%;
}

.hero {
  margin-top: 188px;
}
.hero__title {
  line-height: 100%;
  max-width: 65%;
  font-size: 80px;
  margin-bottom: 20px;
  color: #1A1B1F;
  font-weight: 500;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #5C5C5C;
  max-width: 55%;
  margin-bottom: 48px;
}
.hero__butn .button_white {
  padding: 22px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
  font-family: "Acrom";
}
.hero__butn .button_white span {
  margin-left: 14px;
}
.hero__butn :hover {
  cursor: pointer;
}
.hero__butn__butntag .button_item_tag {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
  font-family: "Acrom";
  margin: 0.4rem;
}
.hero__butn__butntag .button_item_tag :hover {
  cursor: pointer;
}
.hero__butn__butntag .button_item_tag span {
  margin-left: 14px;
}
.hero__butn__butntag .button_item_tag .not_visible {
  visibility: hidden;
}

.it_company {
  margin-top: 308px;
  display: flex;
  justify-content: space-between;
}
.it_company__title {
  max-width: 20%;
  margin-bottom: 0px !important;
}
.it_company__info {
  max-width: 50%;
  color: #5C5C5C;
  margin-bottom: 0px !important;
  line-height: 27px;
}

.portfolio__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: 1%;
  grid-row-gap: 0.5%;
}
.portfolio__products .portfolio_products_block {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic img {
  width: 100%;
  margin-bottom: 0px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list ul li {
  margin-right: 20px;
}
.portfolio__products .portfolio_products_block_title {
  color: #1A1B1F;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
}

.class_link {
  text-decoration: none;
  color: #1A1B1F;
}

.portfolio_link {
  position: relative;
  text-decoration: none;
  color: #935CFF;
}
.portfolio_link::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  z-index: -1;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #935CFF;
  color: #935CFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.portfolio_link:hover::after {
  color: #935CFF;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.blogs {
  display: flex;
  justify-content: space-between;
}
.blogs__products {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 67%;
}
.blogs__products .blogs_products_block {
  width: 45%;
  margin-bottom: 20px;
}
.blogs__products .blogs_products_block .blogs_products_block_pic {
  margin-bottom: 24px;
}
.blogs__products .blogs_products_block .blogs_products_block_pic img {
  width: 100%;
  margin-bottom: 0px;
}
.blogs__products .blogs_products_block .blogs_products_block_list {
  margin-bottom: 24px;
  display: flex;
}
.blogs__products .blogs_products_block .blogs_products_block_list .blogs_products_block_list_date {
  width: 30%;
}
.blogs__products .blogs_products_block .blogs_products_block_list .blogs_products_block_list_tags {
  width: 70%;
}
.blogs__products .blogs_products_block .blogs_products_block_list .blogs_products_block_list_tags ul li {
  margin-right: 20px;
}
.blogs__products .blogs_products_block_title {
  color: #1A1B1F;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
}
.blogs__topics {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 33%;
}
.blogs__topics .blogs_topics_block .blogs_topics_block_list {
  display: flex;
  flex-direction: column;
}
.blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_topics {
  width: 100%;
  margin-bottom: 60px;
}
.blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_category {
  margin-bottom: 60px;
  width: 100%;
}
.blogs__topics .blogs_topics_block_title {
  color: #1A1B1F;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
  margin-bottom: 1%;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
}
.contacts__contact {
  width: 38%;
}
.contacts__contact .contacts_table {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.contacts__contact .contacts_table .contacts_label {
  width: 35%;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1A1B1F;
}
.contacts__contact .contacts_table .contacts_label ul {
  padding: 0px;
  margin: 0px;
}
.contacts__contact .contacts_table .contacts_label ul li {
  display: flex;
  list-style: none;
  margin-bottom: 80px;
}
.contacts__contact .contacts_table .contacts_value {
  width: 60%;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #1A1B1F;
}
.contacts__contact .contacts_table .contacts_value ul {
  padding: 0px;
  margin: 0px;
}
.contacts__contact .contacts_table .contacts_value ul li {
  display: flex;
  list-style: none;
  margin-bottom: 60px;
  margin-right: 10px;
}
.contacts__contacts_form {
  width: 60%;
}
.contacts__contacts_form .contact_form {
  border-radius: 40px;
  padding: 0px 125px 10px 98px;
  display: grid;
  grid-template-columns: 1.03fr 0.97fr;
  background-position: 110px 165px;
}
.contacts__contacts_form .contact_form__block {
  color: #1A1B1F;
  width: 230%;
}
.contacts__contacts_form .contact_form__block .contact_form_block_buttons_title {
  width: 100%;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1A1B1F;
}
.contacts__contacts_form .contact_form__block .contact_form_block_buttons {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 40px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_title {
  color: #1A1B1F;
  margin-bottom: 0px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 38px 0px 15px 0px;
  max-width: 507px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_text {
  display: flex;
  align-items: center;
}
.contacts__contacts_form .contact_form__block .contact_form_block_text b {
  font-weight: 400;
}
.contacts__contacts_form .contact_form__block .contact_form_block_text i {
  display: none;
}
.contacts__contacts_form .contact_form__block .contact_form_block_text p {
  font-size: 18px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_email a {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: #1A1B1F;
}
.contacts__contacts_form .contact_form__block p {
  margin: 0px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form {
  padding-top: 40px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper {
  position: relative;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:first-child {
  margin-bottom: 78px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:nth-child(2) {
  margin-bottom: 58px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input {
  color: #1A1B1F;
  font-weight: 500;
  line-height: 100%;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #1A1B1F;
  width: 100%;
  padding-bottom: 10px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:focus ~ label,
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:valid ~ label {
  top: -40px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: -40px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white {
  padding: 22px 40px;
  font-family: "Acrom";
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white span {
  margin-left: 14px;
}
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send p {
  max-width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0px;
}

.map_of_location {
  display: flex;
  width: 100%;
  height: 480px;
}

.form {
  background: #1A1B1F url(../../images/form_gradient.svg) no-repeat;
  border-radius: 40px;
  padding: 100px 125px 100px 98px;
  display: grid;
  grid-template-columns: 1.03fr 0.97fr;
  background-position: 110px 165px;
}
.form__block {
  color: #FFFFFF;
}
.form__block .form_block_title {
  color: #FFFFFF;
  margin-bottom: 0px;
}
.form__block .form_block_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 38px 0px 15px 0px;
  max-width: 507px;
}
.form__block .form_block_text {
  display: flex;
  align-items: center;
}
.form__block .form_block_text b {
  font-weight: 400;
}
.form__block .form_block_text i {
  display: none;
}
.form__block .form_block_text p {
  font-size: 18px;
}
.form__block .form_block_text .form_block_gif {
  margin-left: 9px;
}
.form__block .form_block_text .form_block_gif img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.form__block .form_block_text .form_block_gif img:not(:first-child) {
  margin-left: -10px;
}
.form__block .form_block_email a {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
}
.form__block p {
  margin: 0px;
}
.form__block .form_block_wrapper form {
  padding-top: 40px;
}
.form__block .form_block_wrapper form .form_line-wrapper {
  position: relative;
}
.form__block .form_block_wrapper form .form_line-wrapper:first-child {
  margin-bottom: 78px;
}
.form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
  margin-bottom: 58px;
}
.form__block .form_block_wrapper form .form_line-wrapper input {
  color: #fff;
  font-weight: 500;
  line-height: 100%;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 10px;
}
.form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label,
.form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
  top: -40px;
}
.form__block .form_block_wrapper form .form_line-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form__block .form_block_wrapper form .form_block_send {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__block .form_block_wrapper form .form_block_send .button_black {
  padding: 22px 40px;
  font-family: "Acrom";
}
.form__block .form_block_wrapper form .form_block_send .button_black span {
  margin-left: 14px;
}
.form__block .form_block_wrapper form .form_block_send p {
  max-width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0px;
}

.thanks_form {
  display: none;
  padding: 100px 125px 129px 90px !important;
}
.thanks_form .thanks_form_block .form_block_wrapper form {
  padding-top: 0px;
}
.thanks_form .thanks_form_block .form_block_title {
  margin-bottom: 36px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 60px;
}
.services__list .services_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1DAF4;
  border-radius: 25px;
  height: 210px;
  transition: all 0.25s;
}
.services__list .services_list_item a {
  max-width: 60%;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #1A1B1F;
}
.services__list .services_list_item:hover {
  transform: translateY(-18px);
  background: url(../../images/test.png) no-repeat;
  background-size: cover;
  background-position-x: 100%;
}
.services__list .services_list_item:hover a {
  color: #FFFFFF;
  padding-bottom: 30%;
}

.technologies__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 155px);
  justify-content: space-between;
  grid-row-gap: 34px;
  margin-left: -64px;
}
.technologies__list .technologies_list_item {
  text-align: center;
}
.technologies__list .technologies_list_item p {
  margin: 0px;
}

.projects_process__subtitle {
  color: #5C5C5C;
  max-width: 46.5%;
  margin-bottom: 56px;
}
.projects_process__list {
  background-image: url(../../images/lines.svg);
  background-repeat: no-repeat;
  height: 360px;
  background-size: cover;
}
.projects_process .projects_process_list_item {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 51px;
  background: #1A1B1F;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_process .projects_process_list_item p {
  margin: 0px;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  margin-right: 8px;
}
.projects_process .projects_process_list_item .projects_process_list_item {
  padding: 0px 50px;
  height: 100%;
  top: 100%;
  left: 100%;
  position: absolute;
}

.blog__products {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.blog__products .blog_products_block .blog_products_block_pic img {
  width: 350px;
  height: 340px;
}
.blog__products .blog_products_block .blog_products_block_list {
  margin: 27px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__products .blog_products_block .blog_products_block_list .hash_list_block:first-child {
  margin-right: 10px;
}
.blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.blog__products .blog_products_block .blog_products_block_title {
  font-size: 24px;
  font-weight: 500;
}

.bpm_cloud {
  display: grid;
}
.bpm_cloud__info {
  display: flex;
  justify-content: space-between;
}
.bpm_cloud__info .bpm_cloud_block {
  max-width: 47%;
}
.bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 34.5px;
  color: #1A1B1F;
  max-width: 75%;
  margin-bottom: 30px;
}
.bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5C5C5C;
}
.bpm_cloud__info .bpm_cloud_block ul {
  margin: 0px;
  padding: 0px;
}
.bpm_cloud__info .bpm_cloud_block ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
}
.bpm_cloud__info .bpm_cloud_block ul li:last-child {
  margin-bottom: 0px;
}
.bpm_cloud__info .bpm_cloud_block ul li::before {
  display: block;
  content: url("../../images/list_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}

.black_bg_comment {
  background: #1A1B1F;
  border-radius: 40px;
  padding-top: 180px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
}
.black_bg_comment .comment_block {
  padding-bottom: -80px !important;
}
.black_bg_comment .comment_block__title {
  color: #fff !important;
  margin-left: 100px;
  margin-top: -80px;
}
.black_bg_comment .comment_block__subtitle {
  color: #fff;
  margin-top: -40px;
  margin-bottom: 74px;
  margin-left: 100px;
  max-width: 1000px;
}
.black_bg_comment .comment_block__social_media {
  margin-left: 100px;
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.black_bg_comment .comment_block__social_media .social_media_label {
  width: 100%;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.black_bg_comment .comment_block__social_media .social_media_label .margin_right_40 {
  margin-right: 40px;
}

.other_comments {
  width: 80%;
  margin-top: 120px;
  margin-bottom: 20px;
}
.other_comments__title {
  color: #1A1B1F !important;
}
.other_comments__comments {
  color: #1A1B1F;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
}
.other_comments__comments .comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.other_comments__comments .comment .comment_title {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.other_comments__comments .comment .comment_title .comment_title_left {
  width: 50%;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1A1B1F;
}
.other_comments__comments .comment .comment_title .comment_title_right {
  width: 50%;
  text-align: end;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1A1B1F;
}
.other_comments__comments .comment .comment_text {
  width: 100%;
  color: #5C5C5C;
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.black_bg {
  background: #1A1B1F;
  border-radius: 40px;
  padding: 180px 0px;
}
.black_bg .advantages__title {
  color: #fff !important;
}
.black_bg .advantages__subtitle {
  color: #fff;
  margin-bottom: 74px;
  max-width: 1000px;
}
.black_bg .advantages__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.black_bg .advantages__info .advantages_info_block {
  color: #fff;
}
.black_bg .advantages__info .advantages_info_block:first-child::before {
  display: flex;
  content: url("../../images/ball_purple.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(2)::before {
  display: flex;
  content: url("../../images/ball_yellow.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(3)::before {
  display: flex;
  content: url("../../images/ball_pink.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(4)::before {
  display: flex;
  content: url("../../images/ball_blue.svg");
  position: relative;
  right: 7%;
}

.reviews__info .reviews_info_block {
  background: #E1DAF4;
  border-radius: 30px;
  padding: 30px 20px;
  color: #1A1B1F;
}
.reviews__info .reviews_info_block .reviews_info_block_text {
  font-size: 18px;
}
.reviews__info .reviews_info_block .reviews_info_block_name {
  font-weight: 500;
  font-size: 16px;
  margin: 26px 0px 10px 0px;
}
.reviews__info .reviews_info_block .reviews_info_block_date ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.reviews__info .reviews_info_block .reviews_info_block_date ul li {
  display: inline-block;
  font-size: 14px;
  color: #5C5C5C;
}

.company_description {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.company_description__info ul {
  margin: 0px;
  padding: 0px;
}
.company_description__info ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
  color: #5C5C5C;
}
.company_description__info ul li::before {
  display: block;
  content: url("../../images/list_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}
.company_description__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.service_package {
  background: url(../../images/gradient_package.svg) no-repeat;
  background-position: 71% 30%;
  color: #fff;
}
.service_package__backgroundColor {
  background: #1A1B1F;
  border-radius: 40px;
  padding: 180px 33px;
}
.service_package__title {
  color: #fff !important;
}
.service_package__info_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  margin-bottom: 60px;
}
.service_package__info_list .service_package_info_list_block ul {
  margin: 0px;
  padding: 0px;
}
.service_package__info_list .service_package_info_list_block ul li {
  list-style: none;
  margin-top: 14px;
  display: flex;
}
.service_package__info_list .service_package_info_list_block ul li::before {
  display: block;
  content: url("../../images/white_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 7px;
}
.service_package__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
}
.service_package__info .service_package_info_block__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  margin-bottom: 30px;
}

.leaders {
  position: relative;
}

.leaders_choice__block_title {
  color: #5C5C5C;
  margin-bottom: 16px;
}
.leaders_choice__block {
  color: #5C5C5C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
}
.leaders_choice__block .leaders_choice_block_list ul {
  margin: 0px;
  padding: 0px;
}
.leaders_choice__block .leaders_choice_block_list ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
}
.leaders_choice__block .leaders_choice_block_list ul li:last-child {
  margin-bottom: 0px;
}
.leaders_choice__block .leaders_choice_block_list ul li::before {
  display: block;
  content: url("../../images/list_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}

.leaders_choice_tagline {
  margin: 320px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.leaders_choice_tagline__block {
  display: flex;
  margin-bottom: 56px;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_title {
  font-weight: 500;
  font-size: 62px;
  line-height: 105%;
  color: #1A1B1F;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -20px;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
  margin-left: 26px;
}
.leaders_choice_tagline__butn button {
  padding: 22px 40px;
  font-family: "Acrom";
  font-weight: 500;
}
.leaders_choice_tagline__butn button span {
  margin-left: 14px;
}
.leaders_choice_tagline .footer_circle_yellow {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 1153.41px;
  top: 0px;
  border-radius: 100%;
  -webkit-animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
          animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 215, 113, 0.8) 0%, rgba(255, 215, 113, 0.464) 100%);
  filter: blur(80px);
  z-index: -1;
}
@-webkit-keyframes footer_circle_yellow {
  0% {
    bottom: 50%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 50%;
    left: 60%;
  }
}
@keyframes footer_circle_yellow {
  0% {
    bottom: 50%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 50%;
    left: 60%;
  }
}
@-webkit-keyframes footer_circle_yellowleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes footer_circle_yellowleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
.leaders_choice_tagline .footer_circle_pink {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 935.33px;
  top: 0px;
  border-radius: 100%;
  -webkit-animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
          animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
  /* Pink gradient desktop */
  background: radial-gradient(50% 50% at 50% 50%, rgba(243, 159, 191, 0.8) 0%, rgba(243, 159, 191, 0.8) 100%);
  filter: blur(80px);
  z-index: -1;
}
@-webkit-keyframes footer_circle_pink {
  0% {
    top: 60%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    top: 0px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    top: 60%;
    left: 60%;
  }
}
@keyframes footer_circle_pink {
  0% {
    top: 60%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    top: 0px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    top: 60%;
    left: 60%;
  }
}
@-webkit-keyframes footer_circle_pinkleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes footer_circle_pinkleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
.leaders_choice_tagline .footer_circle_purple {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 915px;
  top: 0px;
  border-radius: 100%;
  -webkit-animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
          animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
  background: radial-gradient(50% 50% at 50% 50%, rgba(143, 114, 226, 0.6) 0%, rgba(135, 130, 224, 0.6) 0%, rgba(144, 139, 237, 0.6) 0.01%, rgba(143, 114, 226, 0.48) 100%);
  filter: blur(80px);
  z-index: -1;
}
@-webkit-keyframes footer_circle_purple {
  0% {
    bottom: 80%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 80%;
    left: 60%;
  }
}
@keyframes footer_circle_purple {
  0% {
    bottom: 80%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 80%;
    left: 60%;
  }
}
@-webkit-keyframes footer_circle_purpleleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes footer_circle_purpleleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.6fr;
  border-top: 1px solid #5C5C5C;
  padding-top: 68px;
  font-size: 18px;
}
.footer ul {
  margin: 0px;
  padding: 0px;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
  color: #1A1B1F;
}
.footer div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer div:last-child {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer div:nth-child(4) {
  grid-column-start: 2;
}
.footer__contacts {
  text-align: center;
}
.footer__contacts ul li a {
  font-weight: 500;
  margin-right: 64px;
}
.footer__contacts ul li:last-child a {
  margin-right: 0px;
}
.footer__menu {
  text-align: center;
  padding: 20px 0px 40px 0px;
}
.footer__menu ul li a {
  margin-right: 60px;
}
.footer__menu ul li a:hover {
  color: #935CFF;
}
.footer__menu ul li:last-child a {
  margin-right: 0px;
}
.footer__copyright {
  text-align: center;
  color: #B3B3B3;
}
.footer__social_net {
  display: flex;
  justify-content: end;
}
.footer__social_net ul li a {
  margin-right: 20px;
}
.footer__social_net ul li:last-child a {
  margin-right: 0px;
}

.swiper .swiper-slide {
  width: 347px;
}

.header_circle_yellow {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 1153.41px;
  top: 188px;
  /* Yellow gradient desktop */
  border-radius: 100%;
  -webkit-animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
          animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 215, 113, 0.8) 0%, rgba(255, 215, 113, 0.464) 100%);
  filter: blur(80px);
  z-index: -1;
}

@-webkit-keyframes header_circle_yellow {
  0% {
    bottom: 50%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 50%;
    left: 60%;
  }
}

@keyframes header_circle_yellow {
  0% {
    bottom: 50%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 50%;
    left: 60%;
  }
}
@-webkit-keyframes header_circle_yellowleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes header_circle_yellowleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
.header_circle_pink {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 935.33px;
  top: 294.21px;
  border-radius: 100%;
  -webkit-animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
          animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
  /* Pink gradient desktop */
  background: radial-gradient(50% 50% at 50% 50%, rgba(243, 159, 191, 0.8) 0%, rgba(243, 159, 191, 0.8) 100%);
  filter: blur(80px);
  z-index: -1;
}

@-webkit-keyframes header_circle_pink {
  0% {
    top: 60%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    top: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    top: 60%;
    left: 60%;
  }
}

@keyframes header_circle_pink {
  0% {
    top: 60%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    top: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    top: 60%;
    left: 60%;
  }
}
@-webkit-keyframes header_circle_pinkleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes header_circle_pinkleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
.header_circle_purple {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 915px;
  top: 50px;
  border-radius: 100%;
  -webkit-animation: header_circle_purple 8s linear infinite, header_circle_purpleleft 6s linear infinite alternate;
          animation: header_circle_purple 8s linear infinite, header_circle_purpleleft 6s linear infinite alternate;
  /* Purple gradient desktop */
  background: radial-gradient(50% 50% at 50% 50%, rgba(143, 114, 226, 0.6) 0%, rgba(135, 130, 224, 0.6) 0%, rgba(144, 139, 237, 0.6) 0.01%, rgba(143, 114, 226, 0.48) 100%);
  filter: blur(80px);
  z-index: -1;
}

@-webkit-keyframes header_circle_purple {
  0% {
    bottom: 80%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 80%;
    left: 60%;
  }
}

@keyframes header_circle_purple {
  0% {
    bottom: 80%;
    left: 60%;
  }
  50% {
    transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 80%;
    left: 60%;
  }
}
@-webkit-keyframes header_circle_purpleleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
@keyframes header_circle_purpleleft {
  0% {
    left: 10%;
  }
  100% {
    left: 60%;
  }
}
.breadcrumb-container {
  margin-top: 15px;
  margin-left: 220px;
}/*# sourceMappingURL=main.css.map */