@import url("./stylesheet.css");

body {
    font-family: 'Acrom', sans-serif;
    line-height: 150%;
    margin: 0px;
    font-family: 'Acrom';
}

.container {
    margin: 0px auto;
    padding: 0px 210px;
}

.header {
    border-bottom: 2px solid #F0EFF1;
    position: sticky;
    top: 0;
    background-color: rgb(255 255 255 / 60%);
    z-index: 2;

    &__nav {
        padding: 24px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_nav_list {
            ul {
                margin: 0px;
                padding: 0px;

                li {
                    display: inline-block;
                    padding-bottom: 24px;
                    padding-top: -20px;
                    &:hover {
                        border-bottom: 4px solid #935CFF;
                        transition: 100ms;
                    }

                    &:last-child {
                        a {
                            margin-right: 0px;
                        }
                    }

                    a {
                        text-decoration: none;
                        margin-right: 60px;
                        color: #1A1B1F;
                        font-weight: 500;

                        &:hover {
                            color: #935CFF;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.burger {
    width: 36px;
    height: 2px;
    background: #1A1B1F;
    border-radius: 20%;
    position: relative;
    top: -3px;

    &:hover {
        cursor:pointer;
    }

    &:after {
        display: inline-block;
        content: "";
        width: 36px;
        height: 2px;
        background: #1A1B1F;
        border-radius: 20%;
        position: relative;
        top: -51px;
    }

    &:before {
        display: inline-block;
        content: "";
        width: 36px;
        height: 2px;
        background: #1A1B1F;
        border-radius: 20%;
        position: relative;
        top: -5px;
    }
}

.active_link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1A1B1F;
    &::after {
        content: '';
        position: absolute;
        transform: scaleX(0);
        z-index: -1;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #935CFF;
        color: #935CFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover {
        color: #935CFF;
        &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.dropdown_services_sticky {
    position: sticky;
    top: 100px;
    .dropdown_services{
        display: flex;
        position: absolute;
        left: 16.5%;
        &__title{
            font-family: 'Acrom';
            font-weight: 500;
            font-size: 30px;
            line-height: 115%;
            color: #FFFFFF;
            background: #9C7CF1;
            padding: 60px 170px 0px 60px;
            border-radius: 20px 0px 0px 20px;
        }
        &__info{
            background: #fff;
            padding: 60px 219px 125px 100px;
            border-radius: 0px 20px 20px 0px;
            ul{
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 57px;
                margin: 0px;
                padding: 0px;
                li{
                    &:not(:last-child){
                        margin-bottom: 16px;
                    }
                    
                    a{
                        font-family: 'Acrom';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: #1A1B1F;
                        text-decoration: none;
                        &:hover{
                            color: #9C7CF1;
                        }
                    }
                }
            }
        }
    }
}

.dropdown_burgetmenu_sticky {
    position: sticky;
    top: 100px;
    .dropdown_burgetmenu {
        display: flex;
        position: absolute;
        justify-content: space-between;
        left: 0.5%;
        right: 0.5%;
        &__title{
            font-family: 'Acrom';
            font-weight: 500;
            font-size: 30px;
            line-height: 115%;
            color: #FFFFFF;
            background: #9C7CF1;
            padding: 60px 170px 0px 60px;
            border-radius: 20px 0px 0px 20px;
        }
        &__info{
            background: #fff;
            padding: 60px 219px 60px 100px;
            border-radius: 0px 20px 20px 0px;
            width: 100%;
            ul{
                list-style: none;
                display: grid;
                grid-template-columns: 2fr;
                grid-column-gap: 57px;
                margin: 0px;
                padding: 0px;
                li{
                    &:not(:last-child){
                        margin-bottom: 18px;
                    }
                    
                    a{
                        font-family: 'Acrom';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: #1A1B1F;
                        text-decoration: none;
                        &:hover{
                            color: #9C7CF1;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.phone_butn {
    float: right;
    padding-right: 60px;
    position: sticky;
    top: 734px;
    z-index: 3;

    .phone {
        // background: #9C7CF1 url(../../images/phone_butn.svg) no-repeat;
        background: #9C7CF1 url(../../images/phone_butn_text.svg) no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        -webkit-animation: 15s linear 0s normal none infinite running rot;
        position: relative;

        &:hover {
            cursor: pointer;
            background: #935CFF url(../../images/phone_butn_text.svg) no-repeat;
            background-position: 50%;
            border-radius: 50%;
            width: 160px;
            height: 160px;
            position: relative;
            background-size: contain;
        }

        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    span {
        position: absolute;
        top: 33%;
        right: 51%;

        &:hover {
            cursor: pointer;
        }
    }
}

.modal {
    height: 100%;
    width: 100vw;
    background-color: rgba(26, 27, 31, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    // transform: scale(0);
    &__content {
        background: #1A1B1F;
        border-radius: 40px;

        .form {
            grid-template-columns: 605px 455px;
            padding: 40px 40px 100px 80px;

            &__block {
                .form_block_text {
                    font-size: 16px;

                    .form_block_gif {
                        margin-left: 12px;
                    }
                }

                .form_block_modal_button {
                    width: 34px;
                    height: 2px;
                    background: #FFFFFF;
                    border-radius: 100px;
                    transform: rotate(45deg);
                    margin-top: 12px;

                    &:hover {
                        cursor: pointer;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 34px;
                        height: 2px;
                        background: #FFFFFF;
                        border-radius: 100px;
                        transform: rotate(90deg);
                        position: relative;
                        top: -15px;
                    }
                }

                &:first-child {
                    margin-top: 40px;
                }

                &:last-child {
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }

    // .active{
    //     transform: scale(1);
    // }
}

.thanks_modal{
    display: none;
    .thanks_modal_content{
        .form{
            grid-template-columns: 635px 425px;
            padding: 40px 40px 330px 80px; 
            background: url(../../images/purple_ball.svg) 90% 15% no-repeat, url(../../images/yellow_ball.svg) 50% 105% no-repeat;
            &__block{
                .form_block_wrapper{
                    form{
                        padding-top: 0px;  
                    }
                }
                .form_block_text{
                    .form_block_gif{
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}

.photo {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    width: 80%;    
    .photo_block {
        display: block;
        width: 100%;
        height: 360px;
        border-radius: 25px;
    }
    .photo_description {
        margin-top: 35px;
        width: 100%;
        display: flex;
        .photo_tags {
            width: 60%;
            ul {
                li {
                    margin-right: 20px;
                }
            }
        }
        .photo_duration {
            font-family: 'Acrom';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            width: 25%;
        }
        .photo_date {
            width: 15%;
            text-align: end;
        }
    }
}

.post_title {
    margin-top: 72px;
    &__title {
        line-height: 100%;
        max-width: 65%;
        font-size: 80px;
        margin-bottom: 20px;
        color: #1A1B1F;
        font-weight: 500;
    }
}

.content_post {
    width: 80%;
    background: #E1DAF4;
    border-radius: 25px;
    margin-bottom: 60px;
    &__block {
        padding-top: 40px;
        padding-bottom: 48px;
        .content_title{
            margin-left: 40px;
            padding-bottom: 8px;
            font-family: 'Acrom';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 115%;
            color: #1A1B1F;
        }
        .content_item {
            margin-left: 40px;
            padding-top: 24px;
            font-family: 'Acrom';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 110%;
            color: #1A1B1F;
            :hover {
                cursor: pointer;
                color: #935CFF;
            }
        }
    }
    
}

.content_text {
    width: 80%;
}

.hero {
    margin-top: 188px;

    &__title {
        line-height: 100%;
        max-width: 65%;
        font-size: 80px;
        margin-bottom: 20px;
        color: #1A1B1F;
        font-weight: 500;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        color: #5C5C5C;
        max-width: 55%;
        margin-bottom: 48px;
    }

    &__butn {
        .button_white {
            padding: 22px 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #1A1B1F;
            font-family: 'Acrom';
            tansition: all .2s linear;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;

            span {
                margin-left: 14px;
            }
        }
        :hover {
            color: #ffffff;
            background: #1A1B1F;
            tansition: all .2s linear;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            cursor: pointer;
        }
    &__butntag {
        .button_item_tag {
            padding: 10px 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #1A1B1F;
            font-family: 'Acrom';
            margin: 0.4rem;
            :hover {
                cursor: pointer;
            }
            span {
                margin-left: 14px;
            }
            .not_visible {
                visibility: hidden;
            }
        }
    }
    }
}

.it_company {
    margin-top: 308px;
    display: flex;
    justify-content: space-between;

    &__title {
        max-width: 20%;
        margin-bottom: 0px !important;
    }

    &__info {
        max-width: 50%;
        color: #5C5C5C;
        margin-bottom: 0px !important;
        line-height: 27px;
    }
}

.portfolio {
    &__products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;

        .portfolio_products_block {

            .portfolio_products_block_pic {
                margin-bottom: 24px;
                img {
                    width: 100%;
                    margin-bottom: 0px;
                }
            }

            .portfolio_products_block_list {
                margin-bottom: 24px;

                ul {
                    li {
                        margin-right: 20px;
                    }
                }
            }
            margin-bottom: 24px;
        }

        .portfolio_products_block_title {
            color: #1A1B1F;
            font-size: 30px;
            line-height: 115%;
            font-weight: 500;
        }
    }
}

.class_link {
    text-decoration: none;
    color: #1A1B1F;
}

.portfolio_link {
    position: relative;
    text-decoration: none;
    color: #935CFF;
    &::after {
        content: '';
        position: absolute;
        transform: scaleX(0);
        z-index: -1;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #935CFF;
        color: #935CFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover {
        &::after {
            color: #935CFF;
            transform: scaleX(0);
            transform-origin: bottom left;
        }
    }
}

.blogs {
    display: flex;
    justify-content: space-between;
    &__products {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        width: 67%;
        .blogs_products_block {
            width: 45%;
            margin-bottom: 20px;
            .blogs_products_block_pic {
                margin-bottom: 24px;
                img {
                    width: 100%;
                    margin-bottom: 0px;
                }
            }

            .blogs_products_block_list {
                margin-bottom: 24px;
                display: flex;
                .blogs_products_block_list_date{
                    width: 30%;
                }
                .blogs_products_block_list_tags {
                    width: 70%;
                    ul {
                        li {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        .blogs_products_block_title {
            color: #1A1B1F;
            font-size: 30px;
            line-height: 115%;
            font-weight: 500;
        }
    }
    &__topics {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        width: 33%;
        .blogs_topics_block {
            .blogs_topics_block_list {
                display: flex;
                flex-direction: column;
                .blogs_topics_block_list_topics {
                    width: 100%;
                    margin-bottom: 60px;
                }
                .blogs_topics_block_list_category {
                    margin-bottom: 60px;
                    width: 100%;
                }
            }
        }
        .blogs_topics_block_title {
            color: #1A1B1F;
            font-size: 30px;
            line-height: 115%;
            font-weight: 500;
            margin-bottom: 1%;
        }
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    &__contact {
        width: 38%;
        .contacts_table {
            display: flex;
            gap: 5%;
            justify-content: space-between;
            .contacts_label {
                width: 35%;
                font-family: 'Acrom';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #1A1B1F;
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        list-style: none;
                        margin-bottom: 80px;
                    }
                }
            }
            .contacts_value {
                width: 60%;
                font-family: 'Acrom';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                color: #1A1B1F;
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        list-style: none;
                        margin-bottom: 60px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &__contacts_form {
        width: 60%;
        .contact_form {
            border-radius: 40px;
            padding: 0px 125px 10px 98px;
            display: grid;
            grid-template-columns: 1.03fr 0.97fr;
            background-position: 110px 165px;
            &__block {
                color: #1A1B1F;
                width: 230%;
                .contact_form_block_buttons_title {
                    width: 100%;
                    font-family: 'Acrom';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #1A1B1F;
                }
                .contact_form_block_buttons {
                    width: 100%;
                    margin-top: 5px;
                    margin-bottom: 40px
                }
                .contact_form_block_title {
                    color: #1A1B1F;
                    margin-bottom: 0px;
                }

                .contact_form_block_info {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    margin: 38px 0px 15px 0px;
                    max-width: 507px;
                }

                .contact_form_block_text {
                    display: flex;
                    align-items: center;
                    b{
                        font-weight: 400;
                    }
                    i{
                        display: none;
                    }
                    p{
                        font-size: 18px;
                    }
                }

                .contact_form_block_email {
                    a {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 100%;
                        text-decoration: none;
                        color: #1A1B1F;
                    }
                }
                p {
                    margin: 0px;
                }
                .contact_form_block_wrapper {
                    form {
                        padding-top: 40px;

                        .contact_form_line-wrapper {
                            position: relative;

                            &:first-child {
                                margin-bottom: 78px;
                            }

                            &:nth-child(2) {
                                margin-bottom: 58px;
                            }

                            input {
                                color: #1A1B1F;
                                font-weight: 500;
                                line-height: 100%;
                                border: 0px;
                                outline: none;
                                background-color: transparent;
                                border-bottom: 1px solid #1A1B1F;
                                width: 100%;
                                padding-bottom: 10px;
                            }
                            input:focus~label,
                            input:valid~label {
                                top: -40px;
                            }

                            label {
                                position: absolute;
                                pointer-events: none;
                                left: 5px;
                                top: -40px;
                                transition: 0.2s ease all;
                                -moz-transition: 0.2s ease all;
                                -webkit-transition: 0.2s ease all;
                            }

                        }

                        .contact_form_block_send {
                            margin-top: 60px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .button_white {
                                padding: 22px 40px;
                                font-family: 'Acrom';

                                span {
                                    margin-left: 14px;
                                }
                            }

                            p {
                                max-width: 250px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 100%;
                                margin: 0px;
                            }
                        }
                    }
                }

            }
        }
    }
}

.map_of_location {
    display: flex;
    width: 100%;
    height: 480px;
}

.form {
    background: #1A1B1F url(../../images/form_gradient.svg) no-repeat;
    border-radius: 40px;
    padding: 100px 125px 100px 98px;
    display: grid;
    grid-template-columns: 1.03fr 0.97fr;
    background-position: 110px 165px;

    &__block {
        color: #FFFFFF;

        .form_block_title {
            color: #FFFFFF;
            margin-bottom: 0px;
        }

        .form_block_info {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            margin: 38px 0px 15px 0px;
            max-width: 507px;
        }

        .form_block_text {
            display: flex;
            align-items: center;
            b{
                font-weight: 400;
            }
            i{
                display: none;
            }
            p{
                font-size: 18px;
            }

            .form_block_gif {
                margin-left: 9px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;

                    &:not(:first-child) {
                        margin-left: -10px;
                    }
                }

            }
        }

        .form_block_email {
            a {
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                text-decoration: none;
                color: #FFFFFF;
            }
        }

        p {
            margin: 0px;
        }

        .form_block_wrapper {
            form {
                padding-top: 40px;

                .form_line-wrapper {
                    position: relative;

                    &:first-child {
                        margin-bottom: 78px;
                    }

                    &:nth-child(2) {
                        margin-bottom: 58px;
                    }

                    input {
                        color: #fff;
                        font-weight: 500;
                        line-height: 100%;
                        border: 0px;
                        outline: none;
                        background-color: transparent;
                        border-bottom: 1px solid #fff;
                        width: 100%;
                        padding-bottom: 10px;
                    }

                    input:focus~label,
                    input:valid~label {
                        top: -40px;
                    }

                    label {
                        position: absolute;
                        pointer-events: none;
                        left: 5px;
                        top: 0;
                        transition: 0.2s ease all;
                        -moz-transition: 0.2s ease all;
                        -webkit-transition: 0.2s ease all;
                    }

                }

                .form_block_send {
                    margin-top: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .button_black {
                        padding: 22px 40px;
                        font-family: 'Acrom';

                        span {
                            margin-left: 14px;
                        }
                    }

                    p {
                        max-width: 250px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        margin: 0px;
                    }
                }
            }
        }

    }
}

.thanks_form{
    display: none;
    padding: 100px 125px 129px 90px !important;
    .thanks_form_block{
        .form_block_wrapper{
            form{
                padding-top: 0px;
            }
        }
        .form_block_title {
            margin-bottom: 36px;
        }
    }
}

.services {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 26px;
        grid-row-gap: 60px;

        .services_list_item {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #E1DAF4;
            border-radius: 25px;
            height: 210px;
            transition: all 0.25s;

            a {
                max-width: 60%;
                text-decoration: none;
                font-weight: 400;
                font-size: 20px;
                line-height: 110%;
                text-align: center;
                color: #1A1B1F;
            }

            &:hover {
                transform: translateY(-18px);
                background: url(../../images/test.png) no-repeat;
                background-size: cover;
                background-position-x: 100%;
                // background-position: 70% 80px;

                a {
                    color: #FFFFFF;
                    padding-bottom: 30%;
                }
            }
        }
    }
}

.technologies {
    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 155px);
        justify-content: space-between;
        grid-row-gap: 34px;
        margin-left: -64px;

        .technologies_list_item {
            text-align: center;

            p {
                margin: 0px;
            }
        }
    }
}

.projects_process {
    &__subtitle {
        color: #5C5C5C;
        max-width: 46.5%;
        margin-bottom: 56px;
    }

    &__list {
        background-image: url(../../images/lines.svg);
        background-repeat: no-repeat;
        height: 360px;
        background-size: cover;
    }

    .projects_process_list_item {
        position: relative;
        width: max-content;
        height: 51px;
        background: #1A1B1F;
        border-radius: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0px;
            font-weight: 400;
            line-height: 150%;
            color: #FFFFFF;
            margin-right: 8px;
        }

        .projects_process_list_item {
            padding: 0px 50px;
            height: 100%;
            top: 100%;
            left: 100%;
            position: absolute;
        }

    }
}

.blog {
    &__products {
        display: flex;
        justify-content: space-between;
        column-gap: 25px;

        .blog_products_block {
            .blog_products_block_pic {
                img {
                    width: 350px;
                    height: 340px;
                }
            }

            .blog_products_block_list {
                margin: 27px 0px 24px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .hash_list_block {
                    &:first-child {
                        margin-right: 10px;
                    }
                }

                .blog_products_block_list_date {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                }
            }

            .blog_products_block_title {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}

.bpm_cloud {
    display: grid;

    &__info {
        display: flex;
        justify-content: space-between;

        .bpm_cloud_block {
            max-width: 47%;

            .bpm_cloud_block_title {
                font-weight: 500;
                font-size: 30px;
                line-height: 34.5px;
                color: #1A1B1F;
                max-width: 75%;
                margin-bottom: 30px;
            }

            .bpm_cloud_block_text {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #5C5C5C;
            }
            ul {
                margin: 0px;
                padding: 0px;

                li {
                    display: flex;
                    list-style: none;
                    margin-bottom: 14px;

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    &::before {
                        display: block;
                        content: url("../../images/list_line.svg");
                        position: relative;
                        bottom: 5px;
                        padding-right: 8px;
                    }
                }
            }
        }
    }

}
.black_bg_comment {
    background: #1A1B1F;
    border-radius: 40px;
    padding-top: 180px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    .comment_block {
        padding-bottom: -80px!important;
        &__title {
            color: #fff !important;
            margin-left: 100px;
            margin-top: -80px;
        }
        &__subtitle {
            color: #fff;
            margin-top: -40px;
            margin-bottom: 74px;
            margin-left: 100px;
            max-width: 1000px;
        }
        &__social_media {
            margin-left: 100px;
            margin-top: -40px;
            display: flex;
            justify-content: space-between;
            gap: 5%;
            .social_media_label {
                width: 100%;
                font-family: 'Acrom';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #fff;
                .margin_right_40 {
                    margin-right: 40px;
                }
            }
        }
    }
}

.other_comments {
    width: 80%;
    margin-top: 120px;
    margin-bottom: 20px;
    &__title{
        color: #1A1B1F !important;
    }
    &__comments {
        color: #1A1B1F;
        margin-top: 77px;
        display: flex;
        flex-direction: column;
        .comment {
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
            .comment_title {
                display: flex;
                width: 100%;
                margin-bottom: 12px;
                .comment_title_left {
                    width: 50%;
                    font-family: 'Acrom';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: #1A1B1F;
                }
                .comment_title_right {
                    width: 50%;
                    text-align: end;
                    font-family: 'Acrom';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: #1A1B1F;
                }
            }
            .comment_text {
                width: 100%;
                color: #5C5C5C;
                font-family: 'Acrom';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
            }
        }
    }
}

.black_bg {
    background: #1A1B1F;
    border-radius: 40px;
    padding: 180px 0px;

    .advantages {
        &__title {
            color: #fff !important;
        }

        &__subtitle {
            color: #fff;
            margin-bottom: 74px;
            max-width: 1000px;
        }

        &__info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 50px;

            .advantages_info_block {
                color: #fff;

                &:first-child::before {
                    display: flex;
                    content: url("../../images/ball_purple.svg");
                    position: relative;
                    right: 7%;
                }

                &:nth-child(2)::before {
                    display: flex;
                    content: url("../../images/ball_yellow.svg");
                    position: relative;
                    right: 7%;
                }

                &:nth-child(3)::before {
                    display: flex;
                    content: url("../../images/ball_pink.svg");
                    position: relative;
                    right: 7%;
                }

                &:nth-child(4)::before {
                    display: flex;
                    content: url("../../images/ball_blue.svg");
                    position: relative;
                    right: 7%;
                }
            }
        }
    }
}


.reviews {
    &__info {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-column-gap: 26px;

        .reviews_info_block {
            background: #E1DAF4;
            border-radius: 30px;
            padding: 30px 20px;
            color: #1A1B1F;

            .reviews_info_block_text {
                font-size: 18px;
            }

            .reviews_info_block_name {
                font-weight: 500;
                font-size: 16px;
                margin: 26px 0px 10px 0px;
            }

            .reviews_info_block_date {
                ul {
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    justify-content: space-between;

                    li {
                        display: inline-block;
                        font-size: 14px;
                        color: #5C5C5C;
                    }
                }
            }
        }

    }
}

.company_description {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    column-gap: 100px;

    &__info {
        ul {
            margin: 0px;
            padding: 0px;

            li {
                display: flex;
                list-style: none;
                margin-bottom: 14px;
                color: #5C5C5C;

                &::before {
                    display: block;
                    content: url("../../images/list_line.svg");
                    position: relative;
                    bottom: 5px;
                    padding-right: 8px;
                }
            }
        }
    }

    &__pic {
        img {
            width: 100%;
            height: 553px;
            object-fit: cover;
            border-radius: 25px;
        }
    }
}

.service_package {
    background: url(../../images/gradient_package.svg) no-repeat;
    background-position: 71% 30%;

    &__backgroundColor{
        background: #1A1B1F;
        border-radius: 40px;
        padding: 180px 33px;
    }

    &__title {
        color: #fff !important;
    }

    color: #fff;

    &__info_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
        margin-bottom: 60px;

        .service_package_info_list_block {
            ul {
                margin: 0px;
                padding: 0px;

                li {
                    list-style: none;
                    margin-top: 14px;
                    display: flex;

                    &::before {
                        display: block;
                        content: url("../../images/white_line.svg");
                        position: relative;
                        bottom: 5px;
                        padding-right: 7px;
                    }
                }
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
        grid-row-gap: 50px;

        .service_package_info_block {
            &__title {
                font-weight: 500;
                font-size: 30px;
                line-height: 115%;
                margin-bottom: 30px;
            }
        }
    }
}

.leaders {
    position: relative
}

.leaders_choice {
    &__block_title {
        color: #5C5C5C;
        margin-bottom: 16px;
    }

    &__block {
        color: #5C5C5C;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px;

        .leaders_choice_block_list {
            ul {
                margin: 0px;
                padding: 0px;

                li {
                    display: flex;
                    list-style: none;
                    margin-bottom: 14px;

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    &::before {
                        display: block;
                        content: url("../../images/list_line.svg");
                        position: relative;
                        bottom: 5px;
                        padding-right: 8px;
                    }
                }
            }
        }
    }
}

.leaders_choice_tagline {
    margin: 320px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__block {
        display: flex;
        margin-bottom: 56px;

        .leaders_choice_tagline_block_title {
            font-weight: 500;
            font-size: 62px;
            line-height: 105%;
            color: #1A1B1F;
        }

        .leaders_choice_tagline_block_gif {
            img {
                width: 74px;
                height: 74px;
                border-radius: 50%;
                object-fit: cover;
                margin-left: -20px;

                &:first-child {
                    margin-left: 26px;
                }
            }

        }
    }

    &__butn {
        button {
            padding: 22px 40px;
            font-family: "Acrom";
            font-weight: 500;

            span {
                margin-left: 14px;
            }
        }
    }

    .footer_circle_yellow {
        position: absolute;
        width: 534.48px;
        height: 534.48px;
        left: 1153.41px;
        top: 0px;
        border-radius: 100%;
        animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
        background: radial-gradient(50% 50% at 50% 50%,
                rgba(255, 215, 113, 0.8) 0%,
                rgba(255, 215, 113, 0.464) 100%);
        filter: blur(80px);
        z-index: -1;
    }
    
    @keyframes footer_circle_yellow {
        0% {
            bottom: 50%;
            left: 60%;
        }
        50% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            bottom: 10px;
            width: 534.48px;
            height: 534.48px;
        }
        100% {
            bottom: 50%;
            left: 60%;
        }
    }
    
    @keyframes footer_circle_yellowleft {
        0% {
            left: 10%;
        }
        100% {
            left: 60%;
        }
    }
    
    .footer_circle_pink {
        position: absolute;
        width: 534.48px;
        height: 534.48px;
        left: 935.33px;
        top: 0px;
        border-radius: 100%;
        animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
        /* Pink gradient desktop */
        background: radial-gradient(50% 50% at 50% 50%,
                rgba(243, 159, 191, 0.8) 0%,
                rgba(243, 159, 191, 0.8) 100%);
        filter: blur(80px);
        z-index: -1;
    }
    
    @keyframes footer_circle_pink {
        0% {
            top: 60%;
            left: 60%;
        }
        50% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            top: 0px;
            width: 534.48px;
            height: 534.48px;
        }
        100% {
            top: 60%;
            left: 60%;
        }
    }
    
    @keyframes footer_circle_pinkleft {
        0% {
            left: 10%;
        }
        100% {
            left: 60%;
        }
    }
    
    .footer_circle_purple {
        position: absolute;
        width: 534.48px;
        height: 534.48px;
        left: 915px;
        top: 0px;
        border-radius: 100%;
        animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
        background: radial-gradient(50% 50% at 50% 50%,
                rgba(143, 114, 226, 0.6) 0%,
                rgba(135, 130, 224, 0.6) 0%,
                rgba(144, 139, 237, 0.6) 0.01%,
                rgba(143, 114, 226, 0.48) 100%);
        filter: blur(80px);
        z-index: -1;
    }
    
    @keyframes footer_circle_purple {
        0% {
            bottom: 80%;
            left: 60%;
        }
        50% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            bottom: 10px;
            width: 534.48px;
            height: 534.48px;
        }
        100% {
            bottom: 80%;
            left: 60%;
        }
    }
    
    @keyframes footer_circle_purpleleft {
        0% {
            left: 10%;
        }
        100% {
            left: 60%;
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.6fr;
    border-top: 1px solid #5C5C5C;
    padding-top: 68px;
    font-size: 18px;

    ul {
        margin: 0px;
        padding: 0px;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: #1A1B1F;
            }
        }
    }

    div {
        &:nth-child(1) {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &:last-child {
            grid-column-start: 3;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &:nth-child(4) {
            grid-column-start: 2;
        }
    }

    &__contacts {
        text-align: center;

        ul {
            li {
                a {
                    font-weight: 500;
                    margin-right: 64px;
                }

                &:last-child a {
                    margin-right: 0px;
                }
            }
        }
    }

    &__menu {
        text-align: center;
        padding: 20px 0px 40px 0px;

        ul {
            li {
                a {
                    &:hover {
                        color: #935CFF;
                    }

                    margin-right: 30px;
                }

                &:last-child a {
                    margin-right: 0px;
                }
            }
        }
    }

    &__copyright {
        text-align: center;
        color: #B3B3B3;
    }

    &__social_net {
        display: flex;
        justify-content: end;

        ul {
            li {
                a {
                    margin-right: 20px;
                }

                &:last-child a {
                    margin-right: 0px;
                }
            }
        }
    }
}

.swiper {
    .swiper-slide {
        width: 347px;
    }
}

.header_circle_yellow {
    position: absolute;
    width: 534.48px;
    height: 534.48px;
    left: 1153.41px;
    top: 188px;
    /* Yellow gradient desktop */
    border-radius: 100%;
    animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 215, 113, 0.8) 0%,
            rgba(255, 215, 113, 0.464) 100%);
    filter: blur(80px);
    z-index: -1;
}

@keyframes header_circle_yellow {
    0% {
        bottom: 50%;
        left: 60%;
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 534.48px;
        height: 534.48px;
    }

    100% {
        bottom: 50%;
        left: 60%;
    }
}

@keyframes header_circle_yellowleft {
    0% {
        left: 10%;
    }

    100% {
        left: 60%;
    }
}

.header_circle_pink {
    position: absolute;
    width: 534.48px;
    height: 534.48px;
    left: 935.33px;
    top: 294.21px;
    border-radius: 100%;
    animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
    /* Pink gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(243, 159, 191, 0.8) 0%,
            rgba(243, 159, 191, 0.8) 100%);
    filter: blur(80px);
    z-index: -1;
}

@keyframes header_circle_pink {
    0% {
        top: 60%;
        left: 60%;
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        top: 10px;
        width: 534.48px;
        height: 534.48px;
    }

    100% {
        top: 60%;
        left: 60%;
    }
}

@keyframes header_circle_pinkleft {
    0% {
        left: 10%;
    }

    100% {
        left: 60%;
    }
}

.header_circle_purple {
    position: absolute;
    width: 534.48px;
    height: 534.48px;
    left: 915px;
    top: 50px;
    border-radius: 100%;
    animation: header_circle_purple 8s linear infinite, header_circle_purpleleft 6s linear infinite alternate;
    /* Purple gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(143, 114, 226, 0.6) 0%,
            rgba(135, 130, 224, 0.6) 0%,
            rgba(144, 139, 237, 0.6) 0.01%,
            rgba(143, 114, 226, 0.48) 100%);
    filter: blur(80px);
    z-index: -1;
}

@keyframes header_circle_purple {
    0% {
        bottom: 80%;
        left: 60%;
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 534.48px;
        height: 534.48px;
    }

    100% {
        bottom: 80%;
        left: 60%;
    }
}

@keyframes header_circle_purpleleft {
    0% {
        left: 10%;
    }

    100% {
        left: 60%;
    }
}

.breadcrumb-container {
    margin-top: 15px;
    margin-left: 220px;
}