body {
  font-family: "Acrom", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.container {
  margin: 0px auto;
  padding: 0px 220px;
}

.header {
  border-bottom: 2px solid #F0EFF1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header__nav {
  padding: 24px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header_nav_list ul {
  margin: 0px;
  padding: 0px;
}
.header__nav .header_nav_list ul li {
  display: inline-block;
}
.header__nav .header_nav_list ul li:last-child a {
  margin-right: 0px;
}
.header__nav .header_nav_list ul li a {
  text-decoration: none;
  margin-right: 60px;
  color: #1A1B1F;
}
.header__nav .header_nav_list ul li a:hover {
  color: #935CFF;
}

.hero {
  margin-top: 188px;
}
.hero__title {
  line-height: 100%;
  max-width: 60%;
  font-size: 80px;
  margin-bottom: 20px;
  color: #1A1B1F;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #5C5C5C;
  max-width: 45%;
  margin-bottom: 48px;
}
.hero__butn .button_white {
  padding: 22px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
}
.hero__butn .button_white span {
  margin-left: 14px;
}

.it_company {
  margin-top: 219px;
  display: flex;
  justify-content: space-between;
}
.it_company__title {
  max-width: 20%;
}
.it_company__info {
  max-width: 50%;
}

.portfolio {
  margin-top: 255px;
}
.portfolio__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
}
.portfolio__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: 1%;
  grid-row-gap: 2%;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic img {
  width: 100%;
  margin-bottom: 0px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list ul li {
  margin-right: 20px;
}
.portfolio__products .portfolio_products_block_title {
  color: #1A1B1F;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
}

.form {
  background: #1A1B1F;
  border-radius: 28.4583px;
  padding: 70px 88px 70px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__block {
  color: #FFFFFF;
}
.form__block .form_block_title {
  font-weight: 500;
  font-size: 62px;
  line-height: 105%;
}
.form__block .form_block_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 36px 0px 31px 0px;
  max-width: 78.8%;
  text-align: justify;
}
.form__block .form_block_text {
  display: flex;
  align-items: center;
}
.form__block .form_block_text .form_block_gif {
  margin-left: 9px;
}
.form__block .form_block_text .form_block_gif img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.form__block .form_block_text .form_block_gif img:not(:first-child) {
  margin-left: -10px;
}
.form__block .form_block_email {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}
.form__block p {
  margin: 0px;
}
.form__block .form_block_wrapper form {
  padding-top: 40px;
}
.form__block .form_block_wrapper form .form_line-wrapper {
  position: relative;
}
.form__block .form_block_wrapper form .form_line-wrapper:first-child {
  margin-bottom: 78px;
}
.form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
  margin-bottom: 78px;
}
.form__block .form_block_wrapper form .form_line-wrapper input {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
}
.form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label, .form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
  top: -40px;
}
.form__block .form_block_wrapper form .form_line-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form__block .form_block_wrapper form .form_block_send {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__block .form_block_wrapper form .form_block_send .button_black {
  padding: 22px 40px;
}
.form__block .form_block_wrapper form .form_block_send .button_black span {
  margin-left: 14px;
}
.form__block .form_block_wrapper form .form_block_send p {
  max-width: 39%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 60px;
}
.services__list .services_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1DAF4;
  border-radius: 25px;
  height: 210px;
  transition: all 0.25s;
}
.services__list .services_list_item a {
  max-width: 60%;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #1A1B1F;
}
.services__list .services_list_item:hover {
  transform: translateY(-18px);
  background: #1A1B1F;
}
.services__list .services_list_item:hover a {
  color: #FFFFFF;
}

.technologies__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  grid-row-gap: 34px;
}
.technologies__list .technologies_list_item {
  text-align: center;
  max-width: 60%;
}

.bpm_cloud__subtitle {
  color: #5C5C5C;
  max-width: 46.5%;
  margin-bottom: 56px;
}
.bpm_cloud__list .bpm_cloud_list_item {
  position: relative;
  width: 215px;
  height: 51px;
  background: #1A1B1F;
  border-radius: 80px;
}
.bpm_cloud__list .bpm_cloud_list_item .bpm_cloud_list_item {
  width: 100%;
  height: 100%;
  top: 100%;
  left: 100%;
  position: absolute;
}