@import url("./stylesheet.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./contact-page.scss");
@import url("./faq.scss");
@import url("./reviews.scss");
@import url("./breadcrumbs.scss");
@import url("./hero.scss");
@import url("./about-us.scss");
@import url("./form.scss");
@import url("./blog.scss");
@import url("./leader-choise.scss");
@import url("./portfolio.scss");

html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Acrom", sans-serif;
  line-height: 150%;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
}

.containerForm {
  margin: 0 auto;
  max-width: 1480px;
}

.reviews__info>.container {
  margin: 0;
  max-width: 100%;
}

.index_title {
  margin-top: 150px;
}

.margin_bottom_240 {
  margin-bottom: 240px;
}

@media screen and (max-width: 1600px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .containerForm {
    margin: 0 auto;
    max-width: 1200px;
  }

  .margin_bottom_240 {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    margin: 0 auto;
    max-width: 1066px;
  }

  .containerForm {
    margin: 0 auto;
    max-width: 1066px;
  }

  .index_title {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0 auto;
    max-width: 86%;
  }
  .containerForm {
    margin: 0 auto;
    max-width: 86%;
  }
}

@media screen and (max-width: 768px) {
  .container, .containerForm {
    max-width: 90%;
  }
  .index_title {
    margin-top: 120px;
  }

  .margin_bottom_240 {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 530px) {
  .index_title {
    margin-top: 70px;
  }
}


.service-item__title {
  max-width: 832px !important;
}

.service-item__subtitle {
  span {
    max-width: 993px;
  }
}

.service-item__content {
  width: 993px;
}

.engagement-item {
  max-width: 1062px;

  div {
    display: flex;
    align-items: flex-start;
    gap: 66px;

    div {
      display: block;
      width: 310px;

      h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        margin-bottom: 20px;
      }

      span {
        width: 100%;
        padding: 20px 0 0;
        height: auto;
      }
    }

    div:first-child {
      h3::before {
        display: block;
        border-radius: 100%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(143, 114, 226, 0.6) 0%,
          rgba(135, 130, 224, 0.6) 0%,
          rgba(144, 139, 237, 0.6) 0.01%,
          rgba(143, 114, 226, 0.48) 100%
        );
        filter: blur(80px);
        width: 46px;
        height: 46px;
      }
    }
    div:last-child {
      h3::before{
        display: block;
        border-radius: 100%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(243, 159, 191, 0.8) 0%,
          rgba(243, 159, 191, 0.8) 100%
        );
        filter: blur(80px);
        width: 46px;
        height: 46px;
      }
    }
  }
}

.choose-item__block {
  display: block;
}

.choose-item {
  max-width: 1478px;

  div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1478px;
    gap: 26px;
    border-radius: 25px;

    div {
      background-color: #FFECBB;
      height: auto;
      min-height: 309px;
      max-width: 350px;
      display: block;

      font-family: 'Acrom';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      padding: 30px 20px 0 20px;

      p:first-child {
        color: #1A1B1F;
      }

      h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }

      p {
        width: 310px;
        height: auto;
        span {
          padding: 26px 0 0;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.resume-portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 166px;
  margin-bottom: 60px;
  .resume-portfolio-text {
    width: 260px;
    height: 68px;
    left: 220px;
    top: 598px;
    color: #1a1b1f;
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 115%;
  }
}



.phone_butn {
  //277px
  display: none;
  float: right;
  padding-right: 60px;
  position: sticky;
  //margin-bottom: 277px;
  top: 775px;
  z-index: 3;
  .phone {
    // background: #9C7CF1 url(../../images/phone_butn.svg) no-repeat;
    background: #9c7cf1 url(../../images/phone_butn_text.svg) no-repeat 50%;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    -webkit-animation: 15s linear 0s normal none infinite running rot;
    position: relative;

    &.paused {
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
      background: #935cff url(../../images/phone_butn_text.svg) no-repeat 50%;
      border-radius: 50%;
      position: relative;
      background-size: contain;
    }
    &:hover {
      cursor: pointer;
      background: #935cff url(../../images/phone_butn_text.svg) no-repeat 50%;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      position: relative;
      background-size: contain;
      animation-play-state: paused;
      -webkit-animation-play-state: paused;
    }
    @keyframes rot {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes rot {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  span {
    position: absolute;
    top: 50%;
    right: 51%;
    transform: translateY(-50%);
    &:hover {
      cursor: pointer;
    }
  }
}

.close__block {
  width: 34px;
  height: 2px;
  background: #ffffff;
  border-radius: 100px;
  transform: rotate(45deg);
  margin-top: 12px;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 34px;
    height: 2px;
    background: #ffffff;
    border-radius: 100px;
    transform: rotate(90deg);
    position: relative;
    top: -15px;
  }
}



.photo {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  width: 80%;
  .photo_block {
    display: block;
    width: 100%;
    height: 360px;
    border-radius: 25px;
  }
  .photo_description {
    margin-top: 35px;
    width: 100%;
    display: flex;
    .photo_tags {
      width: 60%;
      ul {
        li {
          margin-right: 20px;
        }
      }
    }
    .photo_duration {
      font-family: "Acrom", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      width: 25%;
    }
    .photo_date {
      width: 15%;
      text-align: end;
    }
  }
}

.post_title {
  margin-top: 72px;
  &__title {
    line-height: 100%;
    max-width: 65%;
    font-size: 80px;
    margin-bottom: 20px;
    color: #1a1b1f;
    font-weight: 500;
  }
}

.content_post {
  width: 80%;
  background: #e1daf4;
  border-radius: 25px;
  margin-bottom: 60px;
  &__block {
    padding-top: 40px;
    padding-bottom: 48px;
    .content_title {
      margin-left: 40px;
      padding-bottom: 8px;
      font-family: "Acrom", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 115%;
      color: #1a1b1f;
    }
    .content_item {
      margin-left: 40px;
      padding-top: 24px;
      font-family: "Acrom", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #1a1b1f;
      :hover {
        cursor: pointer;
        color: #935cff;
      }
    }
  }
}

.content_text {
  width: 80%;
}

.vio_title {
  color: #935CFF;
}

.it_company {
  margin-top: 308px;

  &__title {
    max-width: 552px;
    margin-bottom: 0 !important;
    margin-top: 0;
  }

  &__info {
    display: flex;
    gap: 20px;
    margin: 40px 0 70px;
    p {
      width: 730px;
      color: #5c5c5c;
      margin-bottom: 0 !important;
      line-height: 27px;
    }
  }
}

.margin_240_black {
  margin-bottom: 240px;
  margin-left: 220px;
  margin-right: 220px;
  transition: margin-right 1s, margin-left 1s;
}

.class_link {
  text-decoration: none;
  color: #1a1b1f;
}

.map_of_location {
  display: flex;
  width: 100%;
  height: 480px;
}

.accor__title {
   max-width: 731px;
}

.accor__description {
  display: flex;
  gap:20px;

  p {
    margin: 0;
    min-width: 730px;
    font-family: 'Acrom';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.services {
  position: relative;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 26px;
    grid-row-gap: 26px;

    .services_list_item_wrapper {
      position: relative;

      .vio-item {
        display: inline-block;
        position: absolute;
        opacity: 0;
        width: 133px;
        height: 133px;
        border-radius: 100%;
        background: radial-gradient(50% 50% at 50% 50%, #8F72E2 0%, #8782E0 0%, #908BED 0.01%, rgba(143, 114, 226, 0.80) 100%);
        filter: blur(20px);
        z-index: 1;
        transition: opacity .4s ease-in;
      }

      @keyframes service_circle_purple {
        0% {
          bottom: 0%;
          left: 0%;
        }

        50% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          bottom: 60px;
        }
      
        100% {
          bottom: 0%;
          left: 0%;
        }
      }
      
      @keyframes service_circle_purpleleft {
        0% {
          left: 10%;
        }
      
        100% {
          left: 60%;
        }
      }
    }

    .services_list_item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background: #1a1b1f;
      border-radius: 25px;
      height: 210px;
      transition: all 0.25s;
      position: relative;
      overflow: hidden;

      span {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 10;
      }
    }
    .services_list_item_wrapper:hover {
        .services_list_item {
          transform: translateY(-18px);
          // background: url(../../images/test.png) no-repeat;
          background-size: cover;
          background-position-x: 100%;
          // background-position: 70% 80px;

          span {
            transform: translateY(-50px);
          }
        }

        .vio-item {
          opacity: 1;
          animation: service_circle_purple 6s linear infinite,
          service_circle_purpleleft 4s linear infinite alternate;
        }
      }
  }
}

.technologies {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, clamp(100px, 9vw, 155px));
    justify-content: space-between;
    grid-row-gap: 34px;
    margin-left: -64px;
    color: #1A1B1F;

    .technologies_list_item {
      min-height: 150px !important;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      p {
        margin: 0;
        min-height: 54px;
        color: #1A1B1F;
      }
    }
  }
}

.projects_process {

  &__title {
    max-width: 763px;
    text-transform: capitalize;
  }

  &__subtitle {
    color: #5c5c5c;
    max-width: 46.5%;
    margin-bottom: 56px;
  }

  &__list {
    background-image: url(../../images/lines.svg);
    background-size: contain;
    background-repeat-y: repeat;
    background-repeat-x: no-repeat;
    height: 360px;
  }

  .projects_process_list_item {
    position: relative;
    width: max-content;
    height: 51px;
    background: #1a1b1f;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    cursor: pointer;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #ffffff;
      //margin: 0 8px 0 0;
    }

    .projects_process_list_item {
      padding: 0 45px;
      height: 100%;
      top: 100%;
      left: 105%;
      position: absolute;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
    .projects_process_list_item.hover {
      transition: all 0.5s ease-in-out;
      background-color: #935CFF;
    }
    .projects_process_list_item.click {
      transition: all 0.5s ease-in-out;
      background-color: #935CFF;
    }

    .projects_process_list_item__hover-elem {
      display: none;
      opacity: 0;
      transition: opacity .7s ease-in-out;
      transition-delay: 0.3s;
      background-color:#935CFF;
      border-radius: 25px;
      padding: 15px 20px 30px;
      position: absolute;
      top: 78px;
      width: 288px;
      z-index: 2;

      .ober {
        display: inline-block;
        width: 37px;
        height: 17px;
        background: url(../../images/ober.svg);
        position: absolute;
        top: -6.5%;
        left: 45%;
      }

      p {
        color:#fff;
        cursor: default;
        font-family: 'Acrom';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 15px 0 0 18px;
        position: relative;
      }

      p::before {
        content:'—';
        position: absolute;
        left: -18px;
      }

      p:first-child {
        margin: 0;
      }
    }

    .projects_process_list_item__hover-elem.hover {
        display: block;
        opacity: 1;
        transition: opacity .7s ease-in-out;
        transition-delay: .4s;
    }

    .projects_process_list_item__hover-elem.click {
      display: block;
      opacity: 1;
      transition: opacity .7s ease-in-out;
      transition-delay: .4s;
    }
  }
  .projects_process_list_item.hover {
    transition: all 0.5s ease-in-out;
    background-color: #935CFF;
  }

  .projects_process_list_item.click {
    transition: all 0.5s ease-in-out;
    background-color: #935CFF;
  }
}

.bpm_cloud {
  display: grid;
  &__title {
    margin-top: 0;
    margin-bottom: 26px;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    .bpm_cloud_block {
      max-width: 47%;

      .bpm_cloud_block_title {
        font-weight: 500;
        font-size: 30px;
        line-height: 34.5px;
        color: #1a1b1f;
        max-width: 75%;
        margin-bottom: 30px;
      }

      .bpm_cloud_block_text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #5c5c5c;
      }
      ul {
        margin: 0;
        padding: 0;

        li {
          display: flex;
          list-style: none;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            display: block;
            content: url("../../images/list_line.svg");
            position: relative;
            bottom: 5px;
            padding-right: 8px;
          }
        }
      }
    }
    .bpm_cloud_block:last-child {
      margin-right: 3%;
    }
  }
}
.black_bg_comment {
  background: #1a1b1f;
  border-radius: 40px;
  padding: 180px 0 100px;

  .comment_block {
    padding-bottom: -80px !important;
    &__title {
      color: #fff !important;
      margin-left: 100px;
      margin-top: -80px;
    }
    &__subtitle {
      color: #fff;
      margin-top: -40px;
      margin-bottom: 74px;
      margin-left: 100px;
      max-width: 1000px;
    }
    &__social_media {
      margin-left: 100px;
      margin-top: -40px;
      display: flex;
      justify-content: space-between;
      gap: 5%;
      .social_media_label {
        width: 100%;
        font-family: "Acrom", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #fff;
        .margin_right_40 {
          margin-right: 40px;
        }
      }
    }
  }
}

.other_comments {
  width: 80%;
  margin-top: 120px;
  margin-bottom: 20px;
  &__title {
    color: #1a1b1f !important;
  }
  &__comments {
    color: #1a1b1f;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    .comment {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      .comment_title {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        .comment_title_left {
          width: 50%;
          font-family: "Acrom", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #1a1b1f;
        }
        .comment_title_right {
          width: 50%;
          text-align: end;
          font-family: "Acrom", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #1a1b1f;
        }
      }
      .comment_text {
        width: 100%;
        color: #5c5c5c;
        font-family: "Acrom", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
      }
    }
  }
}

.black_bg {
  background: #1a1b1f;
  border-radius: 40px;
  padding: 180px 0;

  .advantages {
    &__title {
      color: #fff !important;
    }

    &__subtitle {
      color: #fff;
      margin-bottom: 74px;
      max-width: 1000px;
    }

    &__info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      //grid-column-gap: 50px;

      .advantages_info_block {
        color: #fff;
        font-weight: 300;
        line-height: 150%;
        width: 220px;
        max-width: 320px;

        &:first-child::before {
          display: flex;
          content: url("../../images/ball_purple.svg");
          position: relative;
          right: 7%;
        }

        &:nth-child(2)::before {
          display: flex;
          content: url("../../images/ball_yellow.svg");
          position: relative;
          right: 7%;
        }

        &:nth-child(3)::before {
          display: flex;
          content: url("../../images/ball_pink.svg");
          position: relative;
          right: 7%;
        }

        &:nth-child(4)::before {
          display: flex;
          content: url("../../images/ball_blue.svg");
          position: relative;
          right: 7%;
        }
      }
    }
  }
}

.company_description {
  display: grid;
  grid-template-columns: 1.2fr 0.9fr;
  column-gap: 19px;

  &__title {
    margin-top: 0;
  }

  &__info {
    min-width: 855px;
    ul {
      margin: 0;
      padding: 0;
      width: 715px;

      li {
        display: flex;
        list-style: none;
        margin-bottom: 14px;
        color: #5c5c5c;

        &::before {
          display: block;
          content: url("../../images/list_line.svg");
          position: relative;
          bottom: 5px;
          padding-right: 8px;
        }
      }
    }
  }

  &__pic {
    img {
      min-width: 604px;
      width: 100%;
      height: 553px;
      object-fit: cover;
      border-radius: 25px;
    }
  }
}

.service_package {
  background: url(../../images/gradient_package.svg) no-repeat 71% 30%;

  &__backgroundColor {
    background: #1a1b1f;
    border-radius: 40px;
    padding: 180px 33px;
  }

  &__title {
    color: #fff !important;
  }

  color: #fff;

  &__info_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-bottom: 60px;

    .service_package_info_list_block {
      font-weight: 300;
      line-height: 150%;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin-top: 14px;
          display: flex;

          &::before {
            display: block;
            content: url("../../images/white_line.svg");
            position: relative;
            bottom: 5px;
            padding-right: 7px;
          }
        }
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 50px;

    .service_package_info_block {
      &__text {
        font-weight: 300;
        line-height: 150%;
      }
      &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 115%;
        margin-bottom: 30px;
      }
    }
  }
}

.leaders {
  position: relative;
}
.m {
  &-b {
    &-16 {
      margin-bottom: 16px;
    }
  }
  &-t {
    &-16 {
      margin-top: 16px;
    }
  }
}

.title_62 {
  font-weight: 500;
  font-size: 62px;
  line-height: 105%;
  color: #1a1b1f;
  margin-bottom: 56px;
}

.swiper {
  .swiper-slide {
    width: 346px;
    height: max-content;
  }
}

.leaders_choice_tagline__block {
  align-items: center;
}

.error_message  {
  display: inline-block;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  color: #e11d48;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.error_message.show_error  {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
