@import url("./stylesheet.css");

body {
  font-family: "Acrom", sans-serif;
  line-height: 150%;
}

.container {
  margin: 0px auto;
  padding: 0px 220px;
}

.header {
  border-bottom: 2px solid #F0EFF1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.header__nav {
  padding: 24px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header_nav_list ul {
  margin: 0px;
  padding: 0px;
}
.header__nav .header_nav_list ul li {
  display: inline-block;
}
.header__nav .header_nav_list ul li:last-child a {
  margin-right: 0px;
}
.header__nav .header_nav_list ul li a {
  text-decoration: none;
  margin-right: 60px;
  color: #1A1B1F;
}
.header__nav .header_nav_list ul li a:hover {
  color: #935CFF;
}

.burger {
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -3px;
}
.burger:after {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -51px;
}
.burger:before {
  display: inline-block;
  content: "";
  width: 36px;
  height: 2px;
  background: #1A1B1F;
  border-radius: 20%;
  position: relative;
  top: -5px;
}

.phone_butn {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 60%;
  z-index: 3;
}
.phone_butn .phone {
  background: #9C7CF1 url(../../images/phone_butn.svg) no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
  position: relative;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.phone_butn span {
  position: absolute;
  top: 30%;
  right: 6%;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 27, 31, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.modal__content {
  background: #1A1B1F;
  border-radius: 40px;
}
.modal__content .form {
  grid-template-columns: 605px 455px;
  padding: 40px 40px 100px 80px;
}
.modal__content .form__block .form_block_text {
  font-size: 16px;
}
.modal__content .form__block .form_block_text .form_block_gif {
  margin-left: 30px;
}
.modal__content .form__block .form_block_modal_button {
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 100px;
  transform: rotate(45deg);
  margin-top: 12px;
}
.modal__content .form__block .form_block_modal_button::after {
  content: "";
  display: inline-block;
  width: 34px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 100px;
  transform: rotate(90deg);
  position: relative;
  top: -15px;
}
.form_block_modal_button:hover{
  cursor: pointer;
}
.modal__content .form__block:first-child {
  margin-top: 40px;
}
.modal__content .form__block:last-child {
  display: flex;
  justify-content: end;
}

.hero {
  margin-top: 188px;
}
.hero__title {
  line-height: 100%;
  max-width: 60%;
  font-size: 80px;
  margin-bottom: 20px;
  color: #1A1B1F;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #5C5C5C;
  max-width: 45%;
  margin-bottom: 48px;
}
.hero__butn .button_white {
  padding: 22px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
}
.hero__butn .button_white span {
  margin-left: 14px;
}

.it_company {
  margin-top: 219px;
  display: flex;
  justify-content: space-between;
}
.it_company__title {
  max-width: 20%;
}
.it_company__info {
  max-width: 50%;
  color: #5C5C5C;
}

.portfolio__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: 1%;
  grid-row-gap: 2%;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_pic img {
  width: 100%;
  margin-bottom: 0px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list {
  margin-bottom: 24px;
}
.portfolio__products .portfolio_products_block .portfolio_products_block_list ul li {
  margin-right: 20px;
}
.portfolio__products .portfolio_products_block_title {
  color: #1A1B1F;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
}

.form {
  background: #1A1B1F url(../../images/form_gradient.svg) no-repeat;
  border-radius: 40px;
  padding: 100px 125px 100px 98px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: 110px 165px;
}
.form__block {
  color: #FFFFFF;
}
.form__block .form_block_title {
  color: #FFFFFF;
  margin-bottom: 0px;
}
.form__block .form_block_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 36px 0px 31px 0px;
  max-width: 507px;
}
.form__block .form_block_text {
  display: flex;
  align-items: center;
}
.form__block .form_block_text .form_block_gif {
  margin-left: 9px;
}
.form__block .form_block_text .form_block_gif img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.form__block .form_block_text .form_block_gif img:not(:first-child) {
  margin-left: -10px;
}
.form__block .form_block_email a {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
}
.form__block p {
  margin: 0px;
}
.form__block .form_block_wrapper form {
  padding-top: 40px;
}
.form__block .form_block_wrapper form .form_line-wrapper {
  position: relative;
}
.form__block .form_block_wrapper form .form_line-wrapper:first-child {
  margin-bottom: 78px;
}
.form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
  margin-bottom: 78px;
}
.form__block .form_block_wrapper form .form_line-wrapper input {
  color: #fff;
  font-weight: 500;
  line-height: 100%;
  border: 0px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 10px;
}
.form__block .form_block_wrapper form .form_line-wrapper input:focus ~ label, .form__block .form_block_wrapper form .form_line-wrapper input:valid ~ label {
  top: -40px;
}
.form__block .form_block_wrapper form .form_line-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form__block .form_block_wrapper form .form_block_send {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__block .form_block_wrapper form .form_block_send .button_black {
  padding: 22px 40px;
}
.form__block .form_block_wrapper form .form_block_send .button_black span {
  margin-left: 14px;
}
.form__block .form_block_wrapper form .form_block_send p {
  max-width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 60px;
}
.services__list .services_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1DAF4;
  border-radius: 25px;
  height: 210px;
  transition: all 0.25s;
}
.services__list .services_list_item a {
  max-width: 60%;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #1A1B1F;
}
.services__list .services_list_item:hover {
  transform: translateY(-18px);
  background: #1A1B1F url(../../images/gradient_services.svg) no-repeat;
  background-position: 70% 80px;
}
.services__list .services_list_item:hover a {
  color: #FFFFFF;
  padding-bottom: 30%;
}

.technologies__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  grid-row-gap: 34px;
}
.technologies__list .technologies_list_item {
  text-align: center;
}
.technologies__list .technologies_list_item p {
  margin: 0px;
}

.projects_process__subtitle {
  color: #5C5C5C;
  max-width: 46.5%;
  margin-bottom: 56px;
}
.projects_process__list {
  background-image: url(../../images/lines.svg);
  background-repeat: no-repeat;
  height: 360px;
  background-size: cover;
}
.projects_process .projects_process_list_item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 51px;
  background: #1A1B1F;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_process .projects_process_list_item p {
  margin: 0px;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
  margin-right: 8px;
}
.projects_process .projects_process_list_item .projects_process_list_item {
  width: 100%;
  height: 100%;
  top: 100%;
  left: 100%;
  position: absolute;
}

.blog__products {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.blog__products .blog_products_block .blog_products_block_pic img {
  width: 100%;
}
.blog__products .blog_products_block .blog_products_block_list {
  margin: 27px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__products .blog_products_block .blog_products_block_list .hash_list_block:first-child {
  margin-right: 10px;
}
.blog__products .blog_products_block .blog_products_block_list .blog_products_block_list_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.blog__products .blog_products_block .blog_products_block_title {
  font-size: 24px;
  font-weight: 500;
}

.bpm_cloud {
  display: grid;
}
.bpm_cloud__info {
  display: flex;
  justify-content: space-between;
}
.bpm_cloud__info .bpm_cloud_block {
  max-width: 47%;
}
.bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #1A1B1F;
  max-width: 75%;
  margin-bottom: 30px;
}
.bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5C5C5C;
}

.black_bg {
  background: #1A1B1F;
  border-radius: 40px;
  padding: 180px 0px;
}
.black_bg .advantages__title {
  color: #fff !important;
}
.black_bg .advantages__subtitle {
  color: #fff;
  margin-bottom: 74px;
  max-width: 1000px;
}
.black_bg .advantages__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.black_bg .advantages__info .advantages_info_block {
  color: #fff;
}
.black_bg .advantages__info .advantages_info_block:first-child::before {
  display: flex;
  content: url("../../images/ball_purple.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(2)::before {
  display: flex;
  content: url("../../images/ball_yellow.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(3)::before {
  display: flex;
  content: url("../../images/ball_pink.svg");
  position: relative;
  right: 7%;
}
.black_bg .advantages__info .advantages_info_block:nth-child(4)::before {
  display: flex;
  content: url("../../images/ball_blue.svg");
  position: relative;
  right: 7%;
}

.reviews__info .reviews_info_block {
  background: #E1DAF4;
  border-radius: 30px;
  padding: 30px 20px;
  color: #1A1B1F;
}
.reviews__info .reviews_info_block .reviews_info_block_text {
  font-size: 18px;
}
.reviews__info .reviews_info_block .reviews_info_block_name {
  font-weight: 500;
  font-size: 16px;
  margin: 26px 0px 10px 0px;
}
.reviews__info .reviews_info_block .reviews_info_block_date ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.reviews__info .reviews_info_block .reviews_info_block_date ul li {
  display: inline-block;
  font-size: 14px;
  color: #5C5C5C;
}

.company_description {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.company_description__info ul {
  margin: 0px;
  padding: 0px;
}
.company_description__info ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
  color: #5C5C5C;
}
.company_description__info ul li::before {
  display: block;
  content: url("../../images/list_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}
.company_description__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.service_package {
  background: url(../../images/gradient_package.svg) no-repeat;
  background-position: 71% 30%;
  color: #fff;
}
.service_package__title {
  color: #fff !important;
}
.service_package__info_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  margin-bottom: 60px;
}
.service_package__info_list .service_package_info_list_block ul {
  margin: 0px;
  padding: 0px;
}
.service_package__info_list .service_package_info_list_block ul li {
  list-style: none;
  margin-top: 14px;
  display: flex;
}
.service_package__info_list .service_package_info_list_block ul li::before {
  display: block;
  content: url("../../images/white_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 7px;
}
.service_package__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
}
.service_package__info .service_package_info_block__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  margin-bottom: 30px;
}

.leaders_choice__block_title {
  color: #5C5C5C;
  margin-bottom: 16px;
}
.leaders_choice__block {
  color: #5C5C5C;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
}
.leaders_choice__block .leaders_choice_block_list ul {
  margin: 0px;
  padding: 0px;
}
.leaders_choice__block .leaders_choice_block_list ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
}
.leaders_choice__block .leaders_choice_block_list ul li:last-child {
  margin-bottom: 0px;
}
.leaders_choice__block .leaders_choice_block_list ul li::before {
  display: block;
  content: url("../../images/list_line.svg");
  position: relative;
  bottom: 5px;
  padding-right: 8px;
}

.leaders_choice_tagline {
  margin: 320px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaders_choice_tagline__block {
  display: flex;
  margin-bottom: 56px;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_title {
  font-weight: 500;
  font-size: 62px;
  line-height: 105%;
  color: #1A1B1F;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -20px;
}
.leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
  margin-left: 26px;
}
.leaders_choice_tagline__butn button {
  padding: 22px 40px;
}
.leaders_choice_tagline__butn button span {
  margin-left: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.6fr;
  border-top: 1px solid #5C5C5C;
  padding-top: 68px;
  font-size: 18px;
}
.footer ul {
  margin: 0px;
  padding: 0px;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
  color: #1A1B1F;
}
.footer div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer div:last-child {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.footer div:nth-child(4) {
  grid-column-start: 2;
}
.footer__contacts {
  text-align: center;
}
.footer__contacts ul li a {
  font-weight: 500;
  margin-right: 64px;
}
.footer__contacts ul li:last-child a {
  margin-right: 0px;
}
.footer__menu {
  text-align: center;
  padding: 20px 0px 40px 0px;
}
.footer__menu ul li a {
  margin-right: 60px;
}
.footer__menu ul li a:hover {
  color: #935CFF;
}
.footer__menu ul li:last-child a {
  margin-right: 0px;
}
.footer__copyright {
  text-align: center;
  color: #B3B3B3;
}
.footer__social_net {
  display: flex;
  justify-content: end;
}
.footer__social_net ul li a {
  margin-right: 20px;
}
.footer__social_net ul li:last-child a {
  margin-right: 0px;
}

.swiper .swiper-slide {
  width: 347px;
}

.header_circle_yellow {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 1153.41px;
  top: 188px;
  /* Yellow gradient desktop */
  border-radius: 100%;
  animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
  background: radial-gradient(50% 50% at 50% 50%,
  rgba(255, 215, 113, 0.8) 0%,
  rgba(255, 215, 113, 0.464) 100%);
  filter: blur(80px);
  z-index: -1;
}
@keyframes header_circle_yellow {
  0% {
    bottom: 50%;
    left: 60%;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 50%;
    left: 60%;
  }
}
@keyframes header_circle_yellowleft {
  0% {
    left: 20%;
  }
  100% {
    left: 60%;
  }
}

.header_circle_pink {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 935.33px;
  top: 294.21px;
  border-radius: 100%;
  animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
  /* Pink gradient desktop */
  background: radial-gradient(
    50% 50% at 50% 50%,
  rgba(243, 159, 191, 0.8) 0%,
  rgba(243, 159, 191, 0.8) 100%
  );
  filter: blur(80px);
  z-index: -1;
}
@keyframes header_circle_pink {
  0% {
    top: 60%;
    left: 20%;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    top: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    top: 60%;
    left: 20%;
  }
}
@keyframes header_circle_pinkleft {
  0% {
    left: 20%;
  }
  100% {
    left: 60%;
  }
}

.header_circle_purple {
  position: absolute;
  width: 534.48px;
  height: 534.48px;
  left: 915px;
  top: 50px;
  border-radius: 100%;
  animation: header_circle_purple 8s linear infinite, header_circle_purpleright 6s linear infinite alternate;
  /* Purple gradient desktop */
  background: radial-gradient(50% 50% at 50% 50%,
  rgba(143, 114, 226, 0.6) 0%,
  rgba(135, 130, 224, 0.6) 0%,
  rgba(144, 139, 237, 0.6) 0.01%,
  rgba(143, 114, 226, 0.48) 100%);
  filter: blur(80px);
  z-index: -1;
}
@keyframes header_circle_purple {
  0% {
    bottom: 80%;
    right: 50%;
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    bottom: 10px;
    width: 534.48px;
    height: 534.48px;
  }
  100% {
    bottom: 80%;
    right: 50%;
  }
}
@keyframes header_circle_purpleright {
  0% {
    right: 10%;
  }
  100% {
    right: 50%;
  }
}