@media (max-width: 375px) {
  .breadcrumb-container {
    margin-top: 15px;
    margin-left: 0px;
  }
  .modal__content {
    border-radius: 0px;
  }
  .modal__content .form {
    padding: 18px 18px 100px 16px;
    grid-template-columns: 340px 0px;
  }
  .it_company {
    margin-top: 180px;
  }
  .web-site-reason {
    margin-top: 180px;
  }
  .margin_bottom_60 {
    margin-bottom: 20px;
  }
  .hero {
    margin-top: 48px;
  }
  .container {
    padding: 0px 16px;
  }
  .title_62 {
    font-size: 42px;
  }
  .margin_bottom_240 {
    margin-bottom: 80px;
  }
  .margin_240_black {
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
    transition: margin-right 1s, margin-left 1s;
  }
  .portfolio__products {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .portfolio__products .portfolio_products_block .hash ul li:nth-child(3) {
    display: inline-block;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_title {
    font-size: 24px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: 12px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic img {
    height: 240px;
  }
  .portfolio__products .portfolio_products_block .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: 12px;
  }
  .hash__list .hash_list_block {
    margin-right: 10px !important;
  }
  .hash__list .hash_list_block a {
    font-size: 14px;
    padding: 8px 14px;
  }
  .hash__list .hash_list_block:hover a {
    padding: 8px 14px;
  }
  .form {
    padding: 80px 16px;
  }
  .form__block .form_block_title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .form__block .form_block_info {
    font-size: 15px;
  }
  .form__block .form_block_text {
    font-size: 15px;
    display: none;
  }
  .form__block .form_block_text .form_block_gif {
    display: none;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: 341px 0px;
    padding: 18px 18px 209px 16px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block:first-child {
    margin-top: 60px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text {
    display: inline-block;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text p {
    font-size: 15px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif {
    margin-left: 0px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif {
    display: inline-block;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: 42px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button {
    width: 31px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button::after {
    width: 31px;
  }
  .thanks_modal .thanks_modal_content .form .form_block_wrapper form .form_block_send {
    margin-top: 20px;
  }
  .thanks_form {
    padding: 80px 16px 545px 16px !important;
  }
  .thanks_form .thanks_form_block .form_block_title {
    margin-bottom: 24px;
  }
  .thanks_form .thanks_form_block .form_block_text {
    display: inline-block;
  }
  .thanks_form .thanks_form_block .form_block_text .form_block_gif {
    display: inline-block;
  }
  .technologies__list {
    margin-left: 0px;
  }
  .services__list {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 12px;
  }
  .services__list .services_list_item {
    height: 120px;
    border-radius: 20px;
  }
  .services__list .services_list_item:hover a {
    padding-bottom: 0px;
  }
  .services__list .services_list_item a {
    font-size: 18px;
  }
  .services__list .services_list_item:hover {
    transform: translateY(calc(-2px + -5 * (100vw - 320px) / 55));
    background: url(../../images/test_375.svg) no-repeat;
    background-size: cover;
    background-position-x: 100%;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_text {
    font-size: 15px;
  }
  .projects_process__subtitle {
    margin-bottom: 24px;
  }
  .projects_process__list {
    background-image: none;
  }
  .projects_process .projects_process_list_item {
    height: 51px;
    width: 100%;
    justify-content: normal;
  }
  .projects_process .projects_process_list_item p {
    padding-left: 50px;
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: 0px;
    padding: 0px;
  }
  .padding_50 {
    padding: 0px;
  }
  .black_bg {
    border-radius: 30px;
    padding: 80px 0px;
  }
  .black_bg .advantages__subtitle {
    margin-bottom: 24px;
    max-width: none;
  }
  .black_bg .advantages__info {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
  .black_bg .advantages__info .advantages_info_block {
    color: #fff;
  }
  .black_bg .advantages__info .advantages_info_block:first-child::before {
    display: flex;
    content: url("../../images/gradient_purple1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(2)::before {
    display: flex;
    content: url("../../images/gradient_yellow1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(3)::before {
    display: flex;
    content: url("../../images/gradient_pink1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(4)::before {
    display: flex;
    content: url("../../images/gradient_blue1366.svg");
    position: relative;
    right: 7%;
  }
  .leaders_choice_tagline {
    margin: 80px 0px 84px 0px;
  }
  .leaders_choice_tagline__block {
    flex-direction: column;
    align-items: center;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_title {
    font-size: 42px;
    text-align: center;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
    width: 48px;
    height: 48px;
    margin-left: -10px;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 340px) {
  .portfolio__products .portfolio_products_block .hash ul li:nth-child(3) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .modal__content .form {
    grid-template-columns: calc(290px + 50 * (100vw - 375px) / 448) 0px;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: calc(286px + 55 * (100vw - 375px) / 393) 0px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: calc(40px + 2 * (100vw - 375px) / 393);
  }
}
@media (max-width: 320px) {
  .modal__content .form {
    grid-template-columns: 290px 0px;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: 286px 0px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: 40px;
  }
}/*# sourceMappingURL=media_375.css.map */