@media (max-width: 1024px) {
  .dropdown_services_sticky .dropdown_services {
    left: 12.5%;
  }
  .dropdown_services_sticky .dropdown_services__title {
    padding: 32px 51px 0px 22px;
  }
  .dropdown_services_sticky .dropdown_services__info {
    padding: 32px 28px 29px 10px;
  }
  .dropdown_services_sticky .dropdown_services__info ul {
    grid-column-gap: 39px;
  }
  .burger {
    display: none;
  }
  .container {
    padding: 0px 40px;
  }
  .phone_butn span {
    right: 78px;
  }
  .hash__list .hash_list_block a {
    font-size: 10px;
  }
  .portfolio__products {
    grid-column-gap: 2%;
    grid-row-gap: 30px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: 17px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: 17px;
  }
  .form {
    padding: 71px 62px 71px 40px;
  }
  .form__block .form_block_info {
    max-width: 320px;
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 22px;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: 470px 171px;
    padding: 26px 26px 199px 53px;
    background: url(../../images/purple_ball.svg) 103% 15% no-repeat, url(../../images/yellow_ball.svg) 66% 105% no-repeat;
    background-size: 38%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: 41px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button {
    width: 22px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button::after {
    width: 22px;
  }
  .technologies__list {
    margin-left: -33px;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
    max-width: 95%;
  }
  .projects_process__list {
    background-image: url(../../images/lines_1024.svg);
    background-size: contain;
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: 127.5px;
  }
  .reviews__info .reviews_info_block .reviews_info_block_text {
    font-size: 11px;
  }
  .reviews__info .reviews_info_block .reviews_info_block_name {
    font-size: 11px;
  }
  .company_description .title_62 {
    font-size: 42px;
  }
  .requires_design .title_62 {
    font-size: 42px;
  }
  .services__list .services_list_item:hover {
    background: url(../../images/test_1024.svg) no-repeat;
    background-size: cover;
    background-position-x: 100%;
  }
  .service_package__info_list {
    grid-column-gap: 20px;
  }
  .service_package__info {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .leaders_choice__block {
    grid-column-gap: 20px;
  }
  .leaders_choice_tagline {
    margin: 178px 0px;
  }
  .result_web_design_choice__block {
    grid-column-gap: 20px;
  }
  .footer {
    grid-template-columns: 0.7fr 1.4fr 0.9fr;
  }
  .margin_bottom_60 {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .breadcrumb-container {
    margin-top: 15px;
    margin-left: 0px;
  }
  .not-found {
    display: inline-block;
    width: 669px;
    height: 238px;
    background: url(../../images/notFound.svg) no-repeat;
  }
  .it_company {
    margin-top: calc(280px + -60 * (100vw - 768px) / 256);
  }
  .web-site-reason {
    margin-top: calc(280px + -60 * (100vw - 768px) / 256);
  }
  .margin_bottom_60 {
    margin-bottom: calc(60px + -20 * (100vw - 768px) / 256);
  }
  .title_80 {
    font-size: calc(68px + -11 * (100vw - 768px) / 256);
    max-width: 560px;
  }
  .hero {
    margin-top: calc(160px + -26 * (100vw - 768px) / 256);
  }
  .title_62 {
    font-size: calc(46px + -2 * (100vw - 768px) / 256);
    margin-bottom: calc(36px + 4 * (100vw - 768px) / 256);
  }
  .margin_bottom_240 {
    margin-bottom: calc(100px + 20 * (100vw - 768px) / 256);
  }
  .margin_240_black {
    margin-bottom: calc(100px + 20 * (100vw - 768px) / 256);
    margin-left: 40px;
    margin-right: 40px;
    transition: margin-right 1s, margin-left 1s;
  }
  .header__nav .logo {
    width: calc(110px + -10 * (100vw - 768px) / 256);
    height: calc(36px + -4 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .phone_butn {
    padding-right: calc(40px + 2 * (100vw - 768px) / 256);
  }
  .phone_butn .phone {
    width: calc(140px + -26 * (100vw - 768px) / 256);
    height: calc(140px + -26 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .phone_butn .phone:hover {
    width: calc(140px + -26 * (100vw - 768px) / 256);
    height: calc(140px + -26 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .phone_butn span {
    width: calc(47px + -9 * (100vw - 768px) / 256);
    height: calc(47px + -9 * (100vw - 768px) / 256);
    right: calc(85px + -7 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .form {
    grid-template-columns: 1.2fr 0.8fr;
  }
  .form .form_block_wrapper form .form_block_send p {
    max-width: calc(140px + 38 * (100vw - 901px) / 123);
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: calc(30px + -8 * (100vw - 768px) / 132);
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: calc(560px + -80 * (100vw - 768px) / 256) calc(50px + 225 * (100vw - 768px) / 256);
    padding: calc(30px + -4 * (100vw - 768px) / 256) calc(30px + -4 * (100vw - 768px) / 256) calc(230px + -31 * (100vw - 768px) / 256) calc(60px + -7 * (100vw - 768px) / 256);
    background: url(../../images/purple_ball.svg) 103% 15% no-repeat, url(../../images/yellow_ball.svg) 66% 105% no-repeat;
    background-size: 38%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text p {
    font-size: calc(16px + -5 * (100vw - 768px) / 256);
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: calc(46px + -5 * (100vw - 768px) / 256);
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button {
    width: calc(33px + -11 * (100vw - 768px) / 256);
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button::after {
    width: calc(33px + -11 * (100vw - 768px) / 256);
  }
  .thanks_modal .thanks_modal_content .form .form_block_wrapper form .form_block_send {
    margin-top: 56px;
  }
  .thanks_form {
    padding: calc(80px + 6 * (100vw - 768px) / 256) calc(80px + 9 * (100vw - 768px) / 256) calc(491px + -404 * (100vw - 768px) / 256) calc(80px + -10 * (100vw - 768px) / 256) !important;
  }
  .thanks_form .thanks_form_block .form_block_title {
    margin-bottom: calc(49px + -24 * (100vw - 768px) / 256);
  }
  .technologies__list {
    margin-left: calc(-33px + -14 * (100vw - 768px) / 132);
  }
  .technologies__list .technologies_list_item p {
    font-size: calc(16px + -3 * (100vw - 768px) / 256);
  }
  .projects_process__subtitle {
    margin-bottom: calc(37px + 4 * (100vw - 768px) / 256);
    max-width: calc(800px + -376 * (100vw - 768px) / 256);
  }
  .projects_process__list {
    height: calc(430px + -174 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item {
    height: calc(51px + -15 * (100vw - 768px) / 256);
    border-radius: calc(80px + -23 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item p {
    margin-right: calc(8px + -3 * (100vw - 768px) / 256);
    font-size: calc(18px + -5 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: calc(79.5px + 51 * (100vw - 768px) / 256);
    margin-top: calc(12px + -12 * (100vw - 768px) / 256);
    padding: 0px calc(50px + -14 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item .projects_process_list_item p {
    font-size: calc(18px + -5 * (100vw - 768px) / 256);
  }
  .padding_50 {
    padding: 0px calc(50px + -17 * (100vw - 768px) / 256);
  }
  .blog__products {
    -moz-column-gap: calc(10px + 7 * (100vw - 768px) / 256);
         column-gap: calc(10px + 7 * (100vw - 768px) / 256);
  }
  .leaders {
    position: relative;
  }
  .leaders_choice_tagline {
    margin: calc(184px + -6 * (100vw - 768px) / 256) 0px calc(207px + -29 * (100vw - 768px) / 256) 0px;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_title {
    font-size: calc(46px + -2 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
    width: calc(64px + -12 * (100vw - 768px) / 256);
    height: calc(64px + -12 * (100vw - 768px) / 256);
    margin-left: calc(-20px + 10 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
    margin-left: calc(26px + 46 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__butn button {
    padding: calc(22px + -6 * (100vw - 768px) / 256) calc(40px + -11 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__butn button span {
    margin-left: calc(14px + 23 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline .footer_circle_yellow {
    position: absolute;
    width: 234.48px;
    height: 234.48px;
    left: 153.41px;
    top: 4px;
    /* Yellow gradient desktop */
    border-radius: 100%;
    -webkit-animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
            animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 215, 113, 0.8) 0%, rgba(255, 215, 113, 0.464) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes footer_circle_yellow {
    0% {
      bottom: 50%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      bottom: 50%;
      left: 50%;
    }
  }
  @keyframes footer_circle_yellow {
    0% {
      bottom: 50%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      bottom: 50%;
      left: 50%;
    }
  }
  @-webkit-keyframes footer_circle_yellowleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  @keyframes footer_circle_yellowleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  .leaders_choice_tagline .footer_circle_pink {
    position: absolute;
    width: 234.48px;
    height: 234.48px;
    left: 115.33px;
    top: 14.21px;
    border-radius: 100%;
    -webkit-animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
            animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
    /* Pink gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%, rgba(243, 159, 191, 0.8) 0%, rgba(243, 159, 191, 0.8) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes footer_circle_pink {
    0% {
      top: 20%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      top: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      top: 20%;
      left: 50%;
    }
  }
  @keyframes footer_circle_pink {
    0% {
      top: 20%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      top: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      top: 20%;
      left: 50%;
    }
  }
  @-webkit-keyframes footer_circle_pinkleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  @keyframes footer_circle_pinkleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  .leaders_choice_tagline .footer_circle_purple {
    position: absolute;
    width: 234.48px;
    height: 234.48px;
    left: 105px;
    top: 24px;
    border-radius: 100%;
    -webkit-animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
            animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
    /* Purple gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%, rgba(143, 114, 226, 0.6) 0%, rgba(135, 130, 224, 0.6) 0%, rgba(144, 139, 237, 0.6) 0.01%, rgba(143, 114, 226, 0.48) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes footer_circle_purple {
    0% {
      bottom: 80%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      bottom: 80%;
      left: 50%;
    }
  }
  @keyframes footer_circle_purple {
    0% {
      bottom: 80%;
      left: 50%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 234.48px;
      height: 234.48px;
    }
    100% {
      bottom: 80%;
      left: 50%;
    }
  }
  @-webkit-keyframes footer_circle_purpleleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  @keyframes footer_circle_purpleleft {
    0% {
      left: 15%;
    }
    100% {
      left: 50%;
    }
  }
  .footer__contacts ul li a {
    margin-right: calc(30px + 15 * (100vw - 768px) / 256);
  }
  .footer__menu ul li a {
    margin-right: calc(22px + 21 * (100vw - 768px) / 256);
  }
  .footer__social_net ul li a {
    margin-right: calc(10px + 4 * (100vw - 768px) / 256);
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
  }
  .contacts__contact {
    width: 38%;
  }
  .contacts__contact .contacts_table {
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  .contacts__contact .contacts_table .contacts_label {
    width: 35%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contact .contacts_table .contacts_label ul {
    padding: 0px;
    margin: 0px;
  }
  .contacts__contact .contacts_table .contacts_label ul li {
    display: flex;
    list-style: none;
    margin-bottom: 80px;
  }
  .contacts__contact .contacts_table .contacts_value {
    width: 60%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contact .contacts_table .contacts_value ul {
    padding: 0px;
    margin: 0px;
  }
  .contacts__contact .contacts_table .contacts_value ul li {
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    margin-right: 10px;
  }
  .contacts__contacts_form {
    width: 60%;
  }
  .contacts__contacts_form .contact_form {
    border-radius: 40px;
    padding: 0px 125px 10px 98px;
    display: grid;
    grid-template-columns: 1.03fr 0.97fr;
    background-position: 110px 165px;
  }
  .contacts__contacts_form .contact_form__block {
    color: #1A1B1F;
    width: 160%;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_buttons_title {
    width: 100%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_buttons {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_title {
    color: #1A1B1F;
    margin-bottom: 0px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 38px 0px 15px 0px;
    max-width: 507px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text {
    display: flex;
    align-items: center;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text b {
    font-weight: 400;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text i {
    display: none;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text p {
    font-size: 18px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_email a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    color: #1A1B1F;
  }
  .contacts__contacts_form .contact_form__block p {
    margin: 0px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form {
    padding-top: 40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper {
    position: relative;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:first-child {
    margin-bottom: 78px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:nth-child(2) {
    margin-bottom: 58px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input {
    color: #1A1B1F;
    font-weight: 500;
    line-height: 100%;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #1A1B1F;
    width: 100%;
    padding-bottom: 10px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:focus ~ label,
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:valid ~ label {
    top: -40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -40px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white {
    padding: 22px 40px;
    font-family: "Acrom";
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white span {
    margin-left: 14px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send p {
    max-width: 250px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin: 0px;
  }
}
@media (max-width: 940px) {
  .header__nav .header_nav_list {
    display: none;
  }
  .burger {
    display: inline-block;
  }
}
@media (max-width: 900px) {
  .form {
    padding: 80px;
    grid-template-columns: 1fr;
    background-position: 150px 30px;
  }
  .form__block .form_block_info {
    max-width: none;
    font-size: 16px;
  }
  .form__block .form_block_text {
    font-size: 16px;
  }
  .form__block .form_block_text p {
    font-size: 16px;
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 50px;
  }
  .form__block .form_block_text .form_block_gif img {
    width: 50px;
    height: 50px;
  }
  .form__block .form_block_email {
    margin-bottom: 46px;
  }
  .form__block .form_block_email a {
    font-size: 30px;
  }
  .form .form_block_wrapper form .form_block_send {
    margin-top: 60px;
  }
  .form .form_block_wrapper form .form_block_send p {
    max-width: 250px;
  }
  .form .form_block_wrapper form .form_block_send .button_black {
    padding: 22px 40px;
  }
  .form .form_block_wrapper form .form_block_send .button_black span {
    margin-left: 14px;
  }
  .form .form_block_wrapper form .form_block_send p {
    font-size: 14px;
  }
  .form .form_block_wrapper form .form_line-wrapper {
    font-size: 16px;
  }
  .form .form_block_wrapper form .form_line-wrapper:first-child {
    margin-bottom: 78px;
  }
  .form .form_block_wrapper form .form_line-wrapper:nth-child(2) {
    margin-bottom: 78px;
  }
  .form .form_block_wrapper form .form_line-wrapper input:focus ~ label,
.form .form_block_wrapper form .form_line-wrapper input:valid ~ label {
    top: -40px;
  }
  .form .form_block_wrapper form input {
    font-size: 16px;
  }
  .button_black {
    border-radius: 80px;
    font-size: 16px;
  }
  .technologies__list {
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif img {
    width: 36px;
    height: 36px;
  }
  .thanks_form .thanks_form_block .form_block_title {
    margin-bottom: 49px;
  }
}/*# sourceMappingURL=media_1024.css.map */