@media (min-width: 1366px) and (max-width: 1920px) {
  .container {
    padding-left: calc(157px + 63 * (100vw - 1366px) / 554);
    padding-right: calc(157px + 63 * (100vw - 1366px) / 554);
  }
  .title_80 {
    font-size: calc(57px + 23 * (100vw - 1366px) / 554);
  }
  .title_62 {
    font-size: calc(44px + 18 * (100vw - 1366px) / 554);
    margin-bottom: calc(40px + 16 * (100vw - 1366px) / 554);
  }
  .font_18 {
    font-size: calc(13px + 5 * (100vw - 1366px) / 554);
  }
  .margin_bottom_240 {
    margin-bottom: calc(170px + 70 * (100vw - 1366px) / 554);
  }
  .hero {
    margin-top: calc(134px + 54 * (100vw - 1366px) / 554);
  }
  .hero__subtitle {
    font-size: calc(14px + 6 * (100vw - 1366px) / 554);
  }
  .hero__butn .button_white {
    font-size: calc(11px + 5 * (100vw - 1366px) / 554);
    padding: calc(16px + 6 * (100vw - 1366px) / 554) calc(29px + 11 * (100vw - 1366px) / 554);
  }
  .header_nav_list ul li a {
    margin-right: calc(42px + 18 * (100vw - 1366px) / 554) !important;
    font-size: calc(13px + 5 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_title {
    font-size: calc(22px + 8 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: calc(17px + 7 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: calc(17px + 7 * (100vw - 1366px) / 554);
  }
}