@media (min-width: 1366px) and (max-width: 1920px) {
  .container {
    padding-left: calc(157px + 63 * (100vw - 1366px) / 554);
    padding-right: calc(157px + 63 * (100vw - 1366px) / 554);
  }
  .title_80 {
    font-size: calc(57px + 23 * (100vw - 1366px) / 554);
  }
  .title_62 {
    font-size: calc(44px + 18 * (100vw - 1366px) / 554);
    margin-bottom: calc(35px + 21 * (100vw - 1366px) / 554);
  }
  .font_18 {
    font-size: calc(13px + 5 * (100vw - 1366px) / 554);
  }
  .margin_bottom_240 {
    margin-bottom: calc(170px + 70 * (100vw - 1366px) / 554);
  }
  .hero {
    margin-top: calc(134px + 54 * (100vw - 1366px) / 554);
  }
  .hero__subtitle {
    font-size: calc(14px + 6 * (100vw - 1366px) / 554);
  }
  .hero__butn .button_white {
    font-size: calc(11px + 5 * (100vw - 1366px) / 554);
    padding: calc(16px + 6 * (100vw - 1366px) / 554) calc(29px + 11 * (100vw - 1366px) / 554);
  }
  .header_nav_list ul li a {
    margin-right: calc(42px + 18 * (100vw - 1366px) / 554) !important;
    font-size: calc(13px + 5 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_title {
    font-size: calc(22px + 8 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: calc(17px + 7 * (100vw - 1366px) / 554);
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: calc(17px + 7 * (100vw - 1366px) / 554);
  }
  .form {
    border-radius: calc(29px + 11 * (100vw - 1366px) / 554);
    padding: calc(71px + 29 * (100vw - 1366px) / 554) calc(89px + 36 * (100vw - 1366px) / 554) calc(71px + 29 * (100vw - 1366px) / 554) calc(70px + 28 * (100vw - 1366px) / 554);
  }
  .form__block {
    color: #FFFFFF;
  }
  .form__block .form_block_title {
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .form__block .form_block_info {
    font-size: calc(12px + 6 * (100vw - 1366px) / 554);
    margin: calc(25px + 11 * (100vw - 1366px) / 554) 0px calc(23px + 8 * (100vw - 1366px) / 554) 0px;
    max-width: calc(360px + 147 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_text {
    font-size: calc(12px + 6 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 9px;
  }
  .form__block .form_block_text .form_block_gif img {
    width: calc(36px + 14 * (100vw - 1366px) / 554);
    height: calc(36px + 14 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_text .form_block_gif img:not(:first-child) {
    margin-left: -10px;
  }
  .form__block .form_block_wrapper form {
    padding-top: 40px;
  }
  .form__block .form_block_wrapper form .form_line-wrapper {
    font-size: calc(11px + 5 * (100vw - 1366px) / 554);
    position: relative;
  }
  .form__block .form_block_wrapper form .form_line-wrapper:first-child {
    margin-bottom: calc(30px + 48 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_wrapper form .form_line-wrapper:nth-child(2) {
    margin-bottom: calc(30px + 48 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_wrapper form input:focus ~ label, .form__block .form_block_wrapper form input:valid ~ label {
    top: calc(-20px + -20 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_wrapper form input {
    font-size: calc(11px + 5 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_wrapper form .form_block_send {
    margin-top: calc(43px + 17 * (100vw - 1366px) / 554);
  }
  .form__block .form_block_wrapper form .form_block_send p {
    font-size: calc(10px + 4 * (100vw - 1366px) / 554);
    max-width: calc(178px + 72 * (100vw - 1366px) / 554);
  }
  .button_black {
    border: 1px solid #fff;
    border-radius: calc(57px + 23 * (100vw - 1366px) / 554);
    background: #1A1B1F;
    font-weight: 500;
    font-size: calc(11px + 5 * (100vw - 1366px) / 554);
    line-height: 100%;
    color: #fff;
  }
  .button_black:hover {
    background: #fff;
    color: #1A1B1F;
  }
  .button_black:hover .arrow_white {
    background: url(../../images/arrow_black.svg) no-repeat;
  }
  .services__list {
    grid-column-gap: calc(19px + 7 * (100vw - 1366px) / 554);
    grid-row-gap: calc(43px + 17 * (100vw - 1366px) / 554);
  }
  .services__list .services_list_item {
    border-radius: calc(18px + 7 * (100vw - 1366px) / 554);
    height: calc(149px + 61 * (100vw - 1366px) / 554);
  }
  .services__list .services_list_item a {
    font-size: calc(14px + 6 * (100vw - 1366px) / 554);
  }
  .react {
    width: calc(61px + 25 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .java {
    width: calc(84px + 34 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .python {
    width: calc(53px + 22 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .php {
    width: calc(110px + 45 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .golang {
    width: calc(105px + 21 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .c_plus {
    width: calc(49px + 20 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .node {
    width: calc(88px + 35 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .js {
    width: calc(48px + 19 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .ts {
    width: calc(49px + 20 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .vue {
    width: calc(56px + 22 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .net {
    width: calc(54px + 22 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .symfony {
    width: calc(53px + 22 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .laravel {
    width: calc(51px + 20 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .yii {
    width: calc(52px + 21 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .next {
    width: calc(83px + 34 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .gatsby {
    width: calc(74px + -21 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .kotlin {
    width: calc(48px + 20 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .swift {
    width: calc(48px + 20 * (100vw - 1366px) / 554);
    height: calc(58px + 22 * (100vw - 1366px) / 554);
  }
  .technologies__list {
    grid-row-gap: calc(25px + 9 * (100vw - 1366px) / 554);
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
    font-size: calc(21px + 9 * (100vw - 1366px) / 554);
    max-width: 75%;
    margin-bottom: calc(20px + 10 * (100vw - 1366px) / 554);
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_text {
    font-size: calc(13px + 5 * (100vw - 1366px) / 554);
  }
  .projects_process__subtitle {
    margin-bottom: calc(41px + 15 * (100vw - 1366px) / 554);
  }
  .projects_process__list {
    height: calc(256px + 104 * (100vw - 1366px) / 554);
  }
  .projects_process .projects_process_list_item {
    height: calc(36px + 15 * (100vw - 1366px) / 554);
    border-radius: calc(57px + 23 * (100vw - 1366px) / 554);
  }
  .projects_process .projects_process_list_item p {
    margin-right: calc(5px + 3 * (100vw - 1366px) / 554);
  }
  .padding_50 {
    padding: 0px calc(33px + 17 * (100vw - 1366px) / 554);
  }
}