@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .title_62 {
    line-height: 115%;
  }

  .hero__description {
    width: 100%;
  }

  .hero__butn {
    margin-bottom: 160px !important;
  }

  .active_link {
    font-size: 16px;
  }
  .resume-portfolio {
    .resume-portfolio-text {
      font-size: 18px;
    }
  }
  .it_company {
    margin-top: 204px;

   &__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
    &__info {
      line-height: 150%;
      flex-direction: column;
      margin-right: -12px;
      width: 688px;

      p {
        margin-top: 0;
        width: 688px;
        font-size: 15px !important;
      }
    }
  }
  .web-site-reason {
    margin-top: 280px;
  }

  .margin_bottom_60 {
    margin-bottom: 60px;
  }
  .container.swiper_container {
    padding: 0;
    .view_title {
      padding: 0 16px;
    }
  }

  .phone_butn {
    padding-right: 40px;
    top: 690px;
    .phone {
      width: 140px;
      height: 140px;
      background-size: cover;
      &:hover {
        width: 140px;
        height: 140px;
        background-size: contain;
      }
    }
    span {
      width: 47px;
      height: 47px;
      right: 85px;
      background-size: cover;
    }
  }

  .title_80 {
    max-width: 560px;
  }

  .hero {
    &__portfolio {
      margin-bottom: 80px;
    }

    &__subtitle {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;
    }

    &__description {
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
      color: #5c5c5c;
      width: 100%;
      margin-top: 0;
    }

    &__butn {
      .button_white {
        padding: 22px 28px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #1a1b1f;
        font-family: "Acrom", sans-serif;
        -webkit-transition: all 0.3s linear;
        span {
          margin-left: 14px;
        }
        :hover {
          color: #ffffff;
          background: #1a1b1f;
          -webkit-transition: all 0.3s linear;
          cursor: pointer;
        }
      }
    }
  }

  .form {
    background: #1a1b1f url(../../images/form_gradient.svg) no-repeat;
    border-radius: 40px;
    padding: 85px 57px;
    display: grid;
    gap: 0;
    grid-template-columns: 1.03fr 0.97fr;
    background-position: 110px 165px;

    &__block {
      color: #ffffff;

      .form_block_title {
        color: #ffffff;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500;
        width: 608px;
      }

      .form_block_info {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin: 30px 0 0 0;
        max-width: 357px;
      }

      .form_block_text {
        display: flex;
        align-items: center;
        margin-top: 22px;
        margin-bottom: -22px !important;
        b {
          font-weight: 400;
        }
        i {
          display: none;
        }
        p {
          font-size: 16px;
        }

        .form_block_gif {
          margin-left: 53px;
          display: flex;

          .circle-video, img,  video{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;

            &:not(:first-child) {
              margin-left: -10px;
            }
          }
        }
      }

      p {
        margin: 0;
      }

      .form_block_wrapper {
        width: 608px;
        margin: 30px 0 0 0;
        form {

          .error_message  {
            display: inline-block;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 95%;
            color: #e11d48;
            font-size: 14px;
            line-height: 24px;
            height: 24px;
          }

          .error_message.show_error  {
            opacity: 1;
            transition: all 0.5s ease-in-out;
          }
          .form_line-double {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-bottom: 32px;

            .form_line-wrapper {
              width: 90%;
              margin-bottom: 0;
            }

            .form_line-wrapper:first-child {
              margin-bottom: 32px;
            }

          }

          .form_line-double:first-child {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-bottom: 10px;

            .form_line-wrapper {
              width: 90%;
              margin-top: 10px;
              margin-bottom: 10px;
            }

          }

          .form_line-wrapper, .form_line-wrapper--one {
            position: relative;
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;

            input, textarea {
              color: #fff;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              font-size: 18px;
              border: 0;
              outline: none;
              background-color: transparent;
              border-bottom: 1px solid #fff;
              width: 90%;
              padding-top: 36px;
            }

            input:focus ~ label,
            input[data-empty="false"] ~ label {
              top: -25px;
            }

            .input_invalid {
              border-bottom: 1px solid #e11d48;
              color: #e11d48;
              font-size: 16px;
            }
            .label_invalid {
              color: #e11d48;
            }

            label {
              font-size: 16px;
              position: absolute;
              pointer-events: none;
              left: 0;
              top: 0;
              transition: 0.2s ease all;
              -moz-transition: 0.2s ease all;
              -webkit-transition: 0.2s ease all;
            }
          }

          .form_block_send {
                margin-top: 32px;
                display: flex;
                flex-direction: column;

                .button_black {
                  padding: 22px 40px;
                  font-family: "Acrom", sans-serif;
                  max-width: 157px;
                  font-size: 16px;

                  span {
                    margin-left: 14px;
                  }
                  :hover {
                    cursor: pointer;
                  }
                }

                input {
                  position: absolute;
                  z-index: -1;
                  opacity: 0;
                }

                input+label {
                  display: inline-flex;
                  align-items: center;
                  user-select: none;
                }
                input+label::before {
                  content: '';
                  display: inline-block;
                  width: 1em;
                  height: 1em;
                  flex-shrink: 0;
                  flex-grow: 0;
                  border: 1px solid #858A9E;
                  border-radius: 0.25em;
                  margin-right: 0.5em;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: 50% 50%;
                }

                input:checked+label::before {
                  border-color: #858A9E;
                  background-image: url("../../images/check.svg");
                }

                .label_invalid{
                  color: #e11d48;

                  a {
                    color: #e11d48;
                  }
                }

                .checkbox_invalid+label::before {
                  border: 1px solid #e11d48;
                }

                label {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 100%;
                  margin: 0 0 40px;

                  a {
                    color: #935CFF;
                  }
                }
              }
        }
      }
    }
  }


  .mission {
    .mission__title {
      .title {
        font-size: 42px;
        margin-bottom: 20px;
      }
      .mission_description {
        display: flex;
        flex-direction: column;
        gap: 15px;
          p {
            color: #5C5C5C;
            width: 100%;
            font-size: 15px;
            margin: 0;
          }
      }
    }

    .mission__quote {
      margin-top: 30px;
      border-radius: 25px;
      padding: 50px 0;
      background-color: #935CFF;

      .quote {
        color: #FFF;
        width: 530px;
        font-size: 24px;
        margin: 0 auto;
      }

      .image {
        width: fit-content;
        margin: 23px auto 0;

        img {
          border-radius: 100%;
          height: 87px;
        }
      }

      .name {
        width: fit-content;
        margin: 7px auto 0;
        font-size: 14px;
      }

      .position {
        width: fit-content;
        margin: 5px auto 0;
        font-size: 14px;
      }
    }
  }

  .prof_path {
    display: flex;
    flex-direction: column;
    .prof_path__wrap{
      max-width: 100%;
      .prof_path_title {
        font-size: 42px;
      }
      .prof_path_description {
        width: 100%;
        font-size: 15px;
        margin: 20px 0 30px;
      }

      .prof_path_history {
        .prof_path_line {
          display: flex;
          gap: 0;
          margin-bottom: 25px;

          .year {
            font-size: 24px;
            min-width: 71px;
          }

          .descr {
            padding: 0;
            width: 560px;
            font-size: 15px;
            margin-left: -15px;
          }
        }

        span.line {
          height: 524px;
          left: 50%;
          top: 7px;
        }
      }
    }

    .prof_path__images {
          margin: 0 auto;
      .images_table {
        width: 481px;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;

        img {
          width: 284px;
        }

        img:first-child {
          width: 183px;
          height: 286px;
          align-self: end;
        }

        img:last-child {
          width: 182px;
          height: 238px;
        }
      }

      .stick_cup {
        position: absolute;
        max-width: 28px;
        max-height: 28px;
        border-radius: 100%;
        background-color: #FFD771;
        padding: 28px;
        left: -10px;
      }

      .stick_heart {
        position: absolute;
        max-width: 35px;
        max-height: 35px;
        border-radius: 100%;
        background-color: #B1D2E0;
        padding: 18px;
        bottom: 8%;
        right: 16.5%;

      }
    }
  }

  .profit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .profit__wrap{
      max-width: 688px;
      .profit_title {
        max-width: 487px;
        font-size: 44px;
      }
      .profit_description {
        font-size: 15px;
        margin: 20px 0 30px;
      }

      .profit__companie {
        .profit_not-it {
          border-top: 1px solid #E1DAF4;
          padding: 25px 0;
          .title {
            font-size: 24px;
            margin-bottom: 15px;
          }

          .descr {
            font-size: 15px;
          }
        }

        .profit_it {
            border-top: 1px solid #E1DAF4;
            border-bottom: 1px solid #E1DAF4;
            padding: 25px 0;
          .title {
            font-size: 24px;
            margin-bottom: 15px;
          }

          .descr {
            font-size: 15px;
          }
        }
      }
    }

    .profit__images {
      display: flex;
      flex-wrap: wrap;
      margin: 40px auto 50px;
      gap: 20px;

      img:first-child {
        width: 393px;
        height: 525px;
      }

      img:nth-child(2) {
        width: 275px;
        height: 354px;
      }

      .stick_computer {
        position: absolute;
        max-width: 24px;
        max-height: 24px;
        border-radius: 100%;
        background-color: #FFD771;
        padding: 24px 30px 27px 23px;
        bottom: -13px;
        left: -1px;
      }

      .stick_light {
        position: absolute;
        max-width: 50px;
        max-height: 50px;
        border-radius: 100%;
        background-color: #B1D2E0;
        padding: 14px 15px 9px 17px;
        top: -32px;
        right: 0%;
      }
    }
  }

  .partnering {
      .partnering_title {
        width: 528px;
        font-size: 42px;
      }
      .partnering_description {
        width: 100%;
        font-size: 15px;
        margin: 20px 0 50px;
      }

    .partnering__cards {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 30px;
        .cards_item {
          .title {
            font-size: 24px;
            margin-bottom: 20px;
            padding-bottom: 20px;
          }

          .descr {
            max-width: 99%;
            font-size: 15px;
          }
        }
      }

    .yellow_circle {
      width: 129px;
      height: 129px;
      top: 0;
      left: 70%;

    }

    .peach_circle {
      width: 129px;
      height: 129px;
      top: 0;
      left: 65%;

    }
  }

  .portfolio {
    &__products {
      column-gap: 20px;
      row-gap: 20px;
      .portfolio_products_block {
        .portfolio_products_block_title {
          margin-top: 12px;
          font-size: 24px;
          line-height: 115%;
        }

        .portfolio_products_block_pic {
          width: 334px;
          height: 240px;
          margin-bottom: 20px;

          &__content {
            background-size: 334px 240px;
          }
        }

        .portfolio_products_block_list {
          margin-bottom: calc(
            17px + (24 - 17) * ((100vw - 1366px) / (1920 - 1366))
          );
        }
      }
    }
  }

  .accor__description {
   display: flex;
   flex-direction: column;
   gap: 15px;

   p {
     font-size: 15px;
   }
 }

  .modal {
      height: auto;
      width: 90%;
      background-color: rgba(26, 27, 31, 0.2);
      position: fixed;
      top: 0;
      left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      margin: 0 auto;
  }

  .thanks_modal {
    .thanks_modal_content {
      .form {
        grid-template-columns: 1fr;
        padding: 30px 30px 230px 60px;
        background: url(../../images/purple_ball.svg) 103% 15% no-repeat,
          url(../../images/yellow_ball.svg) 66% 105% no-repeat;
        background-size: 38%;
        &__block {
          .form_block_text {
            b {
              display: none;
            }
            i {
              display: inline-block;
              font-style: normal;
            }
            p {
              font-size: 16px;
            }
            .form_block_gif {
              margin-left: 0;
              img {
                width: 50px;
                height: 50px;
              }
            }
          }

          .form_block_title {
            font-size: 46px;
          }
          .form_block_modal_button {
            width: 33px;
            &::after {
              width: 33px;
            }
          }
        }
        .form_block_wrapper {
          form {
            .form_block_send {
              margin-top: 56px;
            }
          }
        }
      }
    }
  }

  .thanks_form {
    padding: 80px 80px 491px 80px;
  }

  .services {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .services_list_item {
        height: 180px;
        border-radius: 25px;

        a {
          font-size: 20px;
        }

        &:hover {
          background: url(../../images/test_1024.svg) no-repeat;
          background-size: contain;
          background-position-x: 100%;
        }
      }

      .services_list_item.index {
        height: 180px;
        border-radius: 25px;

        a {
          font-size: 20px;
        }

        &:hover {
          background: #1A1B1F;
        }
      }
    }
  }

  .technologies {
    &__list {
      margin-left: -30px;

      .technologies_list_item {
        height: 150px;
        p {
          font-size: 16px;
        }
      }
    }
  }

  .bpm_cloud {
    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .bpm_cloud_block {
        max-width: none;

        .bpm_cloud_block_title {
          margin-bottom: 16px;
          font-size: 24px;
        }

        .bpm_cloud_block_text {
          font-size: 16px;
        }

        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .projects_process {
    &__subtitle {
      margin-bottom: 37px;
      max-width: none;
    }

    &__list {
      height: 430px;
      background-image: url(../../images/lines_768.svg);
    }

    .projects_process_list_item {
      height: 51px;
      border-radius: 80px;
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #ffffff;
        //margin: 0 8px 0 0;
      }
  
      .projects_process_list_item {
        left: 46%;
        margin-top: 12px;
        padding: 0 50px;

        p {
          font-size: 15px;
        }
        .projects_process_list_item__hover-elem {
          display: none;
          opacity: 0;
          transition: opacity .7s ease-in-out;
          transition-delay: 0.3s;
          background-color:#935CFF;
          border-radius: 25px;
          padding: 20px 15px;
          position: absolute;
          top: 130%;
          left: -25%;
          width: 235px;
          z-index: 2;
    
          .ober {
            display: inline-block;
            width: 37px;
            height: 17px;
            background: url(../../images/ober.svg);
            position: absolute;
            top: -0.7rem;
            left: 45%;
          }
    
          p {
            color:#fff;
            cursor: default;
            font-family: 'Acrom';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin: 8px 0 0 25px;
          }

          p::before {
            content:'—'
          }
    
          p:first-child {
            margin: 0;
          }
        }

        .projects_process_list_item__hover-elem.click {
          display: block;
          opacity: 1;
          transition: opacity .7s ease-in-out;
          transition-delay: .4s;
        }
      }

      .projects_process_list_item__hover-elem {
        display: none;
        opacity: 0;
        transition: opacity .7s ease-in-out;
        transition-delay: 0.3s;
        background-color:#935CFF;
        border-radius: 25px;
        padding: 20px 15px;
        position: absolute;
        top: 130%;
        left: -25%;
        width: 235px;
        z-index: 2;
  
        .ober {
          display: inline-block;
          width: 37px;
          height: 17px;
          background: url(../../images/ober.svg);
          position: absolute;
          top: -0.7rem;
          left: 45%;
        }
  
        p {
          color:#fff;
          cursor: default;
          font-family: 'Acrom';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 8px 0 0 25px;
        }

        p::before {
          content:'—'
        }
  
        p:first-child {
          margin: 0;
        }
      }

      .projects_process_list_item__hover-elem.click {
        display: block;
        opacity: 1;
        transition: opacity .7s ease-in-out;
        transition-delay: .4s;
      }
    }
  }

  .padding_50 {
    padding: 0 50px;
  }

  .black_bg {
    background: #1a1b1f;
    border-radius: 40px;
    padding: 100px 0;

    .advantages {
      &__title {
        line-height: 100%;
        margin-bottom: 40px;
      }
      &__subtitle {
        margin-bottom: 36px;
        max-width: none;
      }

      &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 36px;

        .advantages_info_block {
          color: #fff;

          &:first-child::before {
            display: flex;
            content: url("../../images/gradient_purple768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(2)::before {
            display: flex;
            content: url("../../images/gradient_yellow768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(3)::before {
            display: flex;
            content: url("../../images/gradient_pink768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(4)::before {
            display: flex;
            content: url("../../images/gradient_blue768.svg");
            position: relative;
            right: 7%;
          }
        }
      }

      &__title {
        max-width: 600px;
      }
    }
  }

  .company_description {
    grid-template-columns: 1fr;
    column-gap: 0;

    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
        object-position: 0px -40px;
      }
    }

    &__info {
      ul {
        li {
          font-size: 16px;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .requires_design {
    grid-template-columns: 1fr;
    column-gap: 0;

    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
        object-position: 0px -40px;
      }
    }

    &__info {
      ul {
        li {
          font-size: 16px;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .service_package {
    &__info_list {
      grid-template-columns: 1fr;
      grid-column-gap: 30px;

      .font_18 {
        font-size: 16px;
      }

      .service_package_info_list_block {
        ul {
          li {
            margin-top: 14px;
          }
        }

        &:last-child {
          margin-top: 16px;
        }
      }
    }

    &__info {
      grid-template-columns: 1fr;

      .service_package_info_block {
        &__title {
          font-size: 24px;
        }

        .font_18 {
          font-size: 16px;
        }
      }
    }
  }

  .result_web_design_choice {
    &__block_title {
      margin-bottom: 14px;
    }

    &__block {
      grid-template-columns: 1fr;
      grid-column-gap: 0;

      .result_web_design_choice_block_list {
        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .leaders_choice {
    &__block_title {
      margin-bottom: 14px;
    }

    &__block {
      grid-template-columns: 1fr;
      grid-column-gap: 0;

      .leaders_choice_block_list {
        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .leaders_choice_tagline {
    margin: 184px 0 207px 0;

    &__block {
      .leaders_choice_tagline_block_title {
        font-size: 46px;
      }

      .leaders_choice_tagline_block_gif {
        img {
          width: 64px;
          height: 64px;
          margin-left: -20px;

          &:first-child {
            margin-left: 26px;
          }
        }
      }
    }

    &__butn {
      button {
        padding: 22px 40px;

        span {
          margin-left: 14px;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .modal {
    &__content {
      border-radius: calc(0px + (30 - 0) * ((100vw - 375px) / (768 - 375)));
    }
  }

  .web-site-reason {
    margin-top: calc(180px + (280 - 180) * ((100vw - 375px) / (768 - 375)));
  }

  .margin_bottom_60 {
    margin-bottom: calc(20px + (60 - 20) * ((100vw - 375px) / (768 - 375)));
  }

  .title_80 {
    font-size: 46px;
    //max-width: 645px;
  }

  .phone_butn {
    padding-right: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    span {
      right: calc(63px + (85 - 63) * ((100vw - 375px) / (768 - 375)));
    }
  }

  .hero {
    margin-top: 43px;
  }

  .title_62 {
    margin-bottom: calc(24px + (36 - 25) * ((100vw - 375px) / (768 - 375)));
  }

  .margin_bottom_240 {
    margin-bottom: 80px;
  }

  .margin_240_black {
    margin-bottom: calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375)));
    margin-left: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    margin-right: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    transition: margin-right 1s, margin-left 1s;
  }

  .portfolio {
    &__products {
      .portfolio_products_block {
        .portfolio_products_block_pic {
          img {
            border-radius: 20px;
            width: 334px;
            object-fit: cover;
            height: calc(150px + (280 - 150) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .reviews {
    &__info {
      .reviews_info_block {
        border-radius: 20px;
        color: #1a1b1f;
        background: #e1daf4;
        padding: 24px 20px;

        .reviews_info_block_text {
          font-size: 16px;
          line-height: 150%;
        }
        .reviews_info_block_name {
          font-size: 16px;
          line-height: 100%;
          margin-top: 28px;
        }
        .reviews_info_block_date {
          margin-top: 10px;
          ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;

            li {
              display: inline-block;
              font-size: 14px;
              color: #5c5c5c;
              &:last-child {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  .swiper {
    .swiper-slide {
      width: 320px;
      height: max-content;
      margin: 0 16px;
    }
  }

  .hash {
    &__list {
      .hash_list_block {
        a {
          padding: 6px 10px;
          font-size: 14px;
        }
      }
    }
  }

  .blog {
    &__products {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;

      .blog_products_block {
        .blog_products_block_pic {
          width: 334px;
          height: 280px;
          img {
            object-fit: cover;
            width: 334px;
            height: 280px;
            border-radius: 20px;
          }
        }
        .blog_products_block_list {
          margin: 17px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .blog_products_block_list_date {
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
          }
          .hash_list_block {
            &__list {
              .hash_list_block {
                a {
                  padding: 6px 10px;
                  font-size: 14px;
                }
              }
            }
            &:first-child {
              margin-right: 10px;
            }
          }
        }

        .blog_products_block_title {
          font-size: 24px;
          font-weight: 500;
          line-height: 100%;
        }

        .hash {
          &__list {
            .hash_list_block {
              a {
                padding: 6px 10px;
                font-size: 14px;
              }
            }
          }
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .blogs {
    display: flex;
    flex-direction: column-reverse;
    &__products {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;
      width: 100%;
      .blogs_products_block {
        width: 45%;
        .hash {
          ul {
            li {
              &:last-child {
                display: none;
              }
            }
          }
        }

        .blogs_products_block_pic {
          margin-bottom: 16px;

          img {
            // height: 280px;
            object-fit: cover;
            border-radius: 5%;
          }
        }

        .blogs_products_block_list {
          display: flex;
          margin-bottom: 16px;
          .blogs_products_block_list_date {
            width: 30%;
          }
          .blogs_products_block_list_tags {
            width: 70%;
          }
        }
      }
    }
    &__topics {
      width: 100%;
      .blogs_topics_block {
        .blogs_topics_block_list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1%;
          .blogs_topics_block_list_topics {
            width: 46%;
            margin-bottom: 40px;
          }
          .blogs_topics_block_list_category {
            width: 46%;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  .thanks_form_container {
    padding: 0;
  }

  .thanks_modal {
    .thanks_modal_content {
      .form {
        grid-template-columns:
          calc(341px + (550 - 341) * ((100vw - 375px) / (768 - 375)))
          calc(0px + (50 - 0) * ((100vw - 375px) / (768 - 375)));
        padding: calc(18px + (30 - 18) * ((100vw - 375px) / (768 - 375)))
          calc(18px + (30 - 18) * ((100vw - 375px) / (768 - 375)))
          calc(209px + (230 - 209) * ((100vw - 375px) / (768 - 375)))
          calc(16px + (60 - 16) * ((100vw - 375px) / (768 - 375)));
        background: url(../../images/purple_ball.svg) 103% 15% no-repeat,
          url(../../images/yellow_ball.svg) 66% 105% no-repeat;
        background-size: 38%;
        &__block {
          &:first-child {
            margin-top: calc(
              60px + (40 - 60) * ((100vw - 375px) / (768 - 375))
            );
          }
          .form_block_text {
            display: inline-block;
            p {
              font-size: calc(
                15px + (16 - 15) * ((100vw - 375px) / (768 - 375))
              );
            }
            .form_block_gif {
              margin-left: 0;
              display: inline-block;
            }
          }

          .form_block_title {
            font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
          }
          .form_block_modal_button {
            width: calc(31px + (33 - 31) * ((100vw - 375px) / (768 - 375)));
            &::after {
              width: calc(31px + (33 - 31) * ((100vw - 375px) / (768 - 375)));
            }
          }
        }
        .form_block_wrapper {
          form {
            .form_block_send {
              margin-top: calc(
                20px + (56 - 20) * ((100vw - 375px) / (768 - 375))
              );
            }
          }
        }
      }
    }
  }

  .thanks_form {
    padding: 80px calc(16px + (80 - 16) * ((100vw - 375px) / (768 - 375)))
      calc(545px + (491 - 545) * ((100vw - 375px) / (768 - 375)))
      calc(16px + (80 - 16) * ((100vw - 375px) / (768 - 375))) !important;
    .thanks_form_block {
      .form_block_title {
        margin-bottom: calc(24px + (49 - 24) * ((100vw - 375px) / (768 - 375)));
      }
      .form_block_wrapper {
        form {
          .form_block_send {
            margin-top: calc(
              36px + (60 - 36) * ((100vw - 375px) / (768 - 375))
            );
          }
        }
      }
    }
  }

  .technologies {
    &__list {
      margin-left: calc(0px + (-30 - 0) * ((100vw - 530px) / (768 - 530)));
      grid-row-gap: 65px;
    }
  }

  .services {
    &__list {
      grid-column-gap: calc(10px + (20 - 10) * ((100vw - 375px) / (768 - 375)));
      grid-row-gap: calc(10px + (20 - 10) * ((100vw - 375px) / (768 - 375)));

      .services_list_item {
        height: calc(120px + (180 - 120) * ((100vw - 375px) / (768 - 375)));
        border-radius: calc(15px + (25 - 15) * ((100vw - 375px) / (768 - 375)));

        a {
          font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (768 - 375)));
        }

        &:hover {
          transform: translateY(0);
          //transform: translateY(calc(-7px + (-18 + 7) * ((100vw - 375px) / (768 - 375))));
          // background-position: 50% calc(35px + (75 - 35) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .bpm_cloud {
    &__info {
      .bpm_cloud_block {
        .bpm_cloud_block_title {
          margin-bottom: calc(
            12px + (16 - 12) * ((100vw - 375px) / (768 - 375))
          );
          font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (768 - 375)));
        }

        .bpm_cloud_block_text {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .padding_50 {
    padding: 0 calc(163px + (50 - 163) * ((100vw - 375px) / (768 - 375))) 0 50px;
  }

  .black_bg {
    padding: calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375))) 0
      calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375))) 0;

    .advantages {
      &__subtitle {
        margin-bottom: calc(24px - 20 * ((100vw - 375px) / (768 - 375)));
      }

      &__info {
        grid-row-gap: calc(24px - 23 * ((100vw - 375px) / (768 - 375)));
        .advantages_info_block {
          max-width: 350px;
        }
      }

      &__title {
        max-width: none;
      }
    }
  }

  .company_description {
    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
      margin-bottom: 34px;
    }

    &__pic {
      img {
        height: calc(240px + (260 - 240) * ((100vw - 375px) / (768 - 375)));
      }
    }

    &__info {
      ul {
        li {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          //margin-bottom: calc(
          //  12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
          //);
          margin-bottom: 8px;
        }
      }
    }
  }

  .requires_design {
    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        height: calc(240px + (260 - 240) * ((100vw - 375px) / (768 - 375)));
      }
    }

    &__info {
      ul {
        li {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          margin-bottom: calc(
            12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
          );
        }
      }
    }
  }

  .service_package {
    &__info {
      grid-row-gap: 25px;
    }
    &__info_list {
      margin-bottom: 28px;
      .font_18 {
        font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
      }

      .service_package_info_list_block {
        ul {
          li {
            margin-top: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }
        }
      }
    }

    &__info {
      .service_package_info_block {
        &__title {
          font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (768 - 375)));
        }

        .font_18 {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .leaders {
    position: relative;
  }

  .result_web_design {
    position: relative;
  }

  .result_web_design_choice {
    &__block_title {
      margin-bottom: calc(12px + (14 - 12) * ((100vw - 375px) / (768 - 375)));
    }

    &__block {
      .result_web_design_choice_block_list {
        ul {
          li {
            margin-bottom: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }

          .font_18 {
            font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .leaders_choice {
    &__block_title {
      margin-bottom: calc(12px + (14 - 12) * ((100vw - 375px) / (768 - 375)));
    }

    &__block {
      .leaders_choice_block_list {
        ul {
          li {
            margin-bottom: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }

          .font_18 {
            font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .leaders_choice_tagline {
    margin: calc(80px + (184 - 80) * ((100vw - 375px) / (768 - 375))) 0
      calc(84px + (207 - 84) * ((100vw - 375px) / (768 - 375))) 0;

    &__block {
      .leaders_choice_tagline_block_title {
        font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
        letter-spacing: -0.1px;
      }

      .leaders_choice_tagline_block_gif {
        img {
          width: calc(48px + (64 - 48) * ((100vw - 375px) / (768 - 375)));
          height: calc(48px + (64 - 48) * ((100vw - 375px) / (768 - 375)));
          margin-left: calc(
            -10px + (-20 + 10) * ((100vw - 375px) / (768 - 375))
          );

          &:first-child {
            margin-left: calc(0px + (26 + 0) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }

    .footer_circle_yellow {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 153.41px;
      top: 4px;
      /* Yellow gradient desktop */
      border-radius: 100%;
      animation: footer_circle_yellow 12s linear infinite,
        footer_circle_yellowleft 12s linear infinite alternate;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 215, 113, 0.8) 0%,
        rgba(255, 215, 113, 0.464) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_yellow {
      0% {
        bottom: 50%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        bottom: 50%;
        left: 10%;
      }
    }

    @keyframes footer_circle_yellowleft {
      0% {
        left: 60%;
      }

      100% {
        left: 10%;
      }
    }

    .footer_circle_pink {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 115.33px;
      top: 14.21px;
      border-radius: 100%;
      animation: footer_circle_pink 8s linear infinite,
        footer_circle_pinkleft 8s linear infinite alternate;
      /* Pink gradient desktop */
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(243, 159, 191, 0.8) 0%,
        rgba(243, 159, 191, 0.8) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_pink {
      0% {
        top: 20%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        top: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        top: 20%;
        left: 10%;
      }
    }

    @keyframes footer_circle_pinkleft {
      0% {
        left: 60%;
      }

      100% {
        left: 10%;
      }
    }

    .footer_circle_purple {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 105px;
      top: 24px;
      border-radius: 100%;
      animation: footer_circle_purple 6s linear infinite,
        footer_circle_purpleleft 6s linear infinite alternate;
      /* Purple gradient desktop */
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(143, 114, 226, 0.6) 0%,
        rgba(135, 130, 224, 0.6) 0%,
        rgba(144, 139, 237, 0.6) 0.01%,
        rgba(143, 114, 226, 0.48) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_purple {
      0% {
        bottom: 80%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        bottom: 80%;
        left: 60%;
      }
    }

    @keyframes footer_circle_purpleleft {
      0% {
        left: 10%;
      }

      100% {
        left: 60%;
      }
    }

  .error_message  {
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 95%;
    color: #e11d48;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
  }

  .error_message.show_error  {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 675px) {
  .form {
    background: #1a1b1f url(../../images/form_gradient.svg) no-repeat;
    border-radius: 40px;
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-position: 110px 165px;

    &__block {
      color: #ffffff;

      .form_block_title {
        position: relative;
        top: -50px;
        margin-top: 64px;
        color: #ffffff;
        margin-bottom: 0;
        font-weight: 500;
        width: 100%;
      }

      .form_block_info {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin: -15px 0 0;
        max-width: 90%;
      }

      .form_block_text {
        display: none;
      }

      p {
        margin: 0;
      }

      .form_block_wrapper {
        width: 100%;
        margin: 28px 0 0 0;
        form {

          .error_message  {
            display: inline-block;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 75%;
            color: #e11d48;
            font-size: 12px;
            line-height: 24px;
            height: 24px;
          }

          .error_message.show_error  {
            opacity: 1;
            transition: all 0.5s ease-in-out;
          }

          .form_line-double {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-bottom: 15px;

            .form_line-wrapper {
              width: 100%;
              margin-top: 3px;
              margin-bottom: 3px;
            }

          }

          .form_line-double:first-child {
            display: flex;
            flex-direction: column;
            gap: 0;

            .form_line-wrapper {
              width: 100%;
              margin-top: 3px;
              margin-bottom: 3px;
            }

          }

          .form_line-wrapper, .form_line-wrapper--one {
            position: relative;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 0;

            input, textarea {
              color: #fff;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              font-size: 16px;
              border: 0;
              outline: none;
              background-color: transparent;
              border-bottom: 1px solid #fff;
              width: 100%;
              padding-top: 36px;
            }

            input:focus ~ label,
            input[data-empty="false"] ~ label {
              top: -25px;
            }

            .input_invalid {
              border-bottom: 1px solid #e11d48;
              color: #e11d48;
              font-size: 16px;
            }
            .label_invalid {
              color: #e11d48;
            }

            label {
              font-size: 16px;
              position: absolute;
              pointer-events: none;
              left: 0;
              top: 0;
              transition: 0.2s ease all;
              -moz-transition: 0.2s ease all;
              -webkit-transition: 0.2s ease all;
            }
          }

          .form_block_send {
                margin-top: 22px;
                display: flex;
                flex-direction: column;

                .button_black {
                  padding: 22px 40px;
                  font-family: "Acrom", sans-serif;
                  max-width: 157px;
                  font-size: 16px;

                  span {
                    margin-left: 14px;
                  }
                  :hover {
                    cursor: pointer;
                  }
                }

                input {
                  position: absolute;
                  z-index: -1;
                  opacity: 0;
                }

                input+label {
                  display: inline-block;
                  align-items: center;
                  user-select: none;
                }
                input+label::before {
                  content: '';
                  display: inline-block;
                  width: 1em;
                  height: 1em;
                  flex-shrink: 0;
                  flex-grow: 0;
                  border: 1px solid #858A9E;
                  border-radius: 0.25em;
                  margin-right: 0.5em;
                  position: absolute;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: 50% 50%;
                  left: 3%;
                }

                input:checked+label::before {
                  border-color: #858A9E;
                  background-image: url("../../images/check.svg");
                }

                .label_invalid{
                  color: #e11d48;

                  a {
                    color: #e11d48;
                  }
                }

                .checkbox_invalid+label::before {
                  border: 1px solid #e11d48;
                }
                label {
                  display: inline-block;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 100%;
                  margin: 0 0 40px 25px;
                  max-width: 220px;

                  a {
                    color: #935CFF;
                  }
                }
              }
        }
      }
    }
  }
}

@media screen and (max-width:650px) {

  .modal {
      height: auto;
      width: 100%;
      background-color: rgba(26, 27, 31, 0.2);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      margin: 0 auto;
      border-radius: 10px;
    &__content {

      width: 100%;
      .form {
        background: #1a1b1f url(../../images/form_gradient.svg) no-repeat;
        border-radius: 40px;
        padding: 80px 16px;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-position: 110px 165px;

        &__block {
          color: #ffffff;

          .form_block_title {
            top: -50px;
            margin-top: 64px;
            color: #ffffff;
            margin-bottom: 0;
            font-weight: 500;
            width: 608px;
          }

          .form_block_info {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            margin: -15px 0 0 0;
            max-width: 357px;
          }

          .form_block_text {
            display: none;
          }

          p {
            margin: 0;
          }

          .form_block_wrapper {
            width: 335px;
            margin: -28px 0 0 0;
            form {

              .error_message  {
                display: inline-block;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                position: absolute;
                top: 75%;
                color: #e11d48;
                font-size: 12px;
                line-height: 24px;
                height: 24px;
              }

              .error_message.show_error  {
                opacity: 1;
                transition: all 0.5s ease-in-out;
              }

              .form_line-double {
                display: flex;
                flex-direction: column;
                gap: 0;
                margin-bottom: 15px;

                .form_line-wrapper {
                  width: 343px;
                  margin-top: 3px;
                  margin-bottom: 3px;
                }

              }

              .form_line-double:first-child {
                display: flex;
                flex-direction: column;
                gap: 0;

                .form_line-wrapper {
                  width: 335px;
                  margin-top: 3px;
                  margin-bottom: 3px;
                }

              }

              .form_line-wrapper, .form_line-wrapper--one {
                position: relative;
                width: 335px;
                margin-top: 15px;
                margin-bottom: 0;

                input, textarea {
                  color: #fff;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 100%;
                  font-size: 16px;
                  border: 0;
                  outline: none;
                  background-color: transparent;
                  border-bottom: 1px solid #fff;
                  width: 100%;
                  padding-top: 36px;
                }

                input:focus ~ label,
                input[data-empty="false"] ~ label {
                  top: -25px;
                }

                .input_invalid {
                  border-bottom: 1px solid #e11d48;
                  color: #e11d48;
                  font-size: 16px;
                }
                .label_invalid {
                  color: #e11d48;
                }

                label {
                  font-size: 16px;
                  position: absolute;
                  pointer-events: none;
                  left: 0;
                  top: 0;
                  transition: 0.2s ease all;
                  -moz-transition: 0.2s ease all;
                  -webkit-transition: 0.2s ease all;
                }
              }

              .form_block_send {
                    margin-top: 22px;
                    display: flex;
                    flex-direction: column;

                    .button_black {
                      padding: 22px 40px;
                      font-family: "Acrom", sans-serif;
                      max-width: 157px;
                      font-size: 16px;

                      span {
                        margin-left: 14px;
                      }
                      :hover {
                        cursor: pointer;
                      }
                    }

                    input {
                      position: absolute;
                      z-index: -1;
                      opacity: 0;
                    }

                    input+label {
                      display: inline-block;
                      align-items: center;
                      user-select: none;
                    }
                    input+label::before {
                      content: '';
                      display: inline-block;
                      width: 1em;
                      height: 1em;
                      flex-shrink: 0;
                      flex-grow: 0;
                      border: 1px solid #858A9E;
                      border-radius: 0.25em;
                      margin-right: 0.5em;
                      position: absolute;
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: 50% 50%;
                      left: 3%;
                    }

                    input:checked+label::before {
                      border-color: #858A9E;
                      background-image: url("../../images/check.svg");
                    }

                    .label_invalid{
                      color: #e11d48;

                      a {
                        color: #e11d48;
                      }
                    }

                    .checkbox_invalid+label::before {
                      border: 1px solid #e11d48;
                    }
                    label {
                      display: inline-block;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 100%;
                      margin: 0 0 40px 25px;
                      max-width: 220px;

                      a {
                        color: #935CFF;
                      }
                    }
                  }
            }
          }
        }
      }

    }
  }
}

@media (max-width: 600px) {
  .it_company {
    flex-direction: column;
    margin-top: 204px;

    &__title {
      max-width: none;
      margin-bottom: 20px;
    }

    &__info {
      max-width: none;
      font-size: 15px;
    }
  }

  .web-site-reason {
    flex-direction: column;
    margin-top: 0;

    &__title {
      max-width: none;
      margin-bottom: 24px;
    }

    &__info {
      max-width: none;
      font-size: 15px;
    }
  }

  .leaders_choice_tagline {
    &__block {
      flex-direction: column;
      align-items: center;

      .leaders_choice_tagline_block_gif {
        img {
          &:first-child {
            margin-left: 0;
          }
        }
      }

      .leaders_choice_tagline_block_title {
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 530px) {
  .portfolio {
    &__products {
      .portfolio_products_block {
        .hash {
          ul {
            li {
              &:nth-child(3) {
                display: none;
              }
            }
          }
        }

        .portfolio_products_block_title {
          font-size: 26px;
        }
      }
    }
  }

  .blogs {
    &__products {
      .blogs_products_block {
        .hash {
          ul {
            li {
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }

        .blogs_products_block_title {
          font-size: 20px;
        }
      }
    }
    &__topics {
      .blogs_topics_block {
        .blogs_topics_block_title {
          font-size: 20px;
        }
      }
    }
  }

  .technologies {
    &__list {
      grid-row-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 580px) and (max-width: 1023px) {
  .breacrumbs-list {
    margin-top: 44px;
  }
}
}