@media (max-width: 375px) {
  .not-found {
    display: inline-block;
    width: 320px;
    height: 113.84px;
    background: url(../../images/notFound375.svg) no-repeat;
  }
  .breadcrumb-container {
    margin-top: 15px;
    margin-left: 0px;
  }
  .modal__content {
    border-radius: 0px;
  }
  .modal__content .form {
    padding: 18px 18px 100px 16px;
    grid-template-columns: 340px 0px;
  }
  .it_company {
    margin-top: 180px;
  }
  .web-site-reason {
    margin-top: 180px;
  }
  .margin_bottom_60 {
    margin-bottom: 20px;
  }
  .hero {
    margin-top: 48px;
  }
  .container {
    padding: 0px 16px;
  }
  .title_62 {
    font-size: 42px;
  }
  .margin_bottom_240 {
    margin-bottom: 80px;
  }
  .margin_240_black {
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
    transition: margin-right 1s, margin-left 1s;
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacts__contact {
    width: 100%;
  }
  .contacts__contact .contacts_table {
    display: flex;
    gap: 5%;
    justify-content: space-between;
  }
  .contacts__contact .contacts_table .contacts_label {
    width: 35%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contact .contacts_table .contacts_label ul {
    padding: 0px;
    margin: 0px;
  }
  .contacts__contact .contacts_table .contacts_label ul li {
    display: flex;
    list-style: none;
    margin-bottom: 80px;
  }
  .contacts__contact .contacts_table .contacts_value {
    width: 60%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contact .contacts_table .contacts_value ul {
    padding: 0px;
    margin: 0px;
  }
  .contacts__contact .contacts_table .contacts_value ul li {
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    margin-right: 10px;
  }
  .contacts__contacts_form {
    width: 100%;
  }
  .contacts__contacts_form .contact_form {
    border-radius: 40px;
    padding: 0px 125px 10px 98px;
    display: grid;
    grid-template-columns: 1.03fr 0.97fr;
    background-position: 110px 165px;
  }
  .contacts__contacts_form .contact_form__block {
    color: #1A1B1F;
    width: 120%;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_buttons_title {
    width: 100%;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #1A1B1F;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_buttons {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_title {
    color: #1A1B1F;
    margin-bottom: 0px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 38px 0px 15px 0px;
    max-width: 507px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text {
    display: flex;
    align-items: center;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text b {
    font-weight: 400;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text i {
    display: none;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_text p {
    font-size: 18px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_email a {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    color: #1A1B1F;
  }
  .contacts__contacts_form .contact_form__block p {
    margin: 0px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form {
    padding-top: 40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper {
    position: relative;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:first-child {
    margin-bottom: 78px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper:nth-child(2) {
    margin-bottom: 58px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input {
    color: #1A1B1F;
    font-weight: 500;
    line-height: 100%;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #1A1B1F;
    width: 100%;
    padding-bottom: 10px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:focus ~ label,
.contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper input:valid ~ label {
    top: -40px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_line-wrapper label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -40px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white {
    padding: 22px 40px;
    font-family: "Acrom";
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send .button_white span {
    margin-left: 14px;
  }
  .contacts__contacts_form .contact_form__block .contact_form_block_wrapper form .contact_form_block_send p {
    max-width: 250px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin: 0px;
  }
  .portfolio__products {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .portfolio__products .portfolio_products_block .hash ul li:nth-child(3) {
    display: inline-block;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_title {
    font-size: 24px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: 12px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic img {
    height: 240px;
  }
  .portfolio__products .portfolio_products_block .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: 12px;
  }
  .blogs {
    display: flex;
    flex-direction: column-reverse;
  }
  .blogs__products {
    width: 100%;
  }
  .blogs__products .blogs_products_block {
    width: 100%;
  }
  .blogs__products .blogs_products_block .hash ul li:nth-child(3) {
    display: inline-block;
  }
  .blogs__products .blogs_products_block .blogs_products_block_title {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 24px;
    color: #1A1B1F;
    font-family: "Acrom";
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .blogs__products .blogs_products_block .blogs_products_block_pic {
    margin-bottom: 12px;
  }
  .blogs__products .blogs_products_block .blogs_products_block_pic img {
    width: 98%;
    height: 240px;
  }
  .blogs__products .blogs_products_block .blogs_products_block_list {
    margin-bottom: 12px;
    display: flex;
  }
  .blogs__products .blogs_products_block .blogs_products_block_list .blogs_products_block_list_date {
    width: 30%;
  }
  .blogs__products .blogs_products_block .blogs_products_block_list .blogs_products_block_list_tags {
    width: 70%;
  }
  .blogs__topics {
    width: 100%;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_list {
    display: flex;
    flex-direction: column-reverse;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_topics {
    width: 100%;
    margin-bottom: 30px;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_topics ul li {
    margin-right: 20px;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_category {
    width: 100%;
    margin-bottom: 30px;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_list .blogs_topics_block_list_category ul li {
    margin-right: 20px;
  }
  .blogs__topics .blogs_topics_block .blogs_topics_block_title {
    font-size: 24px;
  }
  .hash__list .hash_list_block {
    margin-right: 10px !important;
  }
  .hash__list .hash_list_block a {
    font-size: 14px;
    padding: 8px 14px;
  }
  .hash__list .hash_list_block:hover a {
    padding: 8px 14px;
  }
  .form {
    padding: 80px 16px;
  }
  .form__block .form_block_title {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .form__block .form_block_info {
    font-size: 15px;
  }
  .form__block .form_block_text {
    font-size: 15px;
    display: none;
  }
  .form__block .form_block_text .form_block_gif {
    display: none;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: 341px 0px;
    padding: 18px 18px 209px 16px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block:first-child {
    margin-top: 60px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text {
    display: inline-block;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text p {
    font-size: 15px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif {
    margin-left: 0px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_text .form_block_gif {
    display: inline-block;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: 42px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button {
    width: 31px;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_modal_button::after {
    width: 31px;
  }
  .thanks_modal .thanks_modal_content .form .form_block_wrapper form .form_block_send {
    margin-top: 20px;
  }
  .thanks_form {
    padding: 80px 16px 545px 16px !important;
  }
  .thanks_form .thanks_form_block .form_block_title {
    margin-bottom: 24px;
  }
  .thanks_form .thanks_form_block .form_block_text {
    display: inline-block;
  }
  .thanks_form .thanks_form_block .form_block_text .form_block_gif {
    display: inline-block;
  }
  .technologies__list {
    margin-left: 0px;
  }
  .services__list {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 12px;
  }
  .services__list .services_list_item {
    height: 120px;
    border-radius: 20px;
  }
  .services__list .services_list_item:hover a {
    padding-bottom: 0px;
  }
  .services__list .services_list_item a {
    font-size: 18px;
  }
  .services__list .services_list_item:hover {
    transform: translateY(0);
    background: url(../../images/test_375.svg) no-repeat;
    background-size: cover;
    background-position-x: 100%;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_text {
    font-size: 15px;
  }
  .projects_process__subtitle {
    margin-bottom: 24px;
  }
  .projects_process__list {
    background-image: none;
  }
  .projects_process .projects_process_list_item {
    height: 51px;
    width: 100%;
    justify-content: normal;
  }
  .projects_process .projects_process_list_item p {
    padding-left: 50px;
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: 0px;
    padding: 0px;
  }
  .padding_50 {
    padding: 0px;
  }
  .black_bg {
    border-radius: 30px;
    padding: 80px 0px;
  }
  .black_bg .advantages__subtitle {
    margin-bottom: 24px;
    max-width: none;
  }
  .black_bg .advantages__info {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
  .black_bg .advantages__info .advantages_info_block {
    color: #fff;
  }
  .black_bg .advantages__info .advantages_info_block:first-child::before {
    display: flex;
    content: url("../../images/gradient_purple1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(2)::before {
    display: flex;
    content: url("../../images/gradient_yellow1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(3)::before {
    display: flex;
    content: url("../../images/gradient_pink1366.svg");
    position: relative;
    right: 7%;
  }
  .black_bg .advantages__info .advantages_info_block:nth-child(4)::before {
    display: flex;
    content: url("../../images/gradient_blue1366.svg");
    position: relative;
    right: 7%;
  }
  .leaders_choice_tagline {
    margin: 80px 0px 84px 0px;
  }
  .leaders_choice_tagline__block {
    flex-direction: column;
    align-items: center;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_title {
    font-size: 42px;
    text-align: center;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
    width: 48px;
    height: 48px;
    margin-left: -10px;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 340px) {
  .portfolio__products .portfolio_products_block .hash ul li:nth-child(3) {
    display: none;
  }
  .blogs__products .blogs_products_block .hash ul li:nth-child(2) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .modal__content .form {
    grid-template-columns: calc(290px + 50 * (100vw - 375px) / 448) 0px;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: calc(286px + 55 * (100vw - 375px) / 393) 0px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: calc(40px + 2 * (100vw - 375px) / 393);
  }
}
@media (max-width: 320px) {
  .modal__content .form {
    grid-template-columns: 290px 0px;
  }
  .thanks_modal .thanks_modal_content .form {
    grid-template-columns: 286px 0px;
    background: url(../../images/purple_ball.svg) 130% 48% no-repeat, url(../../images/yellow_ball.svg) 75% 100% no-repeat;
    background-size: 70%;
  }
  .thanks_modal .thanks_modal_content .form__block .form_block_title {
    font-size: 40px;
  }
}
@media (max-width: 530px) {
  .header_circle_yellow {
    position: absolute;
    width: 124.48px;
    height: 124.48px;
    left: 153.41px;
    top: 188px;
    /* Yellow gradient desktop */
    border-radius: 100%;
    -webkit-animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
            animation: header_circle_yellow 10s linear infinite, header_circle_yellowleft 6s linear infinite alternate;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 215, 113, 0.8) 0%, rgba(255, 215, 113, 0.464) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes header_circle_yellow {
    0% {
      bottom: 50%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      bottom: 50%;
      left: 60%;
    }
  }
  @keyframes header_circle_yellow {
    0% {
      bottom: 50%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      bottom: 50%;
      left: 60%;
    }
  }
  @-webkit-keyframes header_circle_yellowleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
  @keyframes header_circle_yellowleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
  .header_circle_pink {
    position: absolute;
    width: 124.48px;
    height: 124.48px;
    left: 115.33px;
    top: 114.21px;
    border-radius: 100%;
    -webkit-animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
            animation: header_circle_pink 8s linear infinite, header_circle_pinkleft 6s linear infinite alternate;
    /* Pink gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%, rgba(243, 159, 191, 0.8) 0%, rgba(243, 159, 191, 0.8) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes header_circle_pink {
    0% {
      top: 20%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      top: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      top: 20%;
      left: 60%;
    }
  }
  @keyframes header_circle_pink {
    0% {
      top: 20%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      top: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      top: 20%;
      left: 60%;
    }
  }
  @-webkit-keyframes header_circle_pinkleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
  @keyframes header_circle_pinkleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
  .header_circle_purple {
    position: absolute;
    width: 124.48px;
    height: 124.48px;
    left: 105px;
    top: 50px;
    border-radius: 100%;
    -webkit-animation: header_circle_purple 8s linear infinite, header_circle_purpleleft 6s linear infinite alternate;
            animation: header_circle_purple 8s linear infinite, header_circle_purpleleft 6s linear infinite alternate;
    /* Purple gradient desktop */
    background: radial-gradient(50% 50% at 50% 50%, rgba(143, 114, 226, 0.6) 0%, rgba(135, 130, 224, 0.6) 0%, rgba(144, 139, 237, 0.6) 0.01%, rgba(143, 114, 226, 0.48) 100%);
    filter: blur(80px);
    z-index: -1;
  }
  @-webkit-keyframes header_circle_purple {
    0% {
      bottom: 80%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      bottom: 80%;
      left: 60%;
    }
  }
  @keyframes header_circle_purple {
    0% {
      bottom: 80%;
      left: 60%;
    }
    50% {
      transform: rotate(360deg);
      bottom: 10px;
      width: 124.48px;
      height: 124.48px;
    }
    100% {
      bottom: 80%;
      left: 60%;
    }
  }
  @-webkit-keyframes header_circle_purpleleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
  @keyframes header_circle_purpleleft {
    0% {
      left: 10%;
    }
    100% {
      left: 60%;
    }
  }
}/*# sourceMappingURL=media_375.css.map */