@media (max-width: 1024px) {

    .dropdown_services_sticky{
        .dropdown_services{
            left: 12.5%;
            &__title{
                padding: 32px 51px 0px 22px;
            }
            &__info{
                padding: 32px 28px 29px 10px;
                ul{
                    grid-column-gap: 39px;
                }
            }
        }
    }


    .burger {
        display: none;
    }

    .container {
        padding: 0px 40px;
    }

    .phone_butn {
        span {
            right: 78px;
        }
    }

    .hash {
        &__list {
            .hash_list_block {
                a {
                    font-size: 10px;
                }
            }
        }
    }

    .portfolio {
        &__products {
            grid-column-gap: 2%;
            grid-row-gap: 30px;

            .portfolio_products_block {
                .portfolio_products_block_pic {
                    margin-bottom: 17px;
                }

                .portfolio_products_block_list {
                    margin-bottom: 17px;
                }
            }
        }
    }

    .form {
        padding: 71px 62px 71px 40px;

        &__block {
            .form_block_info {
                max-width: 320px;
            }
            .form_block_text {
                .form_block_gif {
                    margin-left: 22px ;
                }
            }
        }
    }

    .thanks_modal{
        .thanks_modal_content{
            .form{ 
                grid-template-columns: 470px 171px;
                padding: 26px 26px 199px 53px; 
                background: url(../../images/purple_ball.svg) 103% 15% no-repeat, url(../../images/yellow_ball.svg) 66% 105% no-repeat;
                background-size: 38%;
                &__block{
                    .form_block_title{
                        font-size: 41px;
                    }
                    .form_block_modal_button{
                        width: 22px;
                        &::after{
                            width: 22px;
                        }
                    }
                }
            }
        }
    }

    .technologies {
        &__list {
            margin-left: -33px;
        }
    }

    .bpm_cloud {
        &__info {
            .bpm_cloud_block {
                .bpm_cloud_block_title {
                    max-width: 95%;
                }
            }
        }
    }

    .projects_process {
        &__list {
            background-image: url(../../images/lines_1024.svg);
            background-size: contain;
        }

        .projects_process_list_item {
            .projects_process_list_item {
                left: 127.5px;
            }
        }
    }

    .reviews {
        &__info {
            .reviews_info_block {
                .reviews_info_block_text {
                    font-size: 11px;
                }

                .reviews_info_block_name {
                    font-size: 11px;
                }
            }

        }
    }

    .company_description {
        .title_62 {
            font-size: 42px;
        }
    }

    .services {
        &__list {

            .services_list_item {
                &:hover {
                    // background-position: 95% 45px;
                    background: url(../../images/test_1024.svg) no-repeat;
                    background-size: cover;
                    background-position-x: 100%;
                }
            }
        }
    }

    .service_package {
        &__info_list {
            grid-column-gap: 20px;
        }

        &__info {
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }
    }

    .leaders_choice {
        &__block {
            grid-column-gap: 20px;
        }
    }

    .leaders_choice_tagline {
        margin: 178px 0px;
    }

    .footer {
        grid-template-columns: 0.7fr 1.4fr 0.9fr;
    }

    .margin_bottom_60 {
        margin-bottom: 40px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .it_company {
        margin-top: calc(280px + (220 - 280) * ((100vw - 768px) / (1024 - 768)));
    }

    .margin_bottom_60 {
        margin-bottom: calc(60px + (40 - 60) * ((100vw - 768px) / (1024 - 768)));
    }

    .title_80 {
        font-size: calc(68px + (57 - 68) * ((100vw - 768px) / (1024 - 768)));
        max-width: 645px;
    }

    .hero {
        margin-top: calc(160px + (134 - 160) * ((100vw - 768px) / (1024 - 768)));
    }

    .title_62 {
        font-size: calc(46px + (44 - 46) * ((100vw - 768px) / (1024 - 768)));
        margin-bottom: calc(36px + (40 - 36) * ((100vw - 768px) / (1024 - 768)));
    }

    .margin_bottom_240 {
        margin-bottom: calc(100px + (120 - 100) * ((100vw - 768px) / (1024 - 768)));
    }

    .margin_240_black {
        margin-bottom: calc(100px + (120 - 100) * ((100vw - 768px) / (1024 - 768)));
        margin-left: 40px;
        margin-right: 40px;
        transition:  margin-right 1s, margin-left 1s;
    }

    .header {
        &__nav {
            .logo {
                width: calc(110px + (100 - 110) * ((100vw - 768px) / (1024 - 768)));
                height: calc(36px + (32 - 36) * ((100vw - 768px) / (1024 - 768)));
                background-size: cover;
            }
        }
    }

    .phone_butn {
        padding-right: calc(40px + (42 - 40) * ((100vw - 768px) / (1024 - 768)));

        .phone {
            width: calc(140px + (114 - 140) * ((100vw - 768px) / (1024 - 768)));
            height: calc(140px + (114 - 140) * ((100vw - 768px) / (1024 - 768)));
            background-size: cover;

            &:hover {
                width: calc(140px + (114 - 140) * ((100vw - 768px) / (1024 - 768)));
                height: calc(140px + (114 - 140) * ((100vw - 768px) / (1024 - 768)));
                background-size: cover;
            }
        }

        span {
            width: calc(47px + (38 - 47) * ((100vw - 768px) / (1024 - 768)));
            height: calc(47px + (38 - 47) * ((100vw - 768px) / (1024 - 768)));
            right: calc(85px + (78 - 85) * ((100vw - 768px) / (1024 - 768)));
            background-size: cover;
        }
    }


    .form {
        grid-template-columns: 1.2fr 0.8fr;
        .form_block_wrapper {
            form {
                .form_block_send {
                    p {
                        max-width: calc(140px + (178 - 140) * ((100vw - 901px) / (1024 - 901)));
                    }
                }
            }
        }

        &__block {
            .form_block_text {
                .form_block_gif {
                    margin-left: calc(30px + (22 - 30 ) * ((100vw - 768px) / (900 - 768)));
                }
            }
        }
    }

    .thanks_modal{
        .thanks_modal_content{
            .form{ 
                grid-template-columns: calc(560px + (480 - 560) * ((100vw - 768px) / (1024 - 768))) calc(50px + (275 - 50) * ((100vw - 768px) / (1024 - 768)));
                padding: calc(30px + (26 - 30) * ((100vw - 768px) / (1024 - 768))) calc(30px + (26 - 30) * ((100vw - 768px) / (1024 - 768))) calc(230px + (199 - 230) * ((100vw - 768px) / (1024 - 768))) calc(60px + (53 - 60) * ((100vw - 768px) / (1024 - 768))); 
                background: url(../../images/purple_ball.svg) 103% 15% no-repeat, url(../../images/yellow_ball.svg) 66% 105% no-repeat;
                background-size: 38%;
                &__block{
                    .form_block_text{
                        p{
                            font-size: calc(16px + (11 - 16) * ((100vw - 768px) / (1024 - 768)));
                        }
                        .form_block_gif{
                            // margin-left: 0px;
                        }
                    }
                   
                    .form_block_title{
                        font-size: calc(46px + (41 - 46) * ((100vw - 768px) / (1024 - 768)));
                    }
                    .form_block_modal_button{
                        width: calc(33px + (22 - 33) * ((100vw - 768px) / (1024 - 768)));
                        &::after{
                            width: calc(33px + (22 - 33) * ((100vw - 768px) / (1024 - 768)));
                        }
                    }
                }
                .form_block_wrapper{
                    form{
                        .form_block_send{
                            margin-top: 56px; 
                        }
                    }
                }
            }
        }
    }

    .thanks_form{
        padding: calc(80px + (86 - 80) * ((100vw - 768px) / (1024 - 768))) calc(80px + (89 - 80) * ((100vw - 768px) / (1024 - 768))) calc(491px + (87 - 491) * ((100vw - 768px) / (1024 - 768))) calc(80px + (70 - 80) * ((100vw - 768px) / (1024 - 768))) !important;
        .thanks_form_block{
            .form_block_title{
                margin-bottom: calc(49px + (25 - 49) * ((100vw - 768px) / (1024 - 768)));
            }
        }
    }

    .technologies {
        &__list {
            margin-left: calc(-33px + (-47 + 33) * ((100vw - 768px) / (900 - 768)));

            .technologies_list_item {
                p {
                    font-size: calc(16px + (13 - 16) * ((100vw - 768px) / (1024 - 768)));
                }
            }
        }
    }

    .projects_process {
        &__subtitle {
            margin-bottom: calc(37px + (41 - 37) * ((100vw - 768px) / (1024 - 768)));
            max-width: calc(800px + (424 - 800) * ((100vw - 768px) / (1024 - 768)));
        }

        &__list {
            height: calc(430px + (256 - 430) * ((100vw - 768px) / (1024 - 768)));
        }

        .projects_process_list_item {
            height: calc(51px + (36 - 51) * ((100vw - 768px) / (1024 - 768)));
            border-radius: calc(80px + (57 - 80) * ((100vw - 768px) / (1024 - 768)));

            p {
                margin-right: calc(8px + (5 - 8) * ((100vw - 768px) / (1024 - 768)));
                font-size: calc(18px + (13 - 18) * ((100vw - 768px) / (1024 - 768)));
            }

            .projects_process_list_item {
                left: calc(79.5px + (130.5 - 79.5) * ((100vw - 768px) / (1024 - 768)));
                margin-top: calc(12px + (0 - 12) * ((100vw - 768px) / (1024 - 768)));
                padding: 0px calc(50px + (36 - 50) * ((100vw - 768px) / (1024 - 768)));

                p {
                    font-size: calc(18px + (13 - 18) * ((100vw - 768px) / (1024 - 768)));
                }
            }

        }
    }

    .padding_50 {
        padding: 0px calc(50px + (33 - 50) * ((100vw - 768px) / (1024 - 768)));
    }

    .blog {
        &__products {
            column-gap: calc(10px + (17 - 10) * ((100vw - 768px) / (1024 - 768)));
        }
    }

    .leaders {
        position: relative
    }

    .leaders_choice_tagline {
        margin: calc(184px + (178 - 184) * ((100vw - 768px) / (1024 - 768))) 0px calc(207px + (178 - 207) * ((100vw - 768px) / (1024 - 768))) 0px;

        &__block {
            .leaders_choice_tagline_block_title {
                font-size: calc(46px + (44 - 46) * ((100vw - 768px) / (1024 - 768)));
            }

            .leaders_choice_tagline_block_gif {
                img {
                    width: calc(64px + (52 - 64) * ((100vw - 768px) / (1024 - 768)));
                    height: calc(64px + (52 - 64) * ((100vw - 768px) / (1024 - 768)));
                    margin-left: calc(-20px + (-10 + 20) * ((100vw - 768px) / (1024 - 768)));

                    &:first-child {
                        margin-left: calc(26px + (20 + 26) * ((100vw - 768px) / (1024 - 768)));
                    }
                }
            }
        }

        &__butn {
            button {
                padding: calc(22px + (16 - 22) * ((100vw - 768px) / (1024 - 768))) calc(40px + (29 - 40) * ((100vw - 768px) / (1024 - 768)));

                span {
                    margin-left: calc(14px + (9 + 14) * ((100vw - 768px) / (1024 - 768)));
                }
            }
        }

        .footer_circle_yellow {
            position: absolute;
            width: 234.48px;
            height: 234.48px;
            left: 153.41px;
            top: 4px;
            /* Yellow gradient desktop */
            border-radius: 100%;
            animation: footer_circle_yellow 10s linear infinite, footer_circle_yellowleft 6s linear infinite alternate;
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(255, 215, 113, 0.8) 0%,
                    rgba(255, 215, 113, 0.464) 100%);
            filter: blur(80px);
            z-index: -1;
        }
        
        @keyframes footer_circle_yellow {
            0% {
                bottom: 50%;
                left: 50%;
            }
        
            50% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                bottom: 10px;
                width: 234.48px;
                height: 234.48px;
            }
        
            100% {
                bottom: 50%;
                left: 50%;
            }
        }
        
        @keyframes footer_circle_yellowleft {
            0% {
                left: 15%;
            }
        
            100% {
                left: 50%;
            }
        }
        
        .footer_circle_pink {
            position: absolute;
            width: 234.48px;
            height: 234.48px;
            left: 115.33px;
            top: 14.21px;
            border-radius: 100%;
            animation: footer_circle_pink 8s linear infinite, footer_circle_pinkleft 6s linear infinite alternate;
            /* Pink gradient desktop */
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(243, 159, 191, 0.8) 0%,
                    rgba(243, 159, 191, 0.8) 100%);
            filter: blur(80px);
            z-index: -1;
        }
        
        @keyframes footer_circle_pink {
            0% {
                top: 20%;
                left: 50%;
            }
        
            50% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                top: 10px;
                width: 234.48px;
                height: 234.48px;
            }
        
            100% {
                top: 20%;
                left: 50%;
            }
        }
        
        @keyframes footer_circle_pinkleft {
            0% {
                left: 15%;
            }
        
            100% {
                left: 50%;
            }
        }
        
        .footer_circle_purple {
            position: absolute;
            width: 234.48px;
            height: 234.48px;
            left: 105px;
            top: 24px;
            border-radius: 100%;
            animation: footer_circle_purple 8s linear infinite, footer_circle_purpleleft 6s linear infinite alternate;
            /* Purple gradient desktop */
            background: radial-gradient(50% 50% at 50% 50%,
                    rgba(143, 114, 226, 0.6) 0%,
                    rgba(135, 130, 224, 0.6) 0%,
                    rgba(144, 139, 237, 0.6) 0.01%,
                    rgba(143, 114, 226, 0.48) 100%);
            filter: blur(80px);
            z-index: -1;
        }
        
        @keyframes footer_circle_purple {
            0% {
                bottom: 80%;
                left: 50%;
            }
        
            50% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                bottom: 10px;
                width: 234.48px;
                height: 234.48px;
            }
        
            100% {
                bottom: 80%;
                left: 50%;
            }
        }
        
        @keyframes footer_circle_purpleleft {
            0% {
                left: 15%;
            }
        
            100% {
                left: 50%;
            }
        }
    }

    .footer {
        &__contacts {
            ul {
                li {
                    a {
                        margin-right: calc(30px + (45 - 30) * ((100vw - 768px) / (1024 - 768)));
                    }
                }
            }
        }

        &__menu {
            ul {
                li {
                    a {
                        margin-right: calc(22px + (43 - 22) * ((100vw - 768px) / (1024 - 768)));
                    }
                }
            }
        }

        &__social_net {
            ul {
                li {
                    a {
                        margin-right: calc(10px + (14 - 10) * ((100vw - 768px) / (1024 - 768)));
                    }
                }
            }
        }
    }

}

@media (max-width: 940px) {
    .header {
        &__nav {

            .header_nav_list {
                display: none;
            }
        }
    }

    .burger {
        display: inline-block;
    }
}

@media (max-width: 900px) {
    .form {
        padding: 80px;
        grid-template-columns: 1fr;
        background-position: 150px 30px;

        &__block {
            .form_block_info {
                max-width: none;
                font-size: 16px;
            }

            .form_block_text {
                font-size: 16px;
                p{
                    font-size: 16px;
                }

                .form_block_gif {
                    margin-left: 50px;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .form_block_email {
                margin-bottom: 46px;

                a {
                    font-size: 30px;
                }
            }
        }

        .form_block_wrapper {
            form {
                .form_block_send {
                    margin-top: 60px;
                    p {
                        max-width: 250px;
                    }

                    .button_black {
                        padding: 22px 40px;

                        span {
                            margin-left: 14px;
                        }
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .form_line-wrapper {
                    font-size: 16px;

                    &:first-child {
                        margin-bottom: 78px;
                    }

                    &:nth-child(2) {
                        margin-bottom: 78px;
                    }

                    input:focus~label,
                    input:valid~label {
                        top: -40px;
                    }
                }

                input {
                    font-size: 16px;
                }
            }
        }
    }

    .button_black {
        border-radius: 80px;
        font-size: 16px;
    }

    .technologies {
        &__list {
            grid-row-gap: 40px;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .thanks_modal{
        .thanks_modal_content{
            .form{ 
                &__block{
                    .form_block_text{                       
                        .form_block_gif{
                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }

    .thanks_form{
        
        .thanks_form_block{
            .form_block_title{
                margin-bottom: 49px;
            }
        }
    }
}