@media (max-width: 768px) {
  .title_62 {
    line-height: 115%;
  }

  .active_link {
    font-size: 16px;
  }
  .resume-portfolio {
    .resume-portfolio-text {
      font-size: 18px;
    }
  }
  .it_company {
    margin-top: 204px;

   &__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
    &__info {
      line-height: 150%;
      flex-direction: column;
      margin-right: -12px;
      width: 688px;

      p {
        margin-top: 0;
        width: 688px;
        font-size: 15px !important;
      }
    }
  }
  .web-site-reason {
    margin-top: 280px;
  }

  .margin_bottom_60 {
    margin-bottom: 60px;
  }

  .phone_butn {
    padding-right: 40px;
    top: 690px;
    .phone {
      width: 140px;
      height: 140px;
      background-size: cover;
      &:hover {
        width: 140px;
        height: 140px;
        background-size: contain;
      }
    }
    span {
      width: 47px;
      height: 47px;
      right: 85px;
      background-size: cover;
    }
  }


  .portfolio {
    &__products {
      column-gap: 20px;
      row-gap: 20px;
      .portfolio_products_block {
        .portfolio_products_block_title {
          margin-top: 12px;
          font-size: 24px;
          line-height: 115%;
        }

        .portfolio_products_block_pic {
          width: 334px;
          height: 240px;
          margin-bottom: 20px;

          &__content {
            background-size: 334px 240px;
          }
        }

        .portfolio_products_block_list {
          margin-bottom: calc(
            17px + (24 - 17) * ((100vw - 1366px) / (1920 - 1366))
          );
        }
      }
    }
  }

  .accor__description {
   display: flex;
   flex-direction: column;
   gap: 15px;

   p {
     font-size: 15px;
   }
 }

  .modal {
      height: auto;
      width: 90%;
      background-color: rgba(26, 27, 31, 0.2);
      position: fixed;
      top: 0;
      left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      margin: 0 auto;
  }

  .services {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .services_list_item {
        height: 180px;
        border-radius: 25px;

        a {
          font-size: 20px;
        }

        &:hover {
          background: url(../../images/test_1024.svg) no-repeat;
          background-size: contain;
          background-position-x: 100%;
        }
      }

      .services_list_item.index {
        height: 180px;
        border-radius: 25px;

        a {
          font-size: 20px;
        }

        &:hover {
          background: #1A1B1F;
        }
      }
    }
  }

  .technologies {
    &__list {
      margin-left: -30px;

      .technologies_list_item {
        height: 150px;
        p {
          font-size: 16px;
        }
      }
    }
  }

  .bpm_cloud {
    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .bpm_cloud_block {
        max-width: none;

        .bpm_cloud_block_title {
          margin-bottom: 16px;
          font-size: 24px;
        }

        .bpm_cloud_block_text {
          font-size: 16px;
        }

        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .projects_process {
    &__subtitle {
      margin-bottom: 37px;
      max-width: none;
    }

    &__list {
      height: 430px;
      background-image: url(../../images/lines_768.svg);
    }

    .projects_process_list_item {
      height: 51px;
      border-radius: 80px;
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #ffffff;
        //margin: 0 8px 0 0;
      }
  
      .projects_process_list_item {
        left: 46%;
        margin-top: 12px;
        padding: 0 50px;

        p {
          font-size: 15px;
        }
        .projects_process_list_item__hover-elem {
          display: none;
          opacity: 0;
          transition: opacity .7s ease-in-out;
          transition-delay: 0.3s;
          background-color:#935CFF;
          border-radius: 25px;
          padding: 20px 15px;
          position: absolute;
          top: 130%;
          left: -25%;
          width: 235px;
          z-index: 2;
    
          .ober {
            display: inline-block;
            width: 37px;
            height: 17px;
            background: url(../../images/ober.svg);
            position: absolute;
            top: -0.7rem;
            left: 45%;
          }
    
          p {
            color:#fff;
            cursor: default;
            font-family: 'Acrom';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin: 8px 0 0 25px;
          }

          p::before {
            content:'—'
          }
    
          p:first-child {
            margin: 0;
          }
        }

        .projects_process_list_item__hover-elem.click {
          display: block;
          opacity: 1;
          transition: opacity .7s ease-in-out;
          transition-delay: .4s;
        }
      }

      .projects_process_list_item__hover-elem {
        display: none;
        opacity: 0;
        transition: opacity .7s ease-in-out;
        transition-delay: 0.3s;
        background-color:#935CFF;
        border-radius: 25px;
        padding: 20px 15px;
        position: absolute;
        top: 130%;
        left: -25%;
        width: 235px;
        z-index: 2;
  
        .ober {
          display: inline-block;
          width: 37px;
          height: 17px;
          background: url(../../images/ober.svg);
          position: absolute;
          top: -0.7rem;
          left: 45%;
        }
  
        p {
          color:#fff;
          cursor: default;
          font-family: 'Acrom';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 8px 0 0 25px;
        }

        p::before {
          content:'—'
        }
  
        p:first-child {
          margin: 0;
        }
      }

      .projects_process_list_item__hover-elem.click {
        display: block;
        opacity: 1;
        transition: opacity .7s ease-in-out;
        transition-delay: .4s;
      }
    }
  }

  .padding_50 {
    padding: 0 50px;
  }

  .black_bg {
    background: #1a1b1f;
    border-radius: 40px;
    padding: 100px 0;

    .advantages {
      &__title {
        line-height: 100%;
        margin-bottom: 40px;
      }
      &__subtitle {
        margin-bottom: 36px;
        max-width: none;
      }

      &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 36px;

        .advantages_info_block {
          color: #fff;

          &:first-child::before {
            display: flex;
            content: url("../../images/gradient_purple768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(2)::before {
            display: flex;
            content: url("../../images/gradient_yellow768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(3)::before {
            display: flex;
            content: url("../../images/gradient_pink768.svg");
            position: relative;
            right: 7%;
          }

          &:nth-child(4)::before {
            display: flex;
            content: url("../../images/gradient_blue768.svg");
            position: relative;
            right: 7%;
          }
        }
      }

      &__title {
        max-width: 600px;
      }
    }
  }

  .company_description {
    grid-template-columns: 1fr;
    column-gap: 0;

    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
        object-position: 0px -40px;
      }
    }

    &__info {
      ul {
        li {
          font-size: 16px;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .requires_design {
    grid-template-columns: 1fr;
    column-gap: 0;

    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
        object-position: 0px -40px;
      }
    }

    &__info {
      ul {
        li {
          font-size: 16px;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .service_package {
    &__info_list {
      grid-template-columns: 1fr;
      grid-column-gap: 30px;

      .font_18 {
        font-size: 16px;
      }

      .service_package_info_list_block {
        ul {
          li {
            margin-top: 14px;
          }
        }

        &:last-child {
          margin-top: 16px;
        }
      }
    }

    &__info {
      grid-template-columns: 1fr;

      .service_package_info_block {
        &__title {
          font-size: 24px;
        }

        .font_18 {
          font-size: 16px;
        }
      }
    }
  }

  .result_web_design_choice {
    &__block_title {
      margin-bottom: 14px;
    }

    &__block {
      grid-template-columns: 1fr;
      grid-column-gap: 0;

      .result_web_design_choice_block_list {
        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .leaders_choice {
    &__block_title {
      margin-bottom: 14px;
    }

    &__block {
      grid-template-columns: 1fr;
      grid-column-gap: 0;

      .leaders_choice_block_list {
        ul {
          li {
            margin-bottom: 14px;
          }

          .font_18 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .leaders_choice_tagline {
    margin: 184px 0 207px 0;

    &__block {
      .leaders_choice_tagline_block_title {
        font-size: 46px;
      }

      .leaders_choice_tagline_block_gif {
        img {
          width: 64px;
          height: 64px;
          margin-left: -20px;

          &:first-child {
            margin-left: 26px;
          }
        }
      }
    }

    &__butn {
      button {
        padding: 22px 40px;

        span {
          margin-left: 14px;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .modal {
    &__content {
      border-radius: calc(0px + (30 - 0) * ((100vw - 375px) / (768 - 375)));
    }
  }

  .web-site-reason {
    margin-top: calc(180px + (280 - 180) * ((100vw - 375px) / (768 - 375)));
  }

  .margin_bottom_60 {
    margin-bottom: calc(20px + (60 - 20) * ((100vw - 375px) / (768 - 375)));
  }

  .phone_butn {
    padding-right: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    span {
      right: calc(63px + (85 - 63) * ((100vw - 375px) / (768 - 375)));
    }
  }

  .title_62 {
    margin-bottom: calc(24px + (36 - 25) * ((100vw - 375px) / (768 - 375)));
  }

  .margin_240_black {
    margin-bottom: calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375)));
    margin-left: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    margin-right: calc(16px + (40 - 16) * ((100vw - 375px) / (768 - 375)));
    transition: margin-right 1s, margin-left 1s;
  }

  .portfolio {
    &__products {
      .portfolio_products_block {
        .portfolio_products_block_pic {
          img {
            border-radius: 20px;
            width: 334px;
            object-fit: cover;
            height: calc(150px + (280 - 150) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .reviews {
    &__info {
      width: 100%;
      .reviews_info_block {
        border-radius: 20px;
        color: #1a1b1f;
        background: #e1daf4;
        padding: 24px 20px;

        .reviews_info_block_text {
          font-size: 16px;
          line-height: 150%;
        }
        .reviews_info_block_name {
          font-size: 16px;
          line-height: 100%;
          margin-top: 28px;
        }
        .reviews_info_block_date {
          margin-top: 10px;
          ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;

            li {
              display: inline-block;
              font-size: 14px;
              color: #5c5c5c;
              &:last-child {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  .swiper {
    .swiper-slide {
      width: 320px;
      height: max-content;
      margin: 0 16px;
    }
  }

  .hash {
    &__list {
      .hash_list_block {
        a {
          padding: 6px 10px;
          font-size: 14px;
        }
      }
    }
  }

  .technologies {
    &__list {
      margin-left: calc(0px + (-30 - 0) * ((100vw - 530px) / (768 - 530)));
      grid-row-gap: 65px;
    }
  }

  .services {
    &__list {
      grid-column-gap: calc(10px + (20 - 10) * ((100vw - 375px) / (768 - 375)));
      grid-row-gap: calc(10px + (20 - 10) * ((100vw - 375px) / (768 - 375)));

      .services_list_item {
        height: calc(120px + (180 - 120) * ((100vw - 375px) / (768 - 375)));
        border-radius: calc(15px + (25 - 15) * ((100vw - 375px) / (768 - 375)));

        a {
          font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (768 - 375)));
        }

        &:hover {
          transform: translateY(0);
          //transform: translateY(calc(-7px + (-18 + 7) * ((100vw - 375px) / (768 - 375))));
          // background-position: 50% calc(35px + (75 - 35) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .bpm_cloud {
    &__info {
      .bpm_cloud_block {
        .bpm_cloud_block_title {
          margin-bottom: calc(
            12px + (16 - 12) * ((100vw - 375px) / (768 - 375))
          );
          font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (768 - 375)));
        }

        .bpm_cloud_block_text {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .padding_50 {
    padding: 0 calc(163px + (50 - 163) * ((100vw - 375px) / (768 - 375))) 0 50px;
  }

  .black_bg {
    padding: calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375))) 0
      calc(80px + (100 - 80) * ((100vw - 375px) / (768 - 375))) 0;

    .advantages {
      &__subtitle {
        margin-bottom: calc(24px - 20 * ((100vw - 375px) / (768 - 375)));
      }

      &__info {
        grid-row-gap: calc(24px - 23 * ((100vw - 375px) / (768 - 375)));
        .advantages_info_block {
          max-width: 350px;
        }
      }

      &__title {
        max-width: none;
      }
    }
  }

  .company_description {
    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
      margin-bottom: 34px;
    }

    &__pic {
      img {
        height: calc(240px + (260 - 240) * ((100vw - 375px) / (768 - 375)));
      }
    }

    &__info {
      ul {
        li {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          //margin-bottom: calc(
          //  12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
          //);
          margin-bottom: 8px;
        }
      }
    }
  }

  .requires_design {
    .title_62 {
      font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
    }

    &__pic {
      img {
        height: calc(240px + (260 - 240) * ((100vw - 375px) / (768 - 375)));
      }
    }

    &__info {
      ul {
        li {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          margin-bottom: calc(
            12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
          );
        }
      }
    }
  }

  .service_package {
    &__info {
      grid-row-gap: 25px;
    }
    &__info_list {
      margin-bottom: 28px;
      .font_18 {
        font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
      }

      .service_package_info_list_block {
        ul {
          li {
            margin-top: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }
        }
      }
    }

    &__info {
      .service_package_info_block {
        &__title {
          font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (768 - 375)));
        }

        .font_18 {
          font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
        }
      }
    }
  }

  .leaders {
    position: relative;
  }

  .result_web_design {
    position: relative;
  }

  .result_web_design_choice {
    &__block_title {
      margin-bottom: calc(12px + (14 - 12) * ((100vw - 375px) / (768 - 375)));
    }

    &__block {
      .result_web_design_choice_block_list {
        ul {
          li {
            margin-bottom: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }

          .font_18 {
            font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .leaders_choice {
    &__block_title {
      margin-bottom: calc(12px + (14 - 12) * ((100vw - 375px) / (768 - 375)));
    }

    &__block {
      .leaders_choice_block_list {
        ul {
          li {
            margin-bottom: calc(
              12px + (14 - 12) * ((100vw - 375px) / (768 - 375))
            );
          }

          .font_18 {
            font-size: calc(15px + (16 - 15) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }
  }

  .leaders_choice_tagline {
    margin: calc(80px + (184 - 80) * ((100vw - 375px) / (768 - 375))) 0
      calc(84px + (207 - 84) * ((100vw - 375px) / (768 - 375))) 0;

    &__block {
      .leaders_choice_tagline_block_title {
        font-size: calc(42px + (46 - 42) * ((100vw - 375px) / (768 - 375)));
        letter-spacing: -0.1px;
      }

      .leaders_choice_tagline_block_gif {
        img {
          width: calc(48px + (64 - 48) * ((100vw - 375px) / (768 - 375)));
          height: calc(48px + (64 - 48) * ((100vw - 375px) / (768 - 375)));
          margin-left: calc(
            -10px + (-20 + 10) * ((100vw - 375px) / (768 - 375))
          );

          &:first-child {
            margin-left: calc(0px + (26 + 0) * ((100vw - 375px) / (768 - 375)));
          }
        }
      }
    }

    .footer_circle_yellow {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 153.41px;
      top: 4px;
      /* Yellow gradient desktop */
      border-radius: 100%;
      animation: footer_circle_yellow 12s linear infinite,
        footer_circle_yellowleft 12s linear infinite alternate;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 215, 113, 0.8) 0%,
        rgba(255, 215, 113, 0.464) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_yellow {
      0% {
        bottom: 50%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        bottom: 50%;
        left: 10%;
      }
    }

    @keyframes footer_circle_yellowleft {
      0% {
        left: 60%;
      }

      100% {
        left: 10%;
      }
    }

    .footer_circle_pink {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 115.33px;
      top: 14.21px;
      border-radius: 100%;
      animation: footer_circle_pink 8s linear infinite,
        footer_circle_pinkleft 8s linear infinite alternate;
      /* Pink gradient desktop */
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(243, 159, 191, 0.8) 0%,
        rgba(243, 159, 191, 0.8) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_pink {
      0% {
        top: 20%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        top: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        top: 20%;
        left: 10%;
      }
    }

    @keyframes footer_circle_pinkleft {
      0% {
        left: 60%;
      }

      100% {
        left: 10%;
      }
    }

    .footer_circle_purple {
      position: absolute;
      width: 164.48px;
      height: 164.48px;
      left: 105px;
      top: 24px;
      border-radius: 100%;
      animation: footer_circle_purple 6s linear infinite,
        footer_circle_purpleleft 6s linear infinite alternate;
      /* Purple gradient desktop */
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(143, 114, 226, 0.6) 0%,
        rgba(135, 130, 224, 0.6) 0%,
        rgba(144, 139, 237, 0.6) 0.01%,
        rgba(143, 114, 226, 0.48) 100%
      );
      filter: blur(50px);
      z-index: -1;
    }

    @keyframes footer_circle_purple {
      0% {
        bottom: 80%;
        left: 60%;
      }

      50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        bottom: 10px;
        width: 164.48px;
        height: 164.48px;
      }

      100% {
        bottom: 80%;
        left: 60%;
      }
    }

    @keyframes footer_circle_purpleleft {
      0% {
        left: 10%;
      }

      100% {
        left: 60%;
      }
    }

  .error_message  {
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 95%;
    color: #e11d48;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
  }

  .error_message.show_error  {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}


@media (max-width: 600px) {
  .it_company {
    flex-direction: column;
    margin-top: 204px;

    &__title {
      max-width: none;
      margin-bottom: 20px;
    }

    &__info {
      max-width: none;
      font-size: 15px;
    }
  }

  .web-site-reason {
    flex-direction: column;
    margin-top: 0;

    &__title {
      max-width: none;
      margin-bottom: 24px;
    }

    &__info {
      max-width: none;
      font-size: 15px;
    }
  }

  .leaders_choice_tagline {
    &__block {
      flex-direction: column;
      align-items: center;

      .leaders_choice_tagline_block_gif {
        img {
          &:first-child {
            margin-left: 0;
          }
        }
      }

      .leaders_choice_tagline_block_title {
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 530px) {
  .portfolio {
    &__products {
      .portfolio_products_block {
        .hash {
          ul {
            li {
              &:nth-child(3) {
                display: none;
              }
            }
          }
        }

        .portfolio_products_block_title {
          font-size: 26px;
        }
      }
    }
  }

  .technologies {
    &__list {
      grid-row-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
}