@media (max-width: 1024px) {

    .container{
        padding: 0px 40px;
    }

    .hash{
        &__list{
           .hash_list_block{
            a{
                font-size: 10px;
            }
           } 
        }
    }

    .portfolio{
        &__products{
            grid-column-gap: 2%;
            grid-row-gap: 30px;
            .portfolio_products_block{
                .portfolio_products_block_pic {
                    margin-bottom: 17px;
                }
                .portfolio_products_block_list{
                    margin-bottom: 17px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title_80{
        font-size: calc(68px + (57 - 68) * ( (100vw - 768px) / ( 1024 - 768) ));
        max-width: 645px;
    } 

    .hero{
        margin-top: calc(160px + (134 - 160) * ( (100vw - 768px) / ( 1024 - 768) )); 
    }

    .title_62{
        font-size: calc(46px + (44 - 46) * ( (100vw - 768px) / ( 1024 - 768) ));
        margin-bottom: calc(36px + (40 - 36) * ( (100vw - 768px) / ( 1024 - 768) ));
    }

    .margin_bottom_240{
        margin-bottom: calc(100px + (120 - 100) * ( (100vw - 768px) / ( 1024 - 768) ));
       }
}                    

