@media (max-width: 1024px) {
  .burger {
    display: none;
  }
  .container {
    padding: 0px 40px;
  }
  .phone_butn span {
    right: 78px;
  }
  .hash__list .hash_list_block a {
    font-size: 10px;
  }
  .portfolio__products {
    grid-column-gap: 2%;
    grid-row-gap: 30px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_pic {
    margin-bottom: 17px;
  }
  .portfolio__products .portfolio_products_block .portfolio_products_block_list {
    margin-bottom: 17px;
  }
  .form {
    padding: 71px 62px 71px 40px;
  }
  .form__block .form_block_info {
    max-width: 320px;
  }
  .bpm_cloud__info .bpm_cloud_block .bpm_cloud_block_title {
    max-width: 95%;
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: 127.5px;
  }
  .reviews__info .reviews_info_block .reviews_info_block_text {
    font-size: 11px;
  }
  .reviews__info .reviews_info_block .reviews_info_block_name {
    font-size: 11px;
  }
  .reviews__info .swiper .swiper-slide {
    width: 213px;
  }
  .company_description .title_62 {
    font-size: 42px;
  }
  .service_package__info_list {
    grid-column-gap: 20px;
  }
  .service_package__info {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .leaders_choice__block {
    grid-column-gap: 20px;
  }
  .leaders_choice_tagline {
    margin: 178px 0px;
  }
  .footer {
    grid-template-columns: 0.7fr 1.4fr 0.9fr;
  }
  .margin_bottom_60 {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .margin_bottom_60 {
    margin-bottom: calc(60px + -20 * (100vw - 768px) / 256);
  }
  .title_80 {
    font-size: calc(68px + -11 * (100vw - 768px) / 256);
    max-width: 645px;
  }
  .hero {
    margin-top: calc(160px + -26 * (100vw - 768px) / 256);
  }
  .title_62 {
    font-size: calc(46px + -2 * (100vw - 768px) / 256);
    margin-bottom: calc(36px + 4 * (100vw - 768px) / 256);
  }
  .margin_bottom_240 {
    margin-bottom: calc(100px + 20 * (100vw - 768px) / 256);
  }
  .it_company {
    margin-top: calc(280px + -61 * (100vw - 768px) / 256);
  }
  .header__nav .logo {
    width: calc(110px + -10 * (100vw - 768px) / 256);
    height: calc(36px + -4 * (100vw - 768px) / 256);
    background-size: cover;
  }
  .phone_butn {
    padding-right: calc(40px + 2 * (100vw - 768px) / 256);
  }
  .phone_butn .phone {
    width: calc(140px + -26 * (100vw - 768px) / 256);
    height: calc(140px + -26 * (100vw - 768px) / 256);
    background-size: contain !important;
  }
  .phone_butn span {
    width: calc(47px + -9 * (100vw - 768px) / 256);
    height: calc(47px + -9 * (100vw - 768px) / 256);
    right: calc(85px + -7 * (100vw - 768px) / 256);
    background-size: contain;
  }
  .form .form_block_wrapper form .form_block_send p {
    max-width: calc(250px + -72 * (100vw - 768px) / 256);
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: calc(30px + 20 * (100vw - 768px) / 132);
  }
  .technologies__list {
    margin-left: -35px;
  }
  .technologies__list .technologies_list_item p {
    font-size: calc(16px + -3 * (100vw - 768px) / 256);
  }
  .projects_process__subtitle {
    margin-bottom: calc(37px + 4 * (100vw - 768px) / 256);
    max-width: calc(800px + -376 * (100vw - 768px) / 256);
  }
  .projects_process__list {
    height: calc(360px + -104 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item {
    height: calc(51px + -15 * (100vw - 768px) / 256);
    border-radius: calc(80px + -23 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item p {
    margin-right: calc(8px + -3 * (100vw - 768px) / 256);
    font-size: calc(18px + -5 * (100vw - 768px) / 256);
  }
  .projects_process .projects_process_list_item .projects_process_list_item {
    left: calc(78.5px + 49 * (100vw - 768px) / 256);
    margin-top: calc(12px + -12 * (100vw - 768px) / 256);
  }
  .padding_50 {
    padding: 0px calc(50px + -17 * (100vw - 768px) / 256);
  }
  .blog__products {
    -moz-column-gap: calc(10px + 7 * (100vw - 768px) / 256);
         column-gap: calc(10px + 7 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline {
    margin: calc(184px + -6 * (100vw - 768px) / 256) 0px calc(207px + -29 * (100vw - 768px) / 256) 0px;
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_title {
    font-size: calc(46px + -2 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img {
    width: calc(64px + -12 * (100vw - 768px) / 256);
    height: calc(64px + -12 * (100vw - 768px) / 256);
    margin-left: calc(-20px + 10 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__block .leaders_choice_tagline_block_gif img:first-child {
    margin-left: calc(26px + 46 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__butn button {
    padding: calc(22px + -6 * (100vw - 768px) / 256) calc(40px + -11 * (100vw - 768px) / 256);
  }
  .leaders_choice_tagline__butn button span {
    margin-left: calc(14px + 23 * (100vw - 768px) / 256);
  }
  .footer__contacts ul li a {
    margin-right: calc(30px + 15 * (100vw - 768px) / 256);
  }
  .footer__menu ul li a {
    margin-right: calc(22px + 21 * (100vw - 768px) / 256);
  }
  .footer__social_net ul li a {
    margin-right: calc(10px + 4 * (100vw - 768px) / 256);
  }
  .reviews__info .reviews_info_block {
    padding: calc(24px + -3 * (100vw - 768px) / 256) calc(20px + -6 * (100vw - 768px) / 256) calc(34px + -9 * (100vw - 768px) / 256) calc(20px + -6 * (100vw - 768px) / 256);
  }
  .reviews__info .reviews_info_block .reviews_info_block_text {
    font-size: calc(16px + -5 * (100vw - 768px) / 256);
  }
  .reviews__info .reviews_info_block .reviews_info_block_name {
    font-size: calc(16px + -5 * (100vw - 768px) / 256);
  }
  .reviews__info .reviews_info_block .reviews_info_block_date ul li {
    font-size: calc(14px + -4 * (100vw - 768px) / 256);
  }
  .reviews__info .swiper .swiper-slide {
    width: calc(326px + -113 * (100vw - 768px) / 256);
  }
}
@media (max-width: 900px) {
  .form {
    padding: 80px;
    grid-template-columns: 1fr;
    background-position: 150px 30px;
  }
  .form__block .form_block_info {
    max-width: none;
    font-size: 16px;
  }
  .form__block .form_block_text {
    font-size: 16px;
  }
  .form__block .form_block_text .form_block_gif {
    margin-left: 50px;
  }
  .form__block .form_block_text .form_block_gif img {
    width: 50px;
    height: 50px;
  }
  .form__block .form_block_email {
    margin-bottom: 46px;
  }
  .form__block .form_block_email a {
    font-size: 30px;
  }
  .form .form_block_wrapper form .form_block_send {
    margin-top: 60px;
  }
  .form .form_block_wrapper form .form_block_send .button_black {
    padding: 22px 40px;
  }
  .form .form_block_wrapper form .form_block_send .button_black span {
    margin-left: 14px;
  }
  .form .form_block_wrapper form .form_block_send p {
    font-size: 14px;
  }
  .form .form_block_wrapper form .form_line-wrapper {
    font-size: 16px;
  }
  .form .form_block_wrapper form .form_line-wrapper:first-child {
    margin-bottom: 78px;
  }
  .form .form_block_wrapper form .form_line-wrapper:nth-child(2) {
    margin-bottom: 78px;
  }
  .form .form_block_wrapper form input {
    font-size: 16px;
  }
  .button_black {
    border-radius: 80px;
    font-size: 16px;
  }
  .technologies__list {
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
}