@font-face {
	font-family: 'Acrom-Regular';
	src: url('/public/fonts/Acrom-Regular.eot') format('eot');
	src: local('Acrom Regular'), local('Acrom-Regular'),
		url('/public/fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-Regular.woff') format('woff'),
		url('/public/fonts/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom-Bold';
	src: url('/public/fonts/Acrom-Bold.eot') format('eot');
	src: local('Acrom Bold'), local('Acrom-Bold'),
		url('/public/fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-Bold.woff') format('woff'),
		url('/public/fonts/Acrom-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom-Thin';
	src: url('/public/fonts/Acrom-Thin.eot') format('eot');
	src: local('Acrom Thin'), local('Acrom-Thin'),
		url('/public/fonts/Acrom-Thin.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-Thin.woff') format('woff'),
		url('/public/fonts/Acrom-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom-Light';
	src: url('/public/fonts/Acrom-Light.eot') format('eot');
	src: local('Acrom Light'), local('Acrom-Light'),
		url('/public/fonts/Acrom-Light.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-Light.woff') format('woff'),
		url('/public/fonts/Acrom-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom-ExtraBold';
	src: url('/public/fonts/Acrom-ExtraBold.eot') format('eot');
	src: local('Acrom ExtraBold'), local('Acrom-ExtraBold'),
		url('/public/fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-ExtraBold.woff') format('woff'),
		url('/public/fonts/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom-Medium';
	src: url('/public/fonts/Acrom-Medium.eot') format('eot');
	src: local('Acrom Medium'), local('Acrom-Medium'),
		url('/public/fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Acrom-Medium.woff') format('woff'),
		url('/public/fonts/Acrom-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

.button_white {
  border: 1px solid #1A1B1F;
  border-radius: 80px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.button_white:hover {
  background: #1A1B1F;
  color: #FFFFFF;
}
.button_white:hover .arrow_black {
  background: url(../../images/arrow_white.svg) no-repeat;
}

.button_black {
  border: 1px solid #fff;
  border-radius: 80px;
  background: #1A1B1F;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}
.button_black:hover {
  background: #fff;
  color: #1A1B1F;
}
.button_black:hover .arrow_white {
  background: url(../../images/arrow_black.svg) no-repeat;
}

.title_44 {
  font-size: 44.1104px;
  line-height: 115%;
}

.title_62 {
  font-weight: 500;
  font-size: 62px;
  line-height: 105%;
  color: #1A1B1F;
  margin-bottom: 56px;
}

.view_all a {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1A1B1F;
}
.view_all a:hover {
  color: #935CFF;
  text-decoration: underline;
}

.hash__list {
  margin: 0px;
  padding: 0px;
}
.hash__list .hash_list_block {
  display: inline-block;
}
.hash__list .hash_list_block a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1A1B1F;
  text-decoration: none;
  border: 1px solid #1A1B1F;
  border-radius: 80px;
  padding: 8px 14px;
}
.hash__list .hash_list_block:hover a {
  color: #fff;
  border-radius: 80px;
  padding: 8px 14px;
  background: #1A1B1F;
}

.margin_bottom_240 {
  margin-bottom: 240px;
}

.view_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
}