.button_white {
  border: 1px solid #1a1b1f;
  border-radius: 80px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    background: #1a1b1f;
    color: #ffffff;
    -webkit-transition: all 0.3s linear;
    .arrow_black {
      background: url(../../images/arrow_white.svg) no-repeat;
    }
  }
}

.button_white.btn_error:hover {
  border: 1px solid rgba(26, 27, 31, 0.5);
  color: #1010104D;
  background: transparent;
  -webkit-transition: all 0.3s linear;
  cursor: default;

  &:hover {
    .arrow_black {
      background: url(../../images/arrow_black.svg) no-repeat;
      opacity: 50%;
    }
  }
}

.button_item_tag {
  border: 1px solid #1a1b1f;
  padding: 10px 20px;
  border-radius: 80px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0.4rem;

  &:hover {
    background: #1a1b1f;
    color: #ffffff;
    cursor: pointer;
  }
  &__active {
    border: 1px solid #1a1b1f;
    padding: 10px 20px;
    border-radius: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin: 0.4rem;
    background: #1a1b1f;
    color: #ffffff;
  }
  &__not_visible {
    visibility: hidden;
  }
}

.button_black {
  border: 1px solid #fff;
  border-radius: 80px;
  background: #1a1b1f;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;

  &:hover {
    background: #fff;
    color: #1a1b1f;
    cursor: pointer;
    .arrow_white {
      background: url(../../images/arrow_black.svg) no-repeat;
    }
  }
}

.button_black.btn_error:hover {
  opacity: 50%;
  color: #fff;
  background: transparent;
  -webkit-transition: all 0.3s linear;
  cursor: default;

  &:hover {
    .arrow_white {
      background: url(../../images/arrow_white.svg) no-repeat;
      opacity: 50%;
    }
  }
}

.title_44 {
  font-size: 44.1104px;
  line-height: 115%;
}

.view_all {
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1a1b1f;

    &:hover {
      color: #935cff;
      text-decoration: underline;
    }
  }
}

.hash {
  &__list {
    margin: 0;
    padding: 0;

    .hash_list_block {
      display: inline-block;

      a {
        font-weight: 400;

        line-height: 100%;
        color: #1a1b1f;
        text-decoration: none;
        border: 1px solid #1a1b1f;
        border-radius: 80px;

        transition: all 0.3s;
      }

      &:hover {
        a {
          color: #fff;
          border-radius: 80px;
          //padding: 8px 14px;
          background: #1a1b1f;
        }
      }
    }
  }
}

.view_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
  //padding-right: 23px;
}

.margin_bottom_60 {
  margin-bottom: 60px;
}

/*.padding_50 {
    padding: 0px 52px;
}*/

.not-found__hero {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
}

.not-found__title {
  color:  #1A1B1F;
  font-family: Acrom;
  font-size: 350px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 350px */
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto 50px;
}

.not-found__subtitle {
  color: #5C5C5C;
  text-align: center;
  font-family: Acrom;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 34.5px */
  width: fit-content;
  margin: 0 auto 60px;
}

.not-found__button {
  padding: 23px 28px;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
}

.not-found__button:hover > a {
  color: #ffffff !important;
}

.not-found__button a {
  text-decoration: none;
  color: #1A1B1F;

  &:hover {
    color: #fff;
  }
  &:visited {
    color: #1A1B1F;
  }
}

.not-found__button .arrow_black {
  margin-left: 10px;
}


@media screen and (max-width: 1368px) {
  .not-found__hero {
      margin-top: 120px;
  }

  .not-found__title {
    font-size: 250px;
    line-height: 100%; /* 350px */
    margin: 0 auto 43px;
  }
  
  .not-found__subtitle {
    font-size: 24px;
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 770px) {
  .not-found__hero {
    margin-top: 100px;
    margin-bottom: 100px !important;
  }

  .not-found__title {
    font-size: 160px;
    line-height: 100%; /* 350px */
    margin: 0 auto 49px;
  }
  
  .not-found__subtitle {
    font-size: 18px;
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 350px) {
  .not-found__title {
    font-size: 140px;
    line-height: 100%; /* 350px */
    margin: 0 auto 49px;
  }
  
  .not-found__subtitle {
    font-size: 16px;
    margin: 0 auto 50px;
  }
}