.button_white {
    border: 1px solid #1A1B1F;
    border-radius: 80px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    -webkit-transition: all .2s linear;

    &:hover {
        background: #1A1B1F;
        color: #FFFFFF;
        -webkit-transition: all .2s linear;

        .arrow_black {
            background: url(../../images/arrow_white.svg) no-repeat;
        }
    }
}

.button_item_tag {
    border: 1px solid #1A1B1F;
    padding: 10px 20px;
    border-radius: 80px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin: 0.4rem;

    &:hover {
        background: #1A1B1F;
        color: #FFFFFF;
        cursor: pointer;
    }
    &__active {
        border: 1px solid #1A1B1F;
        padding: 10px 20px;
        border-radius: 80px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        margin: 0.4rem;
        background: #1A1B1F;
        color: #FFFFFF;
    }
    &__not_visible {
        visibility: hidden;
    }
}

.breadcrumb-container {
    margin-top: 15px;
    margin-left: 0px;
}

.button_black {
    border: 1px solid #fff;
    border-radius: 80px;
    background: #1A1B1F;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;

    &:hover {
        background: #fff;
        color: #1A1B1F;

        .arrow_white {
            background: url(../../images/arrow_black.svg) no-repeat;
        }
    }
}

.title_44 {
    font-size: 44.1104px;
    line-height: 115%;
}

.title_62 {
    font-weight: 500;
    font-size: 62px;
    line-height: 105%;
    color: #1A1B1F;
    margin-bottom: 56px;
}

.view_all {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #1A1B1F;

        &:hover {
            color: #935CFF;
            text-decoration: underline;
        }
    }
}

.hash {
    &__list {
        margin: 0px;
        padding: 0px;

        .hash_list_block {
            display: inline-block;

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #1A1B1F;
                text-decoration: none;
                border: 1px solid #1A1B1F;
                border-radius: 80px;
                padding: 8px 14px;
            }

            &:hover {
                a {
                    color: #fff;
                    border-radius: 80px;
                    padding: 8px 14px;
                    background: #1A1B1F;
                }
            }
        }
    }
}

.margin_bottom_240 {
    margin-bottom: 240px;
}

.view_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 500;
}

.resume-portfolio{
    display: flex;
    justify-content: space-between;
    margin-top: 166px;
    margin-bottom: 60px;
    .resume-portfolio-text {
        width: 260px;
        height: 68px;
        left: 220px;
        top: 598px;
        color: #1A1B1F;
        font-family: 'Acrom';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 115%;
    }
}

.margin_bottom_60 {
    margin-bottom: 60px;
}

.padding_50 {
    padding: 0px 52px;
}

.notFoundPage {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #1A1B1F;
    margin-top: 36px;
}