.button_white {
    border: 1px solid #1A1B1F;
    border-radius: 80px;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    &:hover{
        background: #1A1B1F; 
        color: #FFFFFF;
        .arrow_black{
            background: url(../../images/arrow_white.svg) no-repeat;
        }
    }
}

.button_black {
    border: 1px solid #fff;
    border-radius: 80px;
    background: #1A1B1F;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    &:hover{
        background: #fff; 
        color: #1A1B1F;
        .arrow_white{
            background: url(../../images/arrow_black.svg) no-repeat;
        }
    }
}

.title_44 {
    font-size: 44.1104px;
    line-height: 115%;
}

.title_62 {
    font-weight: 500;
    font-size: 62px;
    line-height: 105%;
    color: #1A1B1F;
    margin-bottom: 56px;
}

.view_all {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #1A1B1F;

        &:hover {
            color: #935CFF;
            text-decoration: underline;
        }
    }
}

.hash {
    &__list {
        margin: 0px;
        padding: 0px;

        .hash_list_block {
            display: inline-block;
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #1A1B1F;
                text-decoration: none;
                border: 1px solid #1A1B1F;
                border-radius: 80px;
                padding: 8px 14px;
            }
            &:hover{
                a{
                    color: #fff;
                    border-radius: 80px;
                    padding: 8px 14px;
                    background: #1A1B1F;
                }  
            }
        }
    }
}

.margin_bottom_240{
    margin-bottom: 240px;
}