
.portfolio {
    .portfolio__products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      grid-column-gap: 20px;
      grid-row-gap: 36px;
  
      .portfolio_products_block {
        width: 100%;
        .portfolio_products_block_pic {
          overflow: hidden;
          border-radius: 25px;
          width: 100%;
          height: 390px;
          background-repeat: no-repeat;
          border-radius: 25px;
          margin-bottom: 0;
          transition: 1s;

          img {
            object-fit: cover;
          }
        }

        .portfolio_products_block_pic:hover {
            cursor: url(../../images/cursor-pointer.svg), pointer;
            transition: 1s;
            transform: scale(1.1);
            width: 100%;
        }
  
  
  
        .portfolio_products_block_list {
          margin-bottom: 24px;
  
          ul {
            li {
              margin-right: 20px;
            }
          }
        }
      }
  
      .portfolio_products_block_title {
        width: 98%;
        color: #1a1b1f;
        font-size: 30px;
        line-height: 115%;
        font-weight: 500;
      }
    }
}

.portfolio_link {
    position: relative;
    text-decoration: none;
    color: #1a1b1f;
    &::after {
      content: "";
      position: absolute;
      transform: scaleX(0);
      z-index: -1;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #935cff;
      color: #1a1b1f;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover {
      &::after {
        color: #1a1b1f;
        transform: scaleX(0);
        transform-origin: bottom left;
      }
    }
}

@media screen and (max-width: 1600px) {
    .portfolio {
        .portfolio__products {
          .portfolio_products_block {
            .portfolio_products_block_title {
              font-size: calc(
                22px + (30 - 22) * ((100vw - 1366px) / (1920 - 1366))
              );
            }
    
            .portfolio_products_block_pic {
              max-width: 100%;
              height: 300px;
              margin-bottom: calc(
                17px + (24 - 17) * ((100vw - 1366px) / (1920 - 1366))
              );
    
              img {
                max-width: 100%;
                height: 300px;
                object-fit: cover;
              }
            }
    
            .portfolio_products_block_list {
              margin-bottom: calc(
                17px + (24 - 17) * ((100vw - 1366px) / (1920 - 1366))
              );
            }
          }
        }
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        .portfolio__products {
          .portfolio_products_block {
            .portfolio_products_block_title {
              font-size: 24px;
            }
    
            .portfolio_products_block_pic {
              max-width: 100%;
              height: 240px;
              margin-bottom: 10px;
    
              img {
                max-width: 100%;
                height: 240px;
                object-fit: cover;
              }
            }
    
            .portfolio_products_block_list {
              margin-bottom: 10px;


              .hash__list {
                display: flex;
                gap: 10px;

                .hash_list_block {
                    margin: 0;
                }
              }
            }
          }
        }
    }
}

@media screen and (max-width: 530px) {
    .portfolio {
        .portfolio__products {

            grid-template-columns: 1fr;
            gap: 20px;
          .portfolio_products_block {
            .portfolio_products_block_title {
              font-size: 24px;
            }
    
            .portfolio_products_block_pic {
              max-width: 100%;
              height: 240px;
              margin-bottom: 10px;
    
              img {
                max-width: 100%;
                height: 240px;
              }
            }
    
            .portfolio_products_block_list {
              margin-bottom: 10px;


              .hash__list {
                display: flex;
                gap: 10px;

                .hash_list_block {
                    margin: 0;
                }
              }
            }
          }
        }
    }
}