body{
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #5C5C5C;
}

.container{
    margin: 0px auto;
    padding: 0px 220px;
}

.header{
    border-bottom: 2px solid #F0EFF1;
    position: sticky;
    top: 0;
    /* background: #FFFFFF;
    opacity: 0.6;
    filter: blur(200px); */
}

.header .header__nav{
    padding: 24px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__nav .header_nav_list ul{
    margin: 0px;
    padding: 0px;
}

.header .header__nav .header_nav_list ul li{
    display: inline-block;
}

.header .header__nav .header_nav_list  ul li a{
    text-decoration: none;
    margin-right: 60px;
    color: #1A1B1F;
}  

.header .header__nav .header_nav_list  ul li a:hover{
    color: #935CFF;
}  

.header .header__nav .header_nav_list  ul li:last-child a{
    margin-right: 0px;
} 

.hero{
    margin-top: 188px;
}

.hero .hero__title{
    line-height: 100%;
    max-width: 60%;
    font-size: 80px;
    margin-bottom: 20px;
}

.hero .hero__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #5C5C5C;
    max-width: 45%;
    margin-bottom: 48px;
}

.hero .hero__butn .button{
    padding: 22px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1A1B1F;
}

.hero .hero__butn .button span{
    margin-left: 14px;
}

.it_company{
    margin-top: 219px;
    display: flex;
    justify-content: space-between;
}

.it_company .it_company__title{
    max-width: 20%;
}

.it_company .it_company__info{
    max-width: 50%;
}

.portfolio{
    margin-top: 255px;
}

.portfolio .portfolio__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 56px;
}

.portfolio .portfolio__title .portfolio_butn_block a{
    font-size: 16px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #1A1B1F;
}

.portfolio .portfolio__products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header_circle {
    position: absolute;
    width: 280px;
    height: 280px;
    background: radial-gradient(circle at 280px 280px, #EF92BC, #fff);
    border-radius: 100%;
    -webkit-animation: header_circle 20s linear infinite, header_circleleft 20s linear infinite alternate;
    animation: header_circle 20s linear infinite, header_circleleft 20s linear infinite alternate;
    z-index: -1;
}

@-webkit-keyframes header_circle {
    0% {
      bottom: 50%;
      left: 50%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      bottom: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #EF92BC, #fff);
    }
    100% {
      bottom: 50%;
      left: 50%;
    }
  }
  
  @keyframes header_circle {
    0% {
      bottom: 50%;
      left: 50%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      bottom: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #EF92BC, #fff);
    }
    100% {
      bottom: 50%;
      left: 50%;
    }
  }
  
  @-webkit-keyframes header_circleleft {
    0% {
      left: 0%;
    }
    100% {
      left: 70%;
    }
  }
  
  @keyframes header_circleleft {
    0% {
      left: 0%;
    }
    100% {
      left: 70%;
    }
  }

.header_circle-2 {
    position: absolute;
    width: 280px;
    height: 280px;
    background: radial-gradient(circle at 280px 280px, #A57CFF, #fff);
    border-radius: 100%;
    -webkit-animation: header_circle-2 20s linear infinite, header_circle-2left 20s linear infinite alternate;
    animation: header_circle-2 20s linear infinite, header_circle-2left 20s linear infinite alternate;
    -webkit-box-shadow: 0 20px 15px 0 rgb(165 124 255 / 20%);
    box-shadow: 0 20px 15px 0 rgb(165 124 255 / 20%);
    z-index: -1;
}

@-webkit-keyframes header_circle-2 {
    0% {
      top: 60%;
      left: 20%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      top: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #A57CFF, #fff);
    }
    100% {
      top: 60%;
      left: 20%;
    }
  }
  
  @keyframes header_circle-2 {
    0% {
      top: 60%;
      left: 20%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      top: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #A57CFF, #fff);
    }
    100% {
      top: 60%;
      left: 20%;
    }
  }
  
  @-webkit-keyframes header_circle-2left {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes header_circle-2left {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

.header_circle-3 {
    position: absolute;
    width: 280px;
    height: 280px;
    background: radial-gradient(circle at 280px 280px, #1AB3C2, #fff);
    border-radius: 100%;
    -webkit-animation: header_circle-3 20s linear infinite, header_circle-3right 20s linear infinite alternate;
    animation: header_circle-3 20s linear infinite, header_circle-3right 20s linear infinite alternate;
    -webkit-box-shadow: 0 30px 20px 0 rgb(26 179 194 / 20%);
    box-shadow: 0 30px 20px 0 rgb(26 179 194 / 20%);
    z-index: -1;
}

@-webkit-keyframes header_circle-3 {
    0% {
      bottom: 80%;
      right: 50%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      bottom: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #1AB3C2, #fff);
    }
    100% {
      bottom: 80%;
      right: 50%;
    }
  }
  
  @keyframes header_circle-3 {
    0% {
      bottom: 80%;
      right: 50%;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      bottom: 10px;
      width: 280px;
      height: 280px;
      background: radial-gradient(circle at 280px 280px, #1AB3C2, #fff);
    }
    100% {
      bottom: 80%;
      right: 50%;
    }
  }
  
  @-webkit-keyframes header_circle-3right {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;
    }
  }
  
  @keyframes header_circle-3right {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;
    }
  }