@keyframes typing {
  from { width: 0 }
  to {
    width: 100%;
    border-right: none;
}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes cursor {
    0% {
      border-color: white;
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: white;
    }
  }

  .value-item.length {
    display: block !important;
  }

.values {
    .values__title {
        margin-bottom: 50px;
        .title {
            max-width: 842px;
            color: #1A1B1F;
            font-family: 'Acrom';
            font-size: 62px;
            font-style: normal;
            font-weight: 500;
            line-height: 105%; /* 65.1px */
            margin: 0;
            margin-bottom: 20px;

            .dev {
                display: inline-block;
                width: 38px;
                height: 38px;
                padding: 12px;
                background-color: #935CFF;
                border-radius: 100%;
                position: relative;
                top: 13px;
                left: 20px;
            }
        }
        .description {
            color: #5C5C5C;
            font-family: 'Acrom';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            p {
                width: 50%;
            }
        }

        .description.flex {
            display: flex;
            width: 100%;
            gap: 20px;
        }
    }

    .values__title.flex {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .title {
            width: 608px;
        }
        .description {
            width: 50%;
            margin: -18px 0 0 0;
        }

    }
}

.values__cards {
    .cards-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .value-item {
            border-right: 1px solid #F0EFF1;
            padding-right: 21px;
            padding-bottom: 30px;
            padding-left: 10px;

            .item__info-number {
                color: #935CFF;
                font-family: 'Acrom';
                font-size: 62px;
                font-style: normal;
                font-weight: 500;
                line-height: 105%; /* 65.1px */
                text-transform: capitalize;
                margin-bottom: 70px;
            }

            .item__info-title {
                color: #1A1B1F;
                font-family: 'Acrom';
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                margin-bottom: 20px;
            }

            .item__info-content {
                color:#5C5C5C;
                font-family: 'Acrom';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }

        .value-item.length {
            padding-right: 10px;
            padding-left: 30px;
        }

        .value-item.length:first-child {
            padding-left: 0;
            padding-right: 43px;
        }

        .value-item.it_company-item {
            border-bottom: 1px solid #F0EFF1;
            padding-left: 10px;
            padding-right: 30px;
            padding-bottom: 0;

            .item__info-number {
                padding-top: 30px;
                border-top: 1px solid #F0EFF1;
            }

             .item__info-content {
                max-width: 460px;
                color:#5C5C5C;
                font-family: 'Acrom';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }

        .value-item.it_company-item:nth-child(1) {
            border-bottom: none;
            margin-bottom: 30px;
        }

        .value-item.it_company-item:nth-child(2) {
            border-bottom: none;
            margin-bottom: 30px;
        }

        .value-item.it_company-item:nth-child(3) {
            border-left: 1px solid #F0EFF1;
            padding-left: 0;
            margin-bottom: 30px;
        }

        .value-item.it_company-item:nth-child(4) {
            .item__info-content {
                max-width: 432px;
            }
        }

        .value-item.it_company-item:nth-child(5) {
            border-bottom: none;
            .item__info-content {
                border-bottom: 1px solid #F0EFF1;
                padding-bottom: 19%;
            }
        }

        .value-item.it_company-item:nth-child(6) {
            padding-left: 0;
            margin-right: 30px;
        }


        .value_item.it_company-item.bpm {
            img {
                width: 350px;
                height: 350px;
                margin-top: 30px;
                margin-left: 70px;
            }

            .laptop_circle {
                position: relative;
                top: -357px;
                left: 76px;
                background-color: #FFD771;
                border-radius: 100%;
                width: 91px;
                height: 91px;
            }
        }

        .value_item.it_company-item.people {
            border-right: 1px solid #F0EFF1;
            position: relative;
            padding-right: 30px;

            .gif:first-child {
                opacity: 0;
                display: inline-block;
                width: 70px;
                height: 70px;
                position: absolute;
                background: url(../../images/gif-1.gif) no-repeat;
                transition: all 0.5s;
            }
            .gif:nth-child(2) {
                opacity: 0;
                display: inline-block;
                width: 70px;
                height: 70px;
                position: absolute;
                background: url(../../images/gif-2.gif) no-repeat;
                transition: all 0.5s;
            }
            .gif:nth-child(3) {
                opacity: 0;
                display: inline-block;
                width: 70px;
                height: 70px;
                position: absolute;
                background: url(../../images/gif-3.gif) no-repeat;
                transition: all 0.5s;
            }
            .gif:nth-child(4) {
                opacity: 0;
                display: inline-block;
                width: 70px;
                height: 70px;
                position: absolute;
                background: url(../../images/gif-4.gif) no-repeat;
                transition: all 0.5s;
            }
            .gif:nth-child(5) {
                opacity: 0;
                display: inline-block;
                width: 70px;
                height: 70px;
                position: absolute;
                background: url(../../images/gif-5.gif) no-repeat;
                transition: all 0.5s;
            }

            .gif.vis {
                opacity: 1;
            }

            .values_kanu, .values_vlada {
                border-top: 1px solid #F0EFF1;
                padding-top: 30px;
                display: flex;
                gap: 10px;
                padding-bottom: 51px;
                .circle-video, img,  video{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .code {
                    width: 247px;
                    background-color: #1A1B1F;
                    border-radius: 25px;
                    margin-bottom: 51px;
                    padding: 20px;


                    p {
                        margin: 0;
                        width: 0;
                        overflow: hidden; /* Ensures the content is not revealed until the animation */
                        white-space: nowrap; /* Keeps the content on a single line */
                    }

                    .vio {
                        color: #B578CC;
                    }
                    .bl {
                        color: #61AFEF;
                    }
                    .sftbl {
                        color: #6F9EB9;
                    }
                    .yel {
                        color: #E9D70C;
                    }
                    .white {
                       color: #ABB2BF;
                    }
                    .red {
                        color: #CD4B3C;
                    }
                    .or {
                        color:#D17A44;
                    }
                    .green {
                        color: #98C379;
                    }
                }

                .code.type {
                    p {
                        animation:
                        typing 0.5s steps(30, end);
                        animation: cursor 0.75s step-end infinite;
                        animation-delay: 0s;
                        animation-fill-mode: both;
                    }

                    p:nth-child(2) {
                        animation-delay: 4s;
                    }
                    p:nth-child(3) {
                        animation-delay: 6s;
                    }
                    p:nth-child(4) {
                        animation-delay: 9s;
                    }
                    p:nth-child(5) {
                        animation-delay: 12s;
                    }
                    p:nth-child(6) {
                        animation-delay: 13s;
                    }
                    p:nth-child(7) {
                        animation-duration: 1s;
                        animation-delay: 13.5s;
                    }
                }

                .welcome {
                    background-color: #1A1B1F;
                    border-radius: 25px;
                    color:#fff;
                    padding: 20px;
                }
            }

            .values_vlada {
                opacity: 0;
                transition: all 0.5s ease-in-out;
                position: relative;
                top: 64px;
                padding-bottom: 0;
                margin-left: 184px;
                border-top: 0;
                padding-top: 0;
            }

            .values_vlada.show {
                opacity: 1;
                position: relative;
                transition: all 0.5s ease-in-out;
                top: 0;
            }
        }

        .value-item:first-child {
            padding-left: 0;
        }

        .value-item:last-child {
            border-right: none;
            padding-right: 0;
        }

        .value-item.length {
            padding-left: 30px;
        }

        .value-item.length:first-child {
            padding-left: 0;
            padding-right: 43px;
        }
    }

    .cards-list.length {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cards-list.it_company-list {
        column-gap: 20px;
    }
}



@media screen and (max-width: 1600px) {
    .values {
        .values__title {
            margin-bottom: 38px;
            .title {
                max-width: 629px;
                font-size: 44.11px;
                margin-bottom: 6px;

                .dev {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    padding: 8.5px;
                    background-color: #935CFF;
                    border-radius: 100%;
                    position: relative;
                    top: 13px;
                    left: 20px;
                }
            }
            .description {
                font-size: 12.806px;

                p {
                    width: 100%;
                }
            }

            .description.flex {
                display: flex;
                width: 100%;
                gap: 14px;
            }
        }

        .values__title.flex {
            display: flex;
            justify-content: space-between;
            margin-top: 41px;
            .title {
                width: 432px;
            }
            .description {
                width: 50%;
                margin: -12px 0 0 0;
            }

        }

        .values__cards {
            .cards-list {
                .value-item {
                    border-right: 1px solid #F0EFF1;
                    padding-right: 16px;
                    padding-left: 10px;

                    .item__info-number {
                        font-size: 44.11px;
                        margin-bottom: 50px;
                    }

                    .item__info-title {
                        font-size: 17.075px;
                        margin-bottom: 14px;
                    }

                    .item__info-content {
                        font-size: 12.806px;
                    }
                }

                .value-item:first-child {
                    padding-left: 0;
                }

                .value-item:last-child {
                    border-right: none;
                    padding-right: 0;
                }

                .value-item.length {
                    padding-left: 17px;
                    padding-right: 23px;

                    .item__info-content {
                        font-size: 12.806px;
                    }
                }

                .value-item.length:first-child {
                    padding-left: 0;
                    padding-right: 23px;
                }
                .value-item.length:last-child {
                    padding-right: 0;
                }

                .value-item .it_company-item {
                    margin-top: 23px;
                    margin-bottom: 23px;
                    padding-right: 22px;

                    .item__info-content {
                        max-width: 357px;
                        color:#5C5C5C;
                        font-family: 'Acrom';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

                .value-item.it_company-item:nth-child(3) {
                    border-left: 1px solid #F0EFF1;
                }

                .value-item.it_company-item:nth-child(4) {
                    border-right: none;

                    .item__info-content {
                        max-width: 432px;
                    }
                }

                .value_item.it_company-item.bpm {
                    img {
                        width: 350px;
                        height: 350px;
                        margin-top: 10px;
                        margin-left: 70px;
                    }

                    .laptop_circle {
                        position: relative;
                        top: -357px;
                        left: 76px;
                        background-color: #FFD771;
                        border-radius: 100%;
                        width: 91px;
                        height: 91px;
                    }
                }

                .value_item.it_company-item.people {
                    margin-top: 30px;
                    padding-right: 10px;

                    .values_kanu, .values_vlada {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 51px;
                        .circle-video, img,  video{
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        .code {
                            width: 247px;
                            background-color: #1A1B1F;
                            border-radius: 25px;
                            margin-bottom: 51px;
                            padding: 20px;


                            p {
                                margin: 0;
                                width: 0;
                                overflow: hidden; /* Ensures the content is not revealed until the animation */
                                white-space: nowrap; /* Keeps the content on a single line */
                            }

                            .vio {
                                color: #B578CC;
                            }
                            .bl {
                                color: #61AFEF;
                            }
                            .sftbl {
                                color: #6F9EB9;
                            }
                            .yel {
                                color: #E9D70C;
                            }
                            .white {
                            color: #ABB2BF;
                            }
                            .red {
                                color: #CD4B3C;
                            }
                            .or {
                                color:#D17A44;
                            }
                            .green {
                                color: #98C379;
                            }
                        }

                        .code.type {
                            p {
                                animation:
                                typing 3.5s steps(30, end);
                                animation-delay: 0s;
                                animation-fill-mode: both;
                            }

                            p:nth-child(2) {
                                animation-delay: 4s;
                            }
                            p:nth-child(3) {
                                animation-delay: 6s;
                            }
                            p:nth-child(4) {
                                animation-delay: 9s;
                            }
                            p:nth-child(5) {
                                animation-delay: 12s;
                            }
                            p:nth-child(6) {
                                animation-delay: 13s;
                            }
                            p:nth-child(7) {
                                animation-duration: 1s;
                                animation-delay: 13.5s;
                            }
                        }

                        .welcome {
                            background-color: #1A1B1F;
                            border-radius: 25px;
                            color:#fff;
                            padding: 20px;
                        }
                    }

                    .values_vlada {
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                        position: relative;
                        top: 64px;
                        margin-bottom: 0;
                        margin-left: 184px;
                    }

                    .values_vlada.show {
                        opacity: 1;
                        position: relative;
                        transition: all 0.5s ease-in-out;
                        top: 0;
                    }
                }

            }
        }
    }

    .values__cards .cards-list .value-item.it_company-item {
        height: 230px;
        margin-top: 23px;
        margin-bottom: 23px;
        padding-right: 22px;

        .item__info-content {
            color:#5C5C5C;
            font-family: 'Acrom';
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .values__cards .cards-list .value_item.it_company-item.people {
        margin-top: -33px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm img {
            width: 249px;
            height: 249px;
            margin-top: 10px;
            margin-left: 50px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm .laptop_circle {
        position: relative;
        top: -257px;
        left: 52px;
        background-color: #FFD771;
        border-radius: 100%;
        width:  64px;
        height: 64px;
    }
    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .circle-video {
        width: 28px;
        height: 28px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .circle-video {
        width: 28px;
        height: 28px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu video {
        width: 28px;
        height: 28px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada video {
        width: 28px;
        height: 28px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .gif {
        margin-top: -25px;
        width: 350px;
        height: 50%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code {
        width: 170px;
        padding: 14px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code.type p {
        font-size: 10px;
        line-height: 150%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada {
        top: 0;
        margin-left: 151px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada.show {
        top: -67px;
        margin-left: 151px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .welcome  {
        background-color: #1A1B1F;
        border-radius: 17px;
        font-size: 10px;
        line-height: 150%;
        color: #fff;
        padding: 14px;
    }
    .values__cards .cards-list .value-item.it_company-item:nth-child(4) {
        padding-right: 0;
        max-width: 327px;
        font-size: 12px;
        margin-top: -33px;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(3) {
        margin-top: -33px;
    }

    .values__cards .cards-list .value-item .item__info-number {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .values__cards .cards-list .value-item .item__info-title {
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .values {
        .values__title {
            margin-bottom: 38px;
            .title {
                max-width: 653px;
                font-size: 44.11px;
                margin-bottom: 20px;

                .dev {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    padding: 8.5px;
                    background-color: #935CFF;
                    border-radius: 100%;
                    position: relative;
                    top: 13px;
                    left: 20px;
                }
            }
            .description {
                font-size: 12.806px;

            }
        }
    }
}

@media screen and (max-width: 940px) {
    .values {
        .values__title {
            margin-bottom: 38px;
            .title {
                max-width: 568px;
                font-size: 42px;
                margin-bottom: 20px;

                .dev {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    padding: 8.5px;
                    background-color: #935CFF;
                    border-radius: 100%;
                    position: relative;
                    top: 13px;
                    left: 20px;
                }
            }
            .description {
                font-size: 15px;

                p {
                    min-width: 100%;
                    margin: 0;
                }
            }

            .description.flex {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 15px;
            }
        }

        .values__title.flex {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 41px;
            .title {
                width: 687px;
            }
            .description {
                width: 100%;
                margin: 20px 0 0 0;
            }

        }

        .values__cards {
            .cards-list {
                grid-template-columns: 1fr;

                .value-item {
                    border-right: none;
                    border-bottom: 1px solid #F0EFF1;
                    padding-right: 16px;
                    padding-left: 7px;
                    margin-bottom: 25px;

                    .item__info-number {
                        font-size: 42px;
                        margin-bottom: 25px;
                    }

                    .item__info-title {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .item__info-content {
                        max-width: 100%;
                        font-size: 15px;
                        padding-bottom: 25px;
                    }
                }

                .value-item:first-child {
                    padding-left: 0;
                }

                .value-item:last-child {
                    border-right: none;
                    padding-right: 0;
                }

                .value-item.length {
                    border-right: 1px solid #F0EFF1;
                    border-bottom: none;
                    padding-left: 10px;
                    margin-bottom: 0;

                    .item__info-content {
                        font-size: 15px;
                        padding-bottom: 0px;
                    }
                }

                .value-item.length:first-child {
                    padding-left: 0;
                    padding-right: 0;
                }

                .value-item.length:nth-child(2){
                    border-right: none;
                    padding: 0;
                    padding-left: 10px;
                }

                .value-item.length:nth-child(3){
                    margin-top: 25px;
                    padding-right: 0;
                    padding-left: 0;
                     .item__info-content {
                        font-size: 15px;
                    }
                }

                .value-item.length:nth-child(4){
                    margin-top: 25px;
                    border-right: none;
                    padding: 0;
                    padding-left: 10px;
                }
            }

            .cards-list .it_company-list {
                grid-template-columns: 1fr 1fr;
            }

            .cards-list.length {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .values__cards .cards-list.it_company-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .values {
        .values__title {
            margin-bottom: 38px;
            .title {
                max-width: 568px;
                font-size: 42px;
                margin-bottom: 20px;

                .dev {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    padding: 8.5px;
                    background-color: #935CFF;
                    border-radius: 100%;
                    position: relative;
                    top: 13px;
                    left: 20px;
                }
            }
            .description {
                font-size: 15px;

                p {
                    min-width: 100%;
                    margin: 0;
                }
            }

            .description.flex {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 15px;
            }
        }

        .values__title.flex {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 41px;
            .title {
                width: 687px;
            }
            .description {
                width: 100%;
                margin: 20px 0 0 0;
            }

        }

        .values__cards {
            .cards-list.length {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;

                .value-item {
                    border-right: none;
                    border-bottom: 1px solid #F0EFF1;
                    padding-right: 16px;
                    padding-left: 7px;
                    margin-bottom: 25px;

                    .item__info-number {
                        font-size: 42px;
                        margin-bottom: 25px;
                    }

                    .item__info-title {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .item__info-content {
                        max-width: 100%;
                        font-size: 15px;
                        padding-bottom: 25px;
                    }
                }

                .value-item:first-child {
                    padding-left: 0;
                }

                .value-item:last-child {
                    border-right: none;
                    padding-right: 0;
                }

                .value-item.length {
                    border-right: 1px solid #F0EFF1;
                    border-bottom: none;
                    padding-left: 10px;
                    margin-bottom: 0;

                    .item__info-content {
                        max-width: 100%;
                        font-size: 15px;
                        padding-bottom: 0px;
                    }
                }

                .value-item.length:first-child {
                    padding-left: 0;
                    padding-right: 10px;
                }

                .value-item.length:nth-child(2){
                    border-right: none;
                    padding: 0;
                    padding-left: 10px;
                }

                .value-item.length:nth-child(3){
                    margin-top: 25px;
                     .item__info-content {
                        max-width: 311px;
                        font-size: 15px;
                    }
                }

                .value-item.length:nth-child(4){
                    margin-top: 25px;
                    border-right: none;
                    padding: 0;
                    padding-left: 10px;
                }
            }

            .cards-list {
                grid-template-columns: 1fr;
            }
        }
    }

    .values__cards .cards-list.it_company-list {
        grid-template-columns: 1fr 1fr;
    }

    .values__cards .cards-list .value-item.it_company-item {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 12px;

        .item__info-content {
            color:#5C5C5C;
            font-family: 'Acrom';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .values__cards .cards-list .value-item.it_company-item:first-child {
        height: 285px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 12px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm {
        border-right: 1px solid #F0EFF1;
        margin-top: 25px;
        padding-right: 15px;
        margin-bottom: 50px;
        height: 350px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm img {
            width: 323px;
            height: 323px;
            margin-top: 0;
            margin-left: 5px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm .laptop_circle {
        position: relative;
        top: -324px;
        left: 29px;
        background-color: #FFD771;
        border-radius: 100%;
        width:  68px;
        height: 68px;
    }

    .values__cards .cards-list .value_item.it_company-item.people {
        padding-left: 10px;
        margin-top: 25px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .circle-video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .circle-video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .gif {
        width: 350px;
        height: 50%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code {
        width: 229px;
        padding: 20px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code.type p {
        font-size: 14px;
        line-height: 150%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada {
        top: 0;
        margin-left: 118px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada.show {
        top: -67px;
        margin-left: 118px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .welcome  {
        background-color: #1A1B1F;
        border-radius: 17px;
        font-size: 10px;
        line-height: 150%;
        color: #fff;
        padding: 14px;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(2) {
        padding-right: 0;
        max-width: 331px;
        font-size: 15px;
        border-right: none;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(3) {
        margin-top: 0;
        padding-left: 0;
        border-left: none;
        max-width: 331px;
        font-size: 15px;
        height: 272px;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(4) {
        margin-top: 0;
        padding-right: 0;
        max-width: 331px;
        font-size: 15px;
    }

    .values__cards .cards-list .value-item .item__info-number {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .values__cards .cards-list .value-item .item__info-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 570px) {
    .values {
        .values__title {
            margin-top: 130px;
            margin-bottom: 38px;
            .title {
                max-width: 90%;
                font-size: 42px;
                margin-bottom: 20px;
            }
            .description {
                font-size: 15px;

                p {
                    min-width: 100%;
                    margin: 0;
                }
            }
        }

        .values__cards {
            .cards-list.length {
                display: grid;
                grid-template-columns: 1fr;
                width: 100%;

                .value-item {
                    border-right: none;
                    border-bottom: 1px solid #F0EFF1;
                    padding-right: 16px;
                    padding-left: 7px;
                    margin-bottom: 25px;

                    .item__info-number {
                        font-size: 42px;
                        margin-bottom: 25px;
                    }

                    .item__info-title {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    .item__info-content {
                        max-width: 100%;
                        font-size: 15px;
                        padding-bottom: 25px;
                    }
                }

                .value-item:first-child {
                    padding-left: 0;
                }

                .value-item:last-child {
                    border-right: none;
                    padding-right: 0;
                }

                .value-item.length {
                    border-right: none;
                    border-left: none;
                    padding-left: 0;
                    margin-bottom: 0;

                    .item__info-content {
                        max-width: 100%;
                        font-size: 15px;
                        padding-bottom: 0px;
                    }
                }
            }

            .cards-list {
                grid-template-columns: 1fr;
            }
        }
    }

    .values__cards .cards-list.it_company-list {
        grid-template-columns: 1fr;
    }

    .values .values__cards .cards-list.length .value-item.length {
        padding-left: 0 !important;
        margin-top: 25px !important;
        padding-bottom: 25px !important;
        border-bottom: 1px solid #F0EFF1;
    }

    .values .values__cards .cards-list.length .value-item.length:first-child {
        margin-top: 0 !important;
    }

    .values__cards .cards-list .value-item.it_company-item {
        padding-top: 25px;
        margin-top: 0;
        margin-bottom: 25px;
        padding-right: 0;
        border-right: none;
        border-top: 1px solid #F0EFF1;

        .item__info-content {
            max-width: 331px;
            color:#5C5C5C;
            font-family: 'Acrom';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .values__cards .cards-list .value-item.it_company-item:first-child {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 12px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm {
        border-right: none;
        border-top: 1px solid #F0EFF1;
        border-bottom: 1px solid #F0EFF1;
        margin-top: 0;
        padding-top: 25px;
        margin-bottom: 25px;
        height: 350px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm img {
            width: 323px;
            height: 323px;
            margin-top: 0;
            margin-left: 5px;
    }

    .values__cards .cards-list .value_item.it_company-item.bpm .laptop_circle {
        position: relative;
        top: -324px;
        left: 29px;
        background-color: #FFD771;
        border-radius: 100%;
        width:  68px;
        height: 68px;
    }

    .values__cards .cards-list .value_item.it_company-item.people {
        padding-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .circle-video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .circle-video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada video {
        width: 40px;
        height: 40px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .gif {
        margin-top: -5px;
        margin-left: -10px;
        width: 350px;
        height: 50%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code {
        width: 229px;
        padding: 20px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_kanu .code.type p {
        font-size: 14px;
        line-height: 150%;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada {
        top: 0;
        margin-left: 118px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada.show {
        top: -67px;
        margin-left: 69px;
    }

    .values__cards .cards-list .value_item.it_company-item.people .values_vlada .welcome  {
        background-color: #1A1B1F;
        border-radius: 17px;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
        padding: 14px;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(2) {
        padding-right: 0;
        max-width: 331px;
        font-size: 15px;
        border-right: none;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(3) {
        margin-top: 0;
        padding-left: 0;
        border-left: none;
        max-width: 331px;
        font-size: 15px;
        height: auto;
    }

    .values__cards .cards-list .value-item.it_company-item:nth-child(4) {
        margin-top: 0;
        padding-right: 0;
        max-width: 331px;
        font-size: 15px;

        .item__info-content {
            padding-bottom: 25px;
            border-bottom: 1px solid #F0EFF1;
        }
    }

    .values__cards .cards-list .value-item .item__info-number {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .values__cards .cards-list .value-item .item__info-title {
        font-size: 20px;
    }
}