.span_breadcrumbs {
    margin-left: 21px;
    &:first-child {
        margin-left: 0px;
    }

    .breadcrumbs_span {
        margin-left: 21px;
    }
    .breadcrumbs {
        text-decoration: none;
        height: 10px;
        font-family: 'Acrom';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #1A1B1F;
        &:hover {
            cursor: pointer;
            color: #935CFF;
        }
    }
}

.span_breadcrumbs:last-child {
    cursor: auto;
    color: #5C5C5C;
    pointer-events: none;

    a {
        color: #5C5C5C;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .breadcrumbs-list {
        margin-top: 35px;
    }

    .span_breadcrumbs {
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }

        .breadcrumbs_span {
            margin-left: 10px;
            font-size: 11px;
        }
        .breadcrumbs {
            width: 79px;
            height: 10px;
            font-family: 'Acrom';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 100%;
            color: #1A1B1F;
            &:hover {
                cursor: pointer;
                color: #935CFF;
            }
        }
    }
    .span_breadcrumbs:last-child {
        cursor: auto;
        color: #5C5C5C;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .breadcrumbs-list {
        margin-top: 44px;
    }

    .span_breadcrumbs {
        margin-left: 12px;
        &:first-child {
            margin-left: 0px;
        }

        .breadcrumbs_span {
            margin-left: 12px;
            font-size: 11px;
        }
    }
}

@media (max-width: 480px) {
    .breadcrumbs-list {
        width: 378px;
        margin-top: 0;
        margin-bottom: 40px;
        position: fixed;
    }

    .breadcrumbs_span {
        margin-left: 10px;
    }

    .span_breadcrumbs {
        margin-left: 10px;
        font-size: 14px;
        line-height: 100%;

    }
}
